<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/static/js/tiny_mce_config.js"></script>
<h2>Note for $resident.person.first $resident.person.last</h2>
<form action=/resident/note_do/$resident.id>
<textarea name=note>
</textarea>
<input type=submit value="Submit">
</form>
