<html>
<head>
<style>
.front {
    margin-left: ${fleft}mm;
    margin-top: ${ftop}mm;
}
.back {
    margin-left: ${bleft}mm;
    margin-top: ${btop}mm;
}
td {
    width: ${width}in;
    height: ${height}in;
}
table, td {
    border: 1px dotted lightgrey;
    border-collapse: collapse;
}
.center {
    text-align: center;
}
.image {
    margin-bottom: 3mm;
    width: 130px;
}
.name {
    font-weight: bold;
    font-family: Calibri;
    color: #4E2222;
}
.first {
    font-size: ${first_font_size}pt;
    margin-top: .1in;
    margin-bottom: 0in;
}
.last {
    font-size: ${last_font_size}pt;
    margin-top: 0in;
    margin-bottom: 0in;
}
.long_name {
    font-size: ${last_font_size}pt;
}
.program {
    font-size: ${title_font_size}pt;
    font-family: Calibri;
    color: #4E2222;
}
.dates {
    font-size: 15pt;
    color: #4E2222;
    font-family: Calibri;
}
.emergency_lab {
    font-size: 18pt;
    font-family: Calibri;
    color: #4E2222;
    font-weight: bold;
}
.emergency_txt {
    font-size: 18pt;
    font-family: Calibri;
    color: black;
    font-weight: bold;
}
.room_lab, .main_lab, .oaks_lab, .return {
    font-size: 15pt;
    font-family: Calibri;
    color: #4E2222;
    margin-top: 3mm;
}
.return {
    /* text-align: left; */
    margin-left: .5mm;
}
.room_txt, .main_txt, .oaks_txt {
    font-size: 15pt;
    font-family: Calibri;
    font-weight: bold;
    color: black;
}
.lan {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.pronouns {
    font-family: Calibri;
    font-size: 13pt;
    margin-bottom: .1in;
    color: #4E2222;
}
</style>
</head>
<body>
