<h2>Online Registrations</h2>
<a href="/registration/grab_new">Grab New</a>
<p class=p2>
<table cellpadding=3>
<tr>
<th align=left>Person</th>
<th align=left>Program</th>
<th>Date</th>
<th>Time</th>
</tr>
[% FOR r IN online %]
<tr>
<td><a href="/registration/get_online/[% r.fname %]">[% r.last %], [% r.first %]</a></td>
<td><a href="/program/view/[% r.pid %]">[% r.pname %]</a></td>
<td>[% r.date.format("%m/%d") %]</td>
<td>[% r.time.ampm %]</td>
</tr>
[% END %]
</table>
