<h2>Importing D/C/M Registrations into [% cur_prog.name %] ([% cur_prog.sdate_obj %])</h2>
<form action="/registration/mmi_import_do/[% cur_prog.id %]">
<ul>
<table cellpadding=5>
<tr>
<th>Name</th>
<th>Start Date</th>
<th>End Date</th>
</tr>
[% FOREACH p IN hpm_progs %]
<tr>
<td><input type=checkbox name=n[% p.id %] value=yes> [% p.name %]</td>
<td>[% p.sdate_obj %]</td>
<td>[% p.edate_obj %]</td>
</tr>
[% END %]
<tr>
<td><input type=submit value="Submit"></td>
</tr>
</table>
<ul>
</form>
