Participant list for [% program.name %] sent to [% email %].
<p>
<input id='back' type=button value="Back" onclick="history.go(-1)">
<script type='text/javascript'>document.getElementById('back').focus();</script>

