<style type="text/css">
.extended {
    color: red;
}
</style>
<h2>[% type %]Participant List for [% program.name %] from [% program.dates %]</h2>
<a href='mailto: ?bcc=$email_all'>Email All Bcc</a>
<p>
[% FOR r IN rows %]
[% r %]
[% END %]
