<h2>Emails for Registrants in<br>$program.name<br>who are not HFS members</h2>
<ul>
[% FOR em IN emails %]
<a href='mailto:$em'>$em</a><br>
[% END %]
<p class=p2>
<a href='mailto: ?bcc=$bcc'>Email All Bcc</a>
<p class=p2>
<a href='/program/view/$program.id'>To Program</a>
</ul>
