<style>
body {
    margin-top: 10mm;
    margin-left: 10mm;
}
</style>
<h2>$program.title - $program.dates</h2>
$program.leader_names
<p>
Registrations as of ${today}:
<p>
Count: $program.reg_count[% IF program.extradays %]/$program.full_count[% END %]
$regs
