<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>MMC Online Registration - Success</title>
<link href="http://www.mountmadonna.org/regform.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="wrapper">
    <div class="header"><img src="http://www.mountmadonna.org/Gif/navbar_home.gif" width="133" height="111" alt="logo" /></div>
    
    <div class="main">
        <div class="top"></div>
        
        <div class="middle">
        
            <div class="steps"><h1>Online Registration</h1>
            <img src="http://www.mountmadonna.org/Gif/step_4.gif" width="797" height="43" />            </div>


			<div class="receipt">
				<div class="success">
					<img src="http://www.mountmadonna.org/Gif/success.jpg">
					<div class="success_text">
						<h2>Thank you, [% x_fname %].</h2>
						<h3>Your payment has been received.</h3>
					</div>
				</div>
				<br style="clear:both;" />
				<p>
				[% IF x_title == 'Personal Retreat' %]
				We have received your online registration for a Personal Retreat
				from [% x_sdate %] to [% x_edate %].
				[% ELSE %]
				We have received your online registration for the<br>
				[% x_title %] program[% IF x_leader_names %] with [% x_leader_names %][% END %].
				[% END %]
				<p>
				Your credit card has been charged $[% x_amount %]
				via an authorize.net transaction.<br>
				The id for this transaction is [% x_trans_id %].<br>
				<p>
				The above information has been sent to you via an email to [% x_email %].<br>
				You will soon receive <i>another</i> letter from reservations@mountmadonna.org<br>
				with confirmation of your housing and all the details you will need to know<br>
				prior to coming to Mount Madonna Center.
				<p>
				<p>
				Do <b>not</b> make travel plans until you have received
				your housing confirmation letter.
				
			</div>
			
			<div class="links">
				<ul>
					<li><a href='[% IF x_title == 'Personal Retreat' %]http://www.mountmadonna.org/personal [% ELSE %][% x_plink %][% END %]'>Back to Program Info</a></li>
					<li><a href="http://www.mountmadonna.org/live/programs.html">See all Programs</a></li>
					<li><a href="http://www.mountmadonna.org">Mount Madonna Center Home Page</a></li>
				</ul>
			</div>
					
					
        </div>
        
        <div class="bot"></div>
    </div>
</div>
</body>
</html>

