<html>
<head>
<script type="text/javascript">
var newwin;
function popup(url, height) {
    newwin = window.open(
        url, 'reg_search_help',
        'height=' + height + ',width=550, scrollbars'
    );
    if (window.focus) {
        newwin.focus();
    }
    newwin.moveTo(700, 0);
}
</script>
<style type="text/css">
body {
    margin-left: .5in;
    margin-top: .5in;
    margin-bottom: .5in;
    font-family: Lucida Grande, Verdana, Helvetica;
}
.dow {
    color: red;
}
.special {
    font-weight: bold;
    color: red;
}
</style>
</head>
<body>
<h2>
[% hash.name %] 
<span style="margin-left: 1in;font-size: 13pt">[% sdate %] <span class=dow>[% sdate.format("%a") %]</span>
<b>To</b>
[% edate %] <span class=dow>[% edate.format("%a") %]</span>
</span>
<span style="margin-left: .5in; font-size: 15pt;">[% hash.first %] [% hash.last %]
<p>
Housing Assignment Grid<span style="margin-left: 1in; font-size: 12pt;"><a href=http://www.mountmadonna.org/cgi-bin/grid?code=[% code %]>ReEdit</a></span>
<span style="margin-left: 1in; font-size: 13pt;"><a href="javascript:popup('http://www.mountmadonna.org/rental/hints.html',430)">Helpful Hints</a></span>
</h2>
<p>
<table cellpadding=5 border=1>
<tr>
<th>Room/Site</th>
<th align=right>Bed</th>
<th align=left width=300>Name</th>
[% days %]
<th>Cost</th>
</tr>
[% FOR h IN houses %]
    [% max = h.max %]
    [% bed = 1 %]
    [% WHILE bed <= max %]
        <tr>
        [% IF bed == 1 %]
            <th rowspan=[% max %] align=center>[% h.name %]
                <span style="font-weight: normal">
                [% IF h.bath %] - b
                [% ELSIF h.tent && h.own %] - o
                [% ELSIF h.tent %] - c
                [% END %]
                </span>
            </th>
        [% END %]
        <td align=right>[% bed %]</td>
        [% vn = 'p' _ h.id _ '_' _ bed %]
        [% vc = 'c' _ h.id _ '_' _ bed %]
        [% vcl = 'cl' _ h.id _ '_' _ bed %]
        [% IF data.$vcl == 1 %]
            <td class=special>[% data.$vn %]</td>
        [% ELSE %]
            <td>[% data.$vn %]</td>
        [% END %]
        [% n = 1 %]
        [% WHILE n <= nnights %]
            [% v = 'n' _ h.id _ '_' _ bed _ '_' _ n %]
            [% IF data.$v %]
            <td bgcolor=green width=20>&nbsp;</td>
            [% ELSE %]
            <td width=20>&nbsp;</td>
            [% END %]
            [% n = n + 1 %]
        [% END %]
        <td align=right>[% data.$vc %]</td>
        [% bed = bed + 1 %]
    [% END %]
    </tr>
[% END %]
<tr>
[% x = nnights + 2 %]
<th align=right colspan=[% x %]>Own Van</th>
<td align=right>[% data.own_van %]
<td align=right>[% data.cown_van %]
</tr>
<tr>
<th align=right colspan=[% x %]>Commuting</th>
<td align=right>[% data.commuting %]
<td align=right>[% data.ccommuting %]
</tr>
<tr><th align=right colspan=[% x + 1 %]>Total</th><td align=right>$[% total %]</td></tr>
</table>
<p>
<div style="float: left">
<table cellpadding=3>
<tr><th colspan=2 align=left>Codes</th></tr>
<tr><td>b</td><td> - bath</td></tr>
<tr><td>c</td><td> - center tent</td></tr>
<tr><td>o</td><td> - own tent</td></tr>
</table>
</div>

<div style="float: left; margin-left: 1in;">
<table cellpadding=3>
<tr>
<th align=left>Type</th><th align=center>Cost</th>
</tr>
<tr>
<td>Single w/ Bath</td>
<td align=right>[% hash.single_bath %]</td>
</tr>
<tr>
<td>Single</td>
<td align=right>[% hash.single %]</td>
</tr>
<tr>
<td>Double w/ Bath</td>
<td align=right>[% hash.dble_bath %]</td>
</tr>
<tr>
<td>Double</td>
<td align=right>[% hash.dble %]</td>
</tr>
<tr>
<td>Triple</td>
<td align=right>[% hash.triple %]</td>
</tr>
<tr>
<td>Quad</td>
<td align=right>[% hash.quad %]</td>
</tr>
<tr>
<td>Economy</td>
<td align=right>[% hash.economy %]</td>
</tr>
<tr>
<td>Center Tent</td>
<td align=right>[% hash.center_tent %]</td>
</tr>
<tr>
<td>Own Tent</td>
<td align=right>[% hash.own_tent %]</td>
</tr>
<tr>
<td>Own Van</td>
<td align=right>[% hash.own_van %]</td>
</tr>
<tr>
<td>Commuting</td>
<td align=right>[% hash.commuting %]</td>
</tr>
<tr height=35></tr>
</table>
</div>
</body>
</html>
