<html>

<head>
<style>
body {
    margin-left: .3in;
    margin-top: .3in;
}
th {
    text-align: right;
}
body, th, td {
    font-family: Arial;
    font-size: 14pt;
}
input {
    font-family: Arial;
    font-size: 14pt;
}
form {
    display: inline;
}
input.reedit {
    background-color: lightblue;
}
input.looksgood {
    background-color: lightgreen;
}
</style>
</head>

<body>
<img src="http://www.mountmadonna.org/Gif/navbar_home.gif" align=center>
Thank you.  Your information now looks like this:
<table cellpadding=5>

<tr>
<th>First</th>
<td>$p.first</td>
<th>Sex</th>
<td>[% IF p.sex == 'F' %]Female[% ELSE %]Male[% END %]</td>
</tr>

<tr>
<th>Last Name</th>
<td>$p.last</td>
<th>Cell</th>
<td>$p.tel_cell</td>
</tr>

<tr>
<th>Address</th>
<td>$p.addr1</td>
<th>Home</th>
<td>$p.tel_home</td>
</tr>

<tr>
<th></th>
<td>$p.addr2</td>
<th>Work</th>
<td>$p.tel_work</td>
</tr>

<tr>
<th>City</th>
<td>$p.city</td>
<th>Email</th>
<td>$p.email</td>
</tr>

<tr>
<th>State/Province</th>
<td>$p.st_prov</td>
</tr>

<tr>
<th>Zip/Postal Code</th>
<td>$p.zip_post</td>
<th>Country</th>
<td>$p.country</td>
</tr>

<tr><td>&nbsp;</td></tr>

<tr>
<th>Your Interests</th>
<td>$interests</td>
</tr>

<tr>
<td colspan=4>
$prefs
</td>
</tr>

<tr>
<th></th>
<td>
<form action="http://www.mountmadonna.org/cgi-bin/update" method=post>
<input type=hidden name=code value="$p.secure_code">
<input class=reedit type=submit value="Re-Edit">
</form>
<form action="http://www.mountmadonna.org/live/programs.html" method=post>
<input class=looksgood type=submit value="Looks Good">
</form>
</td>
</tr>

</table>
</body>
</html>
