<table cellpadding=3>
<tr>
<th align=left>Name</th>
<th align=left>Home</th>
<th align=left>Work</th>
<th align=left>Cell</th>
</tr>
[% FOREACH p IN people %]
<tr>
    <td>[% p.name %]</td>
    <td>[% p.tel_home %]</td>
    <td>[% p.tel_work %]</td>
    <td>[% p.tel_cell %]</td>
</tr>
[% END %]
</table>
