Last|First|Sanskrit|Addr1|Addr2|City|State/Province|Zip/Post|Country|Home|Work|Cell|Email|Gender|Snail|Email|Share|Secure Code
YOU ARE RESPONSIBLE FOR PROPER USE OF THIS DATA!  NO SPAMMING!
[% FOREACH p IN people %]$p.raw_pipe[% END %]
