Sorry, <a href="/person/view/[% person.id %]">[% person.first %] [% person.last %]</a>, is a
[% IF leader %]<a href="/leader/view/[% leader.id %]">leader</a>[% END %]
[% conjunction %]
[% IF member %]<a href="/member/update/[% member.id %]">member</a>[% END %]
and can't be deleted.
<p>
