Sorry, <a href="/person/view/[% person.id %]">[% person.first %] [% person.last %]</a>, is a
[% IF person.leader %]<a href="/leader/view/[% person.leader.id %]">leader</a>[% END %]
[% conjunction %]
[% IF person.member %]<a href="/member/update/[% person.member.id %]">member</a>[% END %]
and can't be deleted.
<p>
