<h2>Online Mailing List Requests</h2>
<table cellpadding=5>
<tr>
<th align=left>Name</th>
<th align=left>Source</th>
</tr>
[% FOREACH r IN requests %]
<tr>
<td><a href=/person/online_add/$r.num>$r.first $r.last</a></td>
<td>$r.type</td>
<th><a href=/person/online_del/$r.num
onclick="return confirm('Okay to Delete $r.first $r.last?');"
><img src=/static/images/redX.gif
height=20></a></th>
</tr>
[% END %]
</table>
