/* CSS Document */

.fee {
    text-align: right;
}

.getaway {
	background-color: #bae884;
	padding: 12px;
	margin-bottom: 37px;
}
.getaway  H2 {
	color: #663399;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 19px;
	padding: 0px;
	margin: 0px;
}

.getaway H3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #9966CC;
	font-size: 14px;
	padding: 0px;
	margin: 5px 0px 10px;
}

.getaway .initial {
font-size:14px;
line-height:17px;
}

.path {
	float: right;
	margin-bottom: 10px;
	margin-left: 10px;
}

.getaway P {
	font-size: 13px;
	color: #333333;
}

.getaway IMG {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
