<h2>Strings</h2>
<form action="[% '/string/' _ form_action %]" name=form>
<table cellpadding=3 border=0>
<tr>
<th align=right>Key</th>
<td>[% the_key %]</td>
</tr>

<tr>
<th align=right>Value</th>
<td><input type=$type name=value value="[% value %]" size=70></td>
</tr>

<tr>
<td></td>
<td width=400>$doc</td>
</tr>

<tr>
<td>&nbsp;</td>
<td><input id=sub type=submit value="Submit"></td>
</tr>
</table>
</form>
<script type="text/javascript">document.form.value.focus()</script>
