<h2>Strings</h2>
<ul>
<table cellpadding=3 border=0>

<tr>
<th align=left>Key</th>
<th align=left>Value</th>
</tr>

[% FOREACH s IN strings %]
<tr>
<td valign=top>
<a name="[% s.the_key %]"></a>
<a href="[% Catalyst.uri_for('/string/update/') _ s.the_key %]">[% s.the_key %]</a></td>
[% s.value_td %]
</tr>
[% END %]

</table>
</ul>
