<h2>Online Ride Requests</h2>
<ul>
<table cellpadding=5>
<tr>
<th align=left>Name</th>
<th align=left>Direction</th>
<th align=left>Airport</th>
<th align=left>Date</th>
</tr>
[% FOREACH r IN rides %]
<tr>
<td><a href=/ride/get_online/$r.fname>$r.last, $r.first</a></td>
<td>$r.from_to</td>
<td align=center style="background: $r.airport_color">$r.airport</td>
<td>$r.pickup_date</td>
</tr>
[% END %]
</table>
</ul>
