<h2>Programs - Updating the Leaders</h2>
<p>
[% program.name %]<br>
[% program.title %] - [% program.subtitle %]
<p>
<form action="/program/leader_update_do/[% program.id %]">
<input type=submit value="Submit">
<table>
[% leader_table %]
</table>
<input type=submit value="Submit">
</form>
