[% IF pics %]
All pictures were published.
[% ELSE %]
All future programs and rentals were published.
<p>
If the pictures have changed, click <a href="/program/publish_pics">here</a> to publish them as well.
[% END %]
<p>
To see the published pages in a new window click <a target=_blank href="http://www.mountmadonna.org/[% ftp_dir2 %]/events.html">here</a>.
