<h2>Program Summary</h2>
<table cellpadding=7>
<tr>
<td>
<b>Name</b>
<a class=larger href=/program/view/[% program.id %]>[% program.name %]</a>
<b>From</b>
[% program.sdate_obj %] <span class=dow>[% program.sdate_obj.format("%a") %]</span>
<b>To</b>
[% program.edate_obj %] <span class=dow>[% program.edate_obj.format("%a") %]</span>
</td>
</tr>
</table>
<p>
Summary
