<html>
   <head>
   <title>Confirmation Letter for $person.name</title>
   <meta name="viewport" content="width=device-width" />
   
      <style>
         .after {
         margin-top: .5in;
         }
         body {
         font-size: 14pt;
         }
         #container {
         max-width: 660px;
         margin: 0 auto;
         }
         .invoice {
         margin-left: 20px;
         }
         .rt {
         text-align: right;
         }
         /* I need to learn more about CSS so I don't have the repetition... */
         .lt2 {
         text-align: left;
         font-size: 14pt;
         }
         .rt2 {
         text-align: right;
         font-size: 14pt;
         }
         img {
         margin: 7px;
         }
         h2 {
         font-size: 16pt;
         margin-bottom: 5px;
         }
         h3 {
         font-size: 14pt;
         margin-bottom: 5px;
         }
         .indent {
         margin-left: 0mm;
         margin-bottom: 5mm;
         }
         p {
         }
         .hours {
         font-size: 12pt;
         text-align: right;
         }
         td, th {
         font-size: 14pt;
         }
         .logo {
         width: 280px;
         }
         .top {
					padding-bottom: 40px;
					width: 100%;
					margin-bottom: 70px;
					border-bottom: 1px solid rgb(178, 178, 178);
         }
         .column {
        	display: inline-block;
         }
         
         .column img {
         width: 100%;
         max-width: 380px;
         }
         .name {
         font-weight: bold;
         margin-left: .25in;
         }
         .addr {
         font-weight: normal;
         margin-left: .25in;
         color: red;
         }
         .contact {
         font-weight: normal;
         margin-left: .25in;
         margin-bottom: .2in;
         }
         
				@media only screen and (max-width: 480px) {
					#container {
					margin: 20px;			
					}
					.column {
					display: block !important;
					width: 100% !important;
					}
				}
      </style>
      

   </head>
   <body>
      <div id="container">

<div width="500" class="column" style="text-align: center;">
    <img class=logo src='https://akash.mountmadonna.org/static/images/mm-legacy-logo.png' width=250 style="width: 250px; max-height: 160px;">
</div>
<p>
Guest Services Office: 408-846-4090,
<a href='mailto:guestservices@mountmadonna.org'>guestservices@mountmadonna.org</a>

      <div class=indent>
         Dear $person.first,
      </div>
      <div class=indent>
      Thank you for joining us for this online program.
      We look forward to seeing you!
      <p>
      Here are your reservation details:
      <p>
<table>
<tr>
    <th class=rt>Program</th>
    <td class=lt>&nbsp;$program.title_trimmed
    $reg.att_prog_dates
    </td>
</tr>
<tr>
    <th class=rt>Amount Paid</th>
    <td class=lt>&nbsp;\$$reg.deposit_disp</td>
</tr>
</table>

      <p>

Since this is an ONLINE program we will be sending you an Information
Packet with Zoom links prior to the start date of the program.
         [% IF    reg.confnote_not_empty || program.confnote_not_empty %]
         <h2>Notes</h2>
            [% IF reg.confnote_not_empty %]
            $reg.confnote
            [% END %]
            [% IF program.confnote_not_empty %]
            $program.confnote
            [% END %]
        [% END %]    <!-- if Note -->

[% IF reg.balance > 0 %]
    <h2>Payments</h2>
    <p>
    You are welcome to pay your balance of \$$reg.balance
    before arrival to expedite the
    check-in process, especially if you will be arriving after hours
    or on a Sunday when our office is closed.
    [% IF pre_payment_link %]
        You may pay in advance
        with a credit card online at
        <a target=_blank href='$pre_payment_link'>this link</a>.
    [% END %]
    <div class=invoice>
    <table>
        <tr>
           <th align=left colspan=2>Charges</th>
        </tr>
        [% tot = 0 %]
        [% FOR ch IN reg.charges %]
            <tr>
                <td align=right valign=top>[% penny(ch.amount) %]</td>
                <td>$ch.what</td>
            </tr>
            [% tot = tot + ch.amount %]
        [% END %]
        <tr>
            <td align=right><span style="border-top: solid thin">\$$tot</span></td>
            <td>Total</td>
        </tr>
        <tr>
           <th align=left colspan=2>Payments</th>
        </tr>
        [% tot = 0 %]
        [% FOR p IN reg.payments %]
        <tr>
            <td align=right>[% penny(p.amount) %]</td>
            <td>$p.what</td>
        </TR>
        [% tot = tot + p.amount %]
        [% END %]
        <tr>
            <td align=right><span style="border-top: solid thin">\$$tot</span></td>
            <td>Total</td>
        </tr>
        <tr>
            <th align=left colspan=2>Balance Due</th>
        </tr>
        <tr>
            <td align=right width=60>\$$reg.balance</td>
        </tr>
    </table>
    </div>
[% END %]

      <h2>Cancellations</h2>
      $cancel_policy

         <p>
If you require additional assistance, please do not hesitate to call the Guest Services Office at 408-846-4090 or email us at <a href='mailto:guestservices@mountmadonna.org'>guestservices@mountmadonna.org</a>.
      <div class=indent>
      We look forward to seeing you soon.
      <p>
         Sincerely,<br>
         $user.first $user.last
         and the Guest Services Office team
      </div>
   </body>
</html>
