<table class='caltable'>
<tr><td class="monthyear" colSpan=2>December 2010</td></tr>
<tr>
<td class='dates_tr'>3-5</td><td class='title'><a href='Yog-12-3.html'>Manisha Kshirsagar and Mangala Norskog</a><br><span class='subtitle'>Yoga For Your Body Type</span></td></tr><tr>
<td class='dates_tr'>3-5</td><td class='title'><a href='Bar-12-3.html'>Amelia Barili</a><br><span class='subtitle'>The Power of Yoga and Qigong - Creativity and Healing</span></td></tr><tr>
<td class='dates_tr'>10-12</td><td class='title'><a href='Muk-12-10.html'>Mukti</a><br><span class='subtitle'>Your True Self  Revealed - A Weekend Silent Retreat</span></td></tr><tr>
<td class='dates_tr'>28 - Jan  1</td><td class='title'><a href='New-12-28.html'>New Year's Ashtanga Yoga Retreat</a><br><span class='subtitle'></span></td></tr></table>
