<table class='caltable'>
<tr><td class="monthyear" colSpan=2>June 2011</td></tr>
<tr>
<td class='dates_tr'>6-11</td><td class='title'><a href='Yog-6-6.html'>Sarita Shrestha</a><br><span class='subtitle'>Spring Retreat for Women - Ayurveda and Yoga</span></td></tr><tr>
<td class='dates_tr'>17 - Jul 13</td><td class='title'><a href='YTT-6-17.html'>Ashtanga Yoga Teacher Training</a><br><span class='subtitle'>200 Hour Month-Long</span></td></tr><tr>
<td class='dates_tr'>30 - Jul  4</td><td class='title'><a href='Lib-6-30.html'>Ashtanga Yoga Liberation Retreat</a><br><span class='subtitle'></span></td></tr></table>
