<table class='caltable'>
<tr><td class="monthyear" colSpan=2>August 2011</td></tr>
<tr>
<td class='dates_tr'>12-14<br>12-17</td><td class='title'><a href='Man-8-12.html'>Eileen Rose, Michael Garger and Nancy David</a><br><span class='subtitle'>The Mandala - Creating Sacred Symbols for Awakening and Healing</span></td></tr><tr>
<td class='dates_tr'>19-21<br>19-24</td><td class='title'><a href='KOR-8-19.html'>Jack Kornfield, Debra Chamberlin - Taylor and Shauna Shapiro</a><br><span class='subtitle'>Living With Freedom and  Compassion  - A Retreat to Awaken the Wise and Loving Heart</span></td></tr><tr>
<td class='dates_tr'>26-28</td><td class='title'><a href='Ril-8-26.html'>Beth Pettengill Riley</a><br><span class='subtitle'>The Body is a River - Exploring Continuum Movement</span></td></tr></table>
