<table class='caltable'>
<tr><td class="monthyear" colSpan=2>September 2011</td></tr>
<tr>
<td class='dates_tr'>16-18<br>16-21</td><td class='title'><a href='BER-9-16.html'>Swami Nirmalananda  Saraswati (Rama Berch)</a><br><span class='subtitle'>Svaroopa&reg; Yoga - What is Real & The Reality Within</span></td></tr><tr>
<td class='dates_tr'>18-25</td><td class='title'><a href='YTT-9-18.html'>Ashtanga Yoga Teacher Training</a><br><span class='subtitle'>Start of a 200 hour monthly modular program</span></td></tr></table>
