<?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/referral.php'); ?> 
<?php require('/home/mmc/domains/mountmadonna.org/public_html/javascript/facebook-php-sdk/src/facebook.php');

// Create our Application instance (replace this with your appId and secret).
$facebook = new Facebook(array(
  'appId'  => '147620828625721',
  'secret' => '8c8647f52e7bf2e93f301b5cecd0cff8',
  'cookie' => true,
));

$num_pics=7;

// We may or may not have this data based on a $_GET or $_COOKIE based session.
//
// If we get a session here, it means we found a correctly signed session using
// the Application Secret only Facebook and the Application know. We dont know
// if it is still valid until we make an API call using the session. A session
// can become invalid if it has already expired (should not be getting the
// session back in this case) or if the user logged out of Facebook.
$session = $facebook->getSession();

$me = null;
// Session based API call.
if ($session) {
  try {
    $uid = $facebook->getUser();
    $me = $facebook->api('/me');
  } catch (FacebookApiException $e) {
    error_log($e);
  }
}

$access_token = $session['access_token'];

?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>

<?php 
//VARIABLE DECLARATION
$active_navbar = 'programs';//defines which button on the navbar should be down
$sidebar ='template';//defines which sidebar to use
?>




<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1" />

<TITLE><!--T title1 --> <!--T title2 -->
</TITLE>



<META NAME="keywords" CONTENT="<!--T leader_names -->, <!--T title1 -->, <!--T title2 -->, bay area yoga, bay area conference center, bay area retreat center, baba hari dass, vegetarian, meditation">

<META PROPERTY="og:title" CONTENT=" <!--T title1 --> - <!--T title2 -->"/>
<META PROPERTY="og:type" CONTENT="other"/>
<META PROPERTY="og:url" CONTENT="<?php 
$string = $_SERVER['REQUEST_URI']; 

$queryLoc = strpos($string,'?');
if ($queryLoc) {
	$result_uri=substr($string,0,$queryLoc);
} else { 
	$result_uri=$string;
} 
echo 'http://www.mountmadonna.org' . $result_uri; 
?>"/>


<META PROPERTY="og:image" CONTENT="<?php $string="<!--T picture-->"; preg_match('/(?<=\').*?(?=\')/', $string, $result); echo 'http://www.mountmadonna.org/live/' . $result[0]; ?>"/>
<META PROPERTY="og:site_name" CONTENT="Mount Madonna Center"/>
<META PROPERTY="fb:admins" CONTENT="507138422"/>
<META PROPERTY="og:description"
          CONTENT="Workshop <!--T dates --> by <!--T leader_names -->"/>

<LINK HREF="/styles/reset.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/layout.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/header.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/sidebar.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/text.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/programs.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/facebook.css" REL="stylesheet" TYPE="text/css" />
<!-- TemplateBeginEditable name="head" --><!-- TemplateEndEditable -->

<!--[if IE 5]>
<style type="text/css"> 
.twoColFixLtHdr #sidebar1 { margin-right: 7px; }
.twoColFixLtHdr #contentHeader { margin-left: 197px;}
</style>
<![endif]-->
<!--[if IE 6]>
<style type="text/css"> 
.twoColFixLtHdr #sidebar1 { width: 187px; }
.twoColFixLtHdr #contentHeader { margin-left: 197px;}
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.twoColFixLtHdr #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->
</HEAD>

<BODY CLASS="twoColFixLtHdr">

<DIV ID="fb-root"></DIV>
<!-- Facebook SDK loader -->
    <SCRIPT>
      window.fbAsyncInit = function() {
        FB.init({
          appId   : '<?php echo $facebook->getAppId(); ?>',
          session : <?php echo json_encode($session); ?>, // don't refetch the session when PHP already has it
          status  : true, // check login status
          cookie  : true, // enable cookies to allow the server to access the session
          xfbml   : true // parse XFBML
        });

        // whenever the user logs in, we refresh the page
        FB.Event.subscribe('auth.login', function() {
          window.location.reload();
        });
      };

      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </SCRIPT>

    <DIV ID="container">
        <DIV ID="header"><?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/header.php');?></DIV>
        <DIV ID="mainWrapper">
            <DIV ID="sidebar1"><DIV CLASS="sidebarContainer"><DIV CLASS="sidebarTop"><DIV></DIV></DIV>
	<DIV CLASS="sidebarContent" STYLE="margin-right:auto;margin-left:auto;width:170px;">
        <DIV><!--T picture --></DIV>

                  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="170">
                                <!-- fwtable fwsrc="nextback_button.png" fwbase="next_back_buttons.gif" fwstyle="Dreamweaver" fwdocid = "2121170430" fwnested="0" -->
                                <TR>
                                  <TD><IMG SRC="/Gif/spacer.gif" WIDTH="42" HEIGHT="1" BORDER="0" ALT=""></TD>
                                  <TD><IMG SRC="/Gif/spacer.gif" WIDTH="44" HEIGHT="1" BORDER="0" ALT=""></TD>
                                  <TD><IMG SRC="/Gif/spacer.gif" WIDTH="41" HEIGHT="1" BORDER="0" ALT=""></TD>
                                  <TD><IMG SRC="/Gif/spacer.gif" WIDTH="43" HEIGHT="1" BORDER="0" ALT=""></TD>
                                  <TD><IMG SRC="/Gif/spacer.gif" WIDTH="1" HEIGHT="1" BORDER="0" ALT=""></TD>
                                </TR>
                                <TR>
                                  <TD COLSPAN="4"><IMG NAME="next_back_buttons_r1_c1" SRC="/Gif/next_back_buttons_r1_c1.gif" WIDTH="170" HEIGHT="10" BORDER="0" ALT=""></TD>
                                  <TD><IMG SRC="/Gif/spacer.gif" WIDTH="1" HEIGHT="10" BORDER="0" ALT=""></TD>
                                </TR>
                                <TR>
                                  <TD><A HREF="<!--T firstprog_prevmonth -->" TARGET="_top" onClick="MM_nbGroup('down','navbar1','prev_month','/Gif/prev_month_f3.gif',1);" onMouseOver="MM_nbGroup('over','prev_month','/Gif/prev_month_f2.gif','/Gif/prev_month_f3.gif',1);" onMouseOut="MM_nbGroup('out');"><IMG NAME="prev_month" SRC="/Gif/prev_month.gif" WIDTH="42" HEIGHT="26" BORDER="0" ALT=""></A></TD>
                                  <TD><A HREF="<!--T firstprog_nextmonth -->" TARGET="_top" onClick="MM_nbGroup('down','navbar1','next_month','/Gif/next_month_f3.gif',1);" onMouseOver="MM_nbGroup('over','next_month','/Gif/next_month_f2.gif','/Gif/next_month_f3.gif',1);" onMouseOut="MM_nbGroup('out');"><IMG NAME="next_month" SRC="/Gif/next_month.gif" WIDTH="44" HEIGHT="26" BORDER="0" ALT=""></A></TD>
                                  <TD><A HREF="<!--T prevprog -->" TARGET="_top" onClick="MM_nbGroup('down','navbar1','prev_prog','/Gif/prev_prog_f3.gif',1);" onMouseOver="MM_nbGroup('over','prev_prog','/Gif/prev_prog_f2.gif','/Gif/prev_prog_f3.gif',1);" onMouseOut="MM_nbGroup('out');"><IMG NAME="prev_prog" SRC="/Gif/prev_prog.gif" WIDTH="41" HEIGHT="26" BORDER="0" ALT=""></A></TD>
                                  <TD><A HREF="<!--T nextprog -->" TARGET="_top" onClick="MM_nbGroup('down','navbar1','next_prog','/Gif/next_prog_f3.gif',1);" onMouseOver="MM_nbGroup('over','next_prog','/Gif/next_prog_f2.gif','/Gif/next_prog_f3.gif',1);" onMouseOut="MM_nbGroup('out');"><IMG NAME="next_prog" SRC="/Gif/next_prog.gif" WIDTH="43" HEIGHT="26" BORDER="0" ALT=""></A></TD>
                                  <TD><IMG SRC="/Gif/spacer.gif" WIDTH="1" HEIGHT="26" BORDER="0" ALT=""></TD>
                                </TR>
                                <TR>
                                  <TD COLSPAN="4"><IMG NAME="next_back_buttons_r3_c1" SRC="/Gif/next_back_buttons_r3_c1.gif" WIDTH="170" HEIGHT="29" BORDER="0" ALT=""></TD>
                                  <TD><IMG SRC="/Gif/spacer.gif" WIDTH="1" HEIGHT="29" BORDER="0" ALT=""></TD>
                                </TR>
                              </TABLE>
                              <!--T month_calendar -->
                        </CENTER></TD></TR></TBODY></TABLE>
                

  </DIV><DIV CLASS=sidebarBottom><DIV></DIV></DIV></DIV>
  </DIV>
      
            <DIV ID="contentHeader" CLASS="p<!--T id-->"><!-- put 650 px width image here or leave &nbsp; if no header image-->


                <DIV CLASS="ptop">
                    <H1 CLASS="ptitle"><!--T title1 --></H1>
                    <H2 CLASS="psubtitle"><!--T title2 --></H2>
                    <P CLASS="pdates"><!--T dates --></P>
                    <SPAN><IMG SRC="/Gif/registration_closed.gif" ALT="Registration is Closed" BORDER="0"></SPAN>
                    <SPAN STYLE="float:right;"><fb:like width="300" action="recommend"></fb:like></SPAN>
                </DIV>
                
            </DIV><!-- end #contentHeader -->
          
         
            <DIV ID="content">
                
                
                
                <DIV CLASS="pdivider"><SPAN STYLE="float:left;"><IMG SRC="/Gif/arrow_programs_right.gif" WIDTH="7" HEIGHT="10" STYLE="margin-right:2px;vertical-align: top;">PROGRAM DESCRIPTION</SPAN><SPAN STYLE="float:right;">&nbsp;</SPAN></DIV>
                
                <DIV CLASS="pdesc">
                
                <DIV class="announcement">This program has been cancelled.</DIV>
                    <!--T webdesc -->
                    <!--T weburl -->
                </DIV>
                
                <DIV CLASS="pdivider"><SPAN STYLE="float:left;"><IMG SRC="/Gif/arrow_programs_right.gif" WIDTH="7" HEIGHT="10" STYLE="margin-right:2px;vertical-align: top;">PRESENTER BIO</SPAN><SPAN STYLE="float:right;"><A HREF="#top"><IMG SRC="/Gif/arrow_programs_up.gif" WIDTH="10" HEIGHT="7">top</A></SPAN></DIV>
               
                <DIV CLASS="pbio">
                    <!--T leader_bio -->
                </DIV>
                
                <DIV CLASS="pdivider"><SPAN STYLE="float:left;"><IMG SRC="/Gif/arrow_programs_right.gif" WIDTH="7" HEIGHT="10" STYLE="margin-right:2px;vertical-align: top;">REGISTRATION</SPAN><SPAN STYLE="float:right;"><A HREF="#top"><IMG SRC="/Gif/arrow_programs_up.gif" WIDTH="10" HEIGHT="7">top</A></SPAN></DIV>
                
                <DIV CLASS="preg">
                <P><STRONG>Credits:</STRONG></P>
                <!--T long_footnotes -->
                <P STYLE="margin-top:25px;"><STRONG>Cost:</STRONG></P>

                    <CENTER>
                        <UL>
                            <!--T fee_table -->
                        </UL>
                    <P><IMG SRC="/Gif/registration_closed.gif" STYLE="padding-top:25px;" ALT="Registration is Closed" BORDER="0"></P>
                    </CENTER>
                </DIV>
                
                <DIV CLASS="pdivider"><SPAN STYLE="float:left;"><IMG SRC="/Gif/arrow_programs_right.gif" WIDTH="7" HEIGHT="10" STYLE="margin-right:2px;vertical-align: top;">PROGRAM NOTES</SPAN><SPAN STYLE="float:right;"><A HREF="#top"><IMG SRC="/Gif/arrow_programs_up.gif" WIDTH="10" HEIGHT="7">top</A></SPAN></DIV>

                <DIV CLASS="pnotes">
                    <UL>
                        <LI>A deposit of $<!--T deposit --> is required with registration.</LI>
                        <LI><!-- T cancellation_policy --></LI>
                        <LI>Registration check-in for this program is from <!--T reg_start_obj --> to <!--T reg_end_obj -->.</LI>
                        <LI>Dinner is served from 5:30-6:30 pm on Friday and 5:00-6:00 pm on other days.</LI>
                        <LI>If you will be arriving late, please ask us to save a dinner for you.</LI>
                        <LI>Orientation begins at <!--T prog_start_obj -->.</LI>
                        <LI>The program will end at <!--T prog_end_obj --> on the final scheduled day.</LI>
                    </UL>
                </DIV>
                
              
                <P>&nbsp;</P>
             <!-- end #Content --></DIV>
           <DIV ID="contentFooter" CLASS="clearfloat"><!-- end #ContentFooter --></DIV>
        <!-- end #mainWrapper --></DIV>
        

        <DIV ID="footer">
        <?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/footer.php'); ?>
        </DIV><!-- end #footer -->
    </DIV><!-- end #container -->
</BODY>
</HTML>
