<HTML>
<HEAD>

<TITLE>Mount Madonna Institute Events</TITLE>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1" />

<SCRIPT TYPE="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</SCRIPT>
<LINK HREF="http://www.mountmadonnainstitute.org/mmi.css" REL="stylesheet" TYPE="text/css" />
</HEAD>
<BODY leftmargin=0 topmargin=0 marginwidth=0 marginheight=0 onLoad="MM_preloadImages('http://www.mountmadonnainstitute.org/images/menubar_catalog_down.gif','http://www.mountmadonnainstitute.org/images/menubar_institute_down.gif','http://www.mountmadonnainstitute.org/images/menubar_ayurveda_down.gif','http://www.mountmadonnainstitute.org/images/menubar_yoga_down.gif','http://www.mountmadonnainstitute.org/images/menubar_community_down.gif','http://www.mountmadonnainstitute.org/images/menubar_massage_down.gif','http://www.mountmadonnainstitute.org/images/menubar_events_down.gif')">
<!-- ImageReady Slices (section.eps) -->
<TABLE width=800 border=0 ALIGN="center" cellpadding=0 cellspacing=0>
  <TR>
    <TD align=left valign=top><A HREF="http://www.mountmadonnainstitute.org/index.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/section_logo.gif" ALT="" width=238 height=103 BORDER="0" /></A></TD>
    <TD align=left valign=top><IMG SRC="http://www.mountmadonnainstitute.org/images/section_topbar_center.gif" WIDTH="463" HEIGHT="103" /></TD>
    <TD align=left valign=top><A HREF="http://www.mountmadonnainstitute.org/catalog.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/section_topbar_catalog.gif" ALT="" NAME="floating_catalog" width=99 height=103 BORDER="0" ID="floating_catalog" onMouseOver="MM_swapImage('catalog','','http://www.mountmadonnainstitute.org/images/menubar_catalog_down.gif',1)" onMouseOut="MM_swapImgRestore()" /></A></TD>
  </TR>
  
  <TR>
    <TD HEIGHT="1%" colspan=4 align=left valign=top><TABLE CELLPADDING="0" CELLSPACING="0">
        <TR>
            <TD ALIGN=left VALIGN=top><A HREF="http://www.mountmadonnainstitute.org/overview.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/menubar_institute_up.gif" ALT="About the Institute" WIDTH=143 HEIGHT=36 BORDER="0" ID="Image1" onMouseOver="MM_swapImage('Image1','','http://www.mountmadonnainstitute.org/images/menubar_institute_down.gif',1)" onMouseOut="MM_swapImgRestore()" /></A></TD>
            <TD COLSPAN=3 ALIGN=left VALIGN=top><A HREF="http://www.mountmadonnainstitute.org/ayurveda/index.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/menubar_ayurveda_up.gif" ALT="College of Ayurveda" WIDTH=95 HEIGHT=36 BORDER="0" ID="Image2" onMouseOver="MM_swapImage('Image2','','http://www.mountmadonnainstitute.org/images/menubar_ayurveda_down.gif',1)" onMouseOut="MM_swapImgRestore()" /></A></TD>
            <TD ALIGN=left VALIGN=top><A HREF="http://www.mountmadonnainstitute.org/yoga/index.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/menubar_yoga_up.gif" ALT="School of Yoga" WIDTH=70 HEIGHT=36 BORDER="0" ID="Image3" onMouseOver="MM_swapImage('Image3','','http://www.mountmadonnainstitute.org/images/menubar_yoga_down.gif',1)" onMouseOut="MM_swapImgRestore()" /></A></TD>
            <TD ALIGN=left VALIGN=top><A HREF="http://www.mountmadonnainstitute.org/community/index.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/menubar_community_up.gif" ALT="School of Community Studies" WIDTH=141 HEIGHT=36 BORDER="0" ID="Image4" onMouseOver="MM_swapImage('Image4','','http://www.mountmadonnainstitute.org/images/menubar_community_down.gif',1)" onMouseOut="MM_swapImgRestore()" /></A></TD>
            <TD ALIGN=left VALIGN=top><A HREF="http://www.mountmadonnainstitute.org/massage/index.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/menubar_massage_up.gif" ALT="School of Massage" WIDTH=92 HEIGHT=36 BORDER="0" ID="Image5" onMouseOver="MM_swapImage('Image5','','http://www.mountmadonnainstitute.org/images/menubar_massage_down.gif',1)" onMouseOut="MM_swapImgRestore()" /></A></TD>
            <TD ALIGN=left VALIGN=top><A HREF="http://www.mountmadonnainstitute.org/events/index.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/menubar_events_up.gif" ALT="Events" WIDTH="74" HEIGHT="36" BORDER="0" ID="Image15" onMouseOver="MM_swapImage('Image15','','http://www.mountmadonnainstitute.org/images/menubar_events_down.gif',1)" onMouseOut="MM_swapImgRestore()" /></A></TD>
            <TD ALIGN=left VALIGN=top><IMG SRC="http://www.mountmadonnainstitute.org/images/menubar_spacer.gif" WIDTH=86 HEIGHT=36 ALT="" /></TD>
            <TD ALIGN=left VALIGN=top><A HREF="http://www.mountmadonnainstitute.org/catalog.html"><IMG SRC="http://www.mountmadonnainstitute.org/images/menubar_catalog_up.gif" ALT="" NAME="catalog" WIDTH=99 HEIGHT=36 BORDER="0" ID="catalog" onMouseOver="MM_swapImage('catalog','','http://www.mountmadonnainstitute.org/images/menubar_catalog_down.gif',1)" onMouseOut="MM_swapImgRestore()" /></A></TD>
        </TR>
    </TABLE></TD>
  </TR>
  <TR>
    <TD HEIGHT="1%" align=left valign=top BGCOLOR="978e5a"><IMG SRC="http://www.mountmadonnainstitute.org/images/sidebar_institute_title.gif" width=238 height=144 ALT="About Mount Madonna Institute" />
        <UL CLASS="sidebar">
            <LI><A HREF="http://www.mountmadonnainstitute.org/overview.html">Overview</A></LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/campus.html">The Campus</A> </LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/board.html">Board of Directors</A></LI>
            <LI><A HREF="index.html">Special Events</A></LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/contact.html">Contact Us / Directions</A></LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/mailing_list.html">Get on our Mailing List</A></LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/enroll.html">Enroll Now!</A></LI>
            <LI CLASS="sidebarDivider">Downloads</LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/documents/mmi catalog.pdf">Course Catalog <IMG SRC=http://www.mountmadonnainstitute.org/images/acrobat.gif WIDTH="19" HEIGHT="19" BORDER=0" ALIGN="absmiddle" /></A></LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/documents/mmi application.pdf">Application <IMG SRC=http://www.mountmadonnainstitute.org/images/acrobat.gif WIDTH="19" HEIGHT="19" BORDER=0" ALIGN="absmiddle" /></A></LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/documents/mmi student services.pdf">Student Services <IMG SRC=http://www.mountmadonnainstitute.org/images/acrobat.gif WIDTH="19" HEIGHT="19" BORDER=0" ALIGN="absmiddle" /></A></LI>
            <LI><A HREF="http://www.mountmadonnainstitute.org/documents/mmi policies and procedures.pdf">Policies and
                Procedures <IMG SRC=http://www.mountmadonnainstitute.org/images/acrobat.gif WIDTH="19" HEIGHT="19" BORDER=0" ALIGN="absmiddle" /></A></LI>
        </UL></TD>
    <TD colspan=3 align=left valign=top BGCOLOR="#FFFFFF" CLASS="bodyMargin">
      
      <IMG SRC="http://www.mountmadonnainstitute.org/Images/Douillard_banner.jpg" ALT="Healing Anxiety &amp; Depression with Ayurveda">
      <H2><STRONG>Dr. John Douillard</STRONG></H2>
      <P CLASS="bodyText"><STRONG>Healing The Cause of Anxiety and Depression with Ayurveda</STRONG><BR>
          Releasing the Power & Joy of Your Soul<BR>
          <STRONG>August 28-30, 2009</STRONG> </P>
      <P CLASS="bodyText"><A HREF="http://www.mountmadonna.org/cgi-bin/dreg1?id=3093&dir=mmi-douillard"><IMG SRC="http://www.mountmadonna.org/Gif/register_button.gif" WIDTH="170" HEIGHT="30" BORDER="0"></A></P>
      <HR>
      <P ALIGN="justify" CLASS="bodyText">
          In this stressed-out society, many of us suffer from anxiety and depression. Ayurveda teaches us to create ease and balance by honoring our natural cycles and disarming the fight-or-flight response. Along with mild herbs and treatments, learn lifestyle changes that allow us to float naturally downstream instead of going against the current.  A recent preliminary study showed that a balanced lifestyle can significantly decrease anxiety, depression, cravings, fatigue, insomnia, and weight gain in just two weeks. Come get inspired to make small changes that will make a big difference so you can release the power and joy of your soul.</P>      
      <UL CLASS="bodyText">
          <LI> Learn about your Ayurvedic mind-body type and how to support your unique predispositions</LI>
          <LI>       Discover the best herbs, daily routines, exercise, yoga practices, and breathing techniques to resolve your difficulties.</LI>
          <LI CLASS="bodyText">Learn how to eat, what to eat, and when to eat according to your body type and find out why certain eating habits influence your moods.</LI>
          <LI CLASS="bodyText"> Make your sensitivity the source of your power rather than a weakness.</LI>
          </UL>
      <P CLASS="bodyText"><BR>
          <BR>
          
          <IMG SRC="http://www.mountmadonnainstitute.org/Images/douillard.jpg" ALIGN="left" STYLE="padding-right:1ex; padding-bottom:.5ex;"><STRONG>Dr. John Douillard</STRONG> is an Ayurvedic and chiropractic physician who has taught Ayurvedic medicine, natural health, fitness, and nutrition internationally for over 22 years. He is also author of The 3-Season Diet; Body, Mind, and Sport; Perfect Health for Kids, The Encyclopedia of Ayurvedic Massage and three Ayurvedic DVD's recently released by Gaiam on Stress, Detox and Weight Loss. He was the former Director of Player Develoment for the New Jersey Nets in the NBA and co-directed an Ayurvedic Cancer Center with Deepak Chopra for 8 years.  Dr. Douillard trained in India and received his PhD in Ayurvedic Medicine.  He currently directs the LifeSpa - Ayurvedic Retreat Center in Boulder, CO, where he lives with his wife and six children. <A HREF="http://www.lifespa.com">www.lifespa.com</A></P>
      <P CLASS="bodyText"><STRONG>Recommended Reading: </STRONG><I>The Three Season Diet</I>, John Douillard<BR>
          <STRONG>Article:</STRONG> <A HREF="http://www.mountmadonnainstitute.org/events/douillard.html">Healing Anxiety and Depression: An Ayurvedic Perspective</A><BR>
          <STRONG>Podcast:</STRONG> <A HREF="http://radioforyourhealth.com/?p=360">Radio For Your Health</A> Dr. John Douillard interviewed by Dr. Horner<BR>
          <BR>
          </P>
      <HR>
      <P CLASS="bodyText"><STRONG>Tuition:</STRONG> $245, plus meals & lodging</P>
      <div class="bodyText"><!--T fee_table --></div>
      <P CLASS="bodyText"><A HREF="http://www.mountmadonna.org/cgi-bin/dreg1?id=3093&dir=mmi-douillard"><IMG SRC="http://www.mountmadonna.org/Gif/register_button.gif" ALT="register online now" WIDTH="170" HEIGHT="30" BORDER="0"></A></P></TD>
  </TR>
  
  <TR>
    <TD><IMG SRC="http://www.mountmadonnainstitute.org/images/spacer.gif" width=238 height=1 ALT="" /></TD>
    <TD><IMG SRC="http://www.mountmadonnainstitute.org/images/spacer.gif" width=463 height=1 ALT="" /></TD>
    <TD><IMG SRC="http://www.mountmadonnainstitute.org/images/spacer.gif" width=99 height=1 ALT="" /></TD>
  </TR>
</TABLE>
<!-- End ImageReady Slices -->
<P></P>
<P CLASS="footer"><STRONG CLASS="footer"><A HREF="http://www.mountmadonnainstitute.org/contact.html">Contact Us</A> | <A HREF="http://www.mountmadonnainstitute.org/mailing_list.html">Mailing List</A> | <A HREF="http://www.mountmadonnainstitute.org/catalog.html">Catalog</A> | <A HREF="http://www.mountmadonnainstitute.org/documents/mmi application.pdf">Application</A> </STRONG><BR />
    Copyright 2006 Mount Madonna Institute  &nbsp;&nbsp;-&nbsp;&nbsp;Approved by
    the State of California.</P>
<SCRIPT SRC="http://www.google-analytics.com/urchin.js" TYPE="text/javascript">
</SCRIPT>
<SCRIPT TYPE="text/javascript">
_uacct = "UA-303243-1";
urchinTracker();
</SCRIPT>
</BODY>
</HTML>