<tr class='mmi_row_spacing' id='p[% program.id %]'>

<td class='prog_dates' [% program.prog_dates_style %]>
[% program.dates_tr %]
</td>

<td>
<a href='http://[% program.url %]' target="_blank"><span class='prog_title1'>[% program.title %]</span></a><span class='barnacles'>[% program.title1_barnacles %]</span><span class='external_link_icon'><i class="fa fa-external-link"></i> MMI</span><br>
<span class='prog_title2'>[% program.subtitle %]</span><span class='barnacles'>[% program.title2_barnacles %]</span>
</td>

</tr> 


