<?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/referral.php'); ?> 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML><!-- InstanceBegin template="/Templates/csstemplate_general.dwt" codeOutsideHTMLIsLocked="false" --><HEAD>

<!-- InstanceBeginEditable name="variables" -->
<?php 
//VARIABLE DECLARATION
$active_navbar = 'personal';//defines which button on the navbar should be down
$sidebar ='programs';//defines which sidebar to use
?>
<!-- InstanceEndEditable -->



<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1" />
<!-- InstanceBeginEditable name="doctitle" -->
<TITLE>Mount Madonna Center - Personal Retreats</TITLE>
<!-- InstanceEndEditable -->

<!-- InstanceBeginEditable name="head" -->
<META NAME="keywords" CONTENT="bay area yoga, bay area conference center, bay area retreat center, baba hari dass, vegetarian, meditation, personal retreats, retreat, spa, bay area spa, ayurveda, ayurvedic spa">

<META PROPERTY="og:title" CONTENT="Personal Retreats at Mount Madonna Center"/>
<META PROPERTY="og:type" CONTENT="other"/>
<META PROPERTY="og:url" CONTENT="http://www.mountmadonna.org<?php echo $_SERVER['REQUEST_URI']; ?>"/>
<META PROPERTY="og:image" CONTENT="http://www.mountmadonna.org/Gif/massage.jpg"/>
<META PROPERTY="og:site_name" CONTENT="Mount Madonna Center"/>
<META PROPERTY="fb:admins" CONTENT="507138422"/>
<META PROPERTY="og:description"
          CONTENT="Relax, Renew and Rejuvenate in an idyllic 
          mountaintop community setting. Spa treatments, Yoga, 
          hiking, swimming vegetarian meals and more."/>
          
          
<LINK HREF="/styles/reset.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/layout.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/header.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/sidebar.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/text.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/programs.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/personal.css" REL="stylesheet" TYPE="text/css">
<!-- InstanceEndEditable -->

<!--[if IE 5]>
<style type="text/css"> 
.twoColFixLtHdr #sidebar1 { margin-right: 7px; }
.twoColFixLtHdr #contentHeader { margin-left: 197px;}
</style>
<![endif]-->
<!--[if IE 6]>
<style type="text/css"> 
.twoColFixLtHdr #sidebar1 { width: 187px; }
.twoColFixLtHdr #contentHeader { margin-left: 197px;}
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.twoColFixLtHdr #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->
</HEAD>

<BODY CLASS="twoColFixLtHdr">


    <DIV ID="container">
        <DIV ID="header"><?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/header.php');?></DIV>
        <DIV ID="mainWrapper">
            <DIV ID="sidebar1"><?php include("/home/mmc/domains/mountmadonna.org/public_html/includes/sidebar_$sidebar.php");?></DIV>
      
            <DIV ID="contentHeader"><!-- put 650 px width image here or leave &nbsp; if no header image-->
                <!-- InstanceBeginEditable name="contentHeader" --><!-- InstanceEndEditable -->            </DIV>
            <!-- end #contentHeader -->
          
         
            <DIV ID="content">
                <!-- InstanceBeginEditable name="content" -->
                
                <div class="getaway">
                    <div><IMG SRC="/Gif/massage.jpg" WIDTH="191" HEIGHT="124">
                    <H2>Special Mid-week Getaway</H2>
                    <H3>[% disc_pct %]% off all weekday personal retreats</H3>
                    <P>Take a break from the winter blues and welcome in springtime by registering for a personal retreat! Enjoy a [% disc_pct %]% discount on weekday personal retreats, Mondays through Thursdays, during the months of [% start_month %] through [% end_month %].</P></div>
                   <p><EM>Relax, Renew and Enjoy your Personal Retreat.</EM></P>
                </div>
                
                <H1><IMG SRC="/Gif/path.gif" WIDTH="318" HEIGHT="183" CLASS="path">Personal Retreats</H1>
                <P ALIGN="left" CLASS="initial">Explore the many hiking trails, attend daily yoga classes, soak in the hot tub surrounded by the beautiful madrone forrest and enjoy nourishing vegetarian meals.  Retreat from your busy daily life and connect with your center again. </P>
                <P ALIGN="left" >Individuals, groups, and families are welcome to sojourn with us before
                    or after a group event, or at another time when some unique rest
                    and re-creation are wanted. The Center provides a peaceful environment
                    to refresh and recharge, as well as lodging, and vegetarian meals.
                    You are welcome to participate in our <A HREF="/yoga/yoga_classes.html">ongoing
                        classes</A>, to swim, hike, hot tub, and meditate. </P>
                <P ALIGN="left" >We ask all of our guests not to bring food or beverages, alcohol
                    or other drugs, or pets. Incense, candles and other flammables are
                    not allowed except for program related rituals, as the risk of fire
                    to our wood-and-grassland is great. As a courtesy to other guests,
                    who may have chemical sensitivities, please don't wear scented body
                    products. </P>
                
                <DIV STYLE="margin-top:20px;margin-bottom:15px;"> 
                <SPAN><A HREF="/cgi-bin/regPR?id=0&dir=personal"><IMG SRC="/Gif/register_button.png" ALT="Register!" WIDTH="170" HEIGHT="30" BORDER="0"></A></SPAN>
                <SPAN STYLE="float:right;"><div class="fb-like" data-href="http://www.mountmadonna.org/personal/index.html" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></div></SPAN>                </DIV>
                <HR>
                <P ALIGN="left" >Prices are <B>per person per day</B> and
                    include meals, lodging and facilities use.
                    If another person is coming with you,
                    please make sure you register them separately.</P>
[% fee_table %]

<P>REDUCED RATES FOR 7 (or more) DAYS: There is a 10% discount for stays of 7-14 days.</p>

<P>FAMILIES or GROUPS: If you and several other friends or family members wish to come for a Personal Retreat at the same time and stay together, please call and ask about rates for rooms that can accommodate 3-7 people. 408-846-4064
</P>
<HR>
<P>Housing is available in both <STRONG> rooms </STRONG>and
    in<STRONG> cabins</STRONG>.</P>
<P> <STRONG>Rooms</STRONG> are in hotel-style buildings
    (no phones or TVs in rooms, however). Some rooms
    include a private bathroom with shower. Others
    have access to nearby shared (but private while
    in use) bathrooms and showers.</P>
<P><STRONG>Cabins</STRONG> are located in a forest
    grove, and include electricity and heat, but
    not indoor plumbing.&nbsp; A separate shower
    house is nearby; it has private showers and dressing rooms,
    and flush toilets.</P>
<P>All beds are <STRONG>twin size</STRONG>.</P>
<P><STRONG>Mount Madonna Center tents, </STRONG> available
    from May 1 through October 31, have access to
    showers and flush toilets or privies, and are set up with 2 foam
    mattresses, but no bedding.</P>
<P><STRONG>Developed campsites</STRONG>, for your
    own tent, with good drainage and access to showers
    and flush toilets or privies, are available year round. Please
    be aware that we can receive significant amounts
    of rain from November through May.</P>
<P>Various spots are available for <STRONG>your
    van, camper or other vehicle</STRONG>. Some have
    access to electricity, but no other hookups.
    Showers and restrooms are available in campgrounds
    and Center buildings.</P>
<P>Balance is due on arrival (Visa, MasterCard, cash or check only).</P>
<P>
For cancellations received at least two weeks before your personal retreat,
half of the required deposit will be charged as a processing fee, and half
will be credited to any other program within one year. There is a $20 fee
for housing changes. No credit or refund is available if you give less than
two weeks notice prior to the start date, if you do not show up, or if you
leave an event early. 
</P>
<H1>&nbsp;</H1>
                <!-- InstanceEndEditable -->
             <!-- end #Content --></DIV>
           <DIV ID="contentFooter" CLASS="clearfloat"><!-- end #ContentFooter --></DIV>
        <!-- end #mainWrapper --></DIV>
        

        <DIV ID="footer">
        <?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/footer.php'); ?>
        </DIV><!-- end #footer -->
    </DIV><!-- end #container -->
</BODY>
<!-- InstanceEnd --></HTML>
