<HTML>
<HEAD>
<META NAME="keywords" CONTENT="bay area yoga, bay area conference center, bay area retreat center, baba hari dass, vegetarian, meditation" />


<META CONTENT="text/html; charset=iso-8859-1" />
<TITLE>Programs at Mount Madonna Center</TITLE>

<LINK HREF="/mmc.css" REL="stylesheet" TYPE="text/css" />

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=" />


</HEAD>
<!-- Begin Menu Bar -->
<BODY LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0" onload=
"MM_preloadImages(/Gif/navbar_home_f3.gif,/Gif/navbar_home_f2.gif,/Gif/navbar_programs_f3.gif,/Gif/navbar_programs_f2.gif,/Gif/navbar_rentals_f3.gif,/Gif/navbar_rentals_f2.gif,/Gif/navbar_community_f3.gif,/Gif/navbar_community_f2.gif,/Gif/navbar_yoga_f3.gif,/Gif/navbar_yoga_f2.gif,/Gif/navbar_links_f3.gif,/Gif/navbar_links_f2.gif,'/Gif/new_navbar/navbar_home_f3.gif','/Gif/new_navbar/navbar_home_f2.gif','/Gif/new_navbar/navbar_programs_f3.gif','/Gif/new_navbar/navbar_programs_f2.gif','/Gif/new_navbar/navbar_rentals_f3.gif','/Gif/new_navbar/navbar_rentals_f2.gif','/Gif/new_navbar/navbar_personal_retreats_f3.gif','/Gif/new_navbar/navbar_personal_retreats_f2.gif','/Gif/new_navbar/navbar_community_f3.gif','/Gif/new_navbar/navbar_community_f2.gif','/Gif/new_navbar/navbar_yoga_f3.gif','/Gif/new_navbar/navbar_yoga_f2.gif')">
<TABLE WIDTH="825" ALIGN="center" CELLPADDING="0">
  <TR>
    <TD><TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="825">
      <!-- fwtable fwsrc="navbar.png" fwbase="navbar_new.gif" -->
      <TR>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="133" HEIGHT="1" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="130" HEIGHT="1" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="152" HEIGHT="1" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="149" HEIGHT="1" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="110" HEIGHT="1" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="119" HEIGHT="1" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="32" HEIGHT="1" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="1" HEIGHT="1" BORDER="0" /></TD>
      </TR>
      <TR>
        <TD ROWSPAN="3"><DIV ALIGN="right"><A HREF="/index.html" TARGET="_top" onClick="MM_nbGroup(down,navbar1,navbar_home,/Gif/navbar_home_f3.gif,1);" onmouseover=
"MM_nbGroup(over,navbar_home,/Gif/navbar_home_f2.gif,/Gif/navbar_home_f3.gif,1);" onMouseOut="MM_nbGroup(out);"><IMG NAME="navbar_home" SRC="/Gif/navbar_home.gif" WIDTH="133" HEIGHT="111"
border="0" /></A></DIV></TD>
        <TD COLSPAN="6"><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="692" HEIGHT="36" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="1" HEIGHT="36" BORDER="0" /></TD>
      </TR>
      <TR>
        <TD><A HREF="/live/programs.html" TARGET="_top"  onclick="MM_nbGroup('down','navbar1','navbar_programs','/Gif/new_navbar/navbar_programs_f3.gif',1)"  onmouseover="MM_nbGroup('over','navbar_programs','/Gif/new_navbar/navbar_programs_f2.gif','/Gif/new_navbar/navbar_programs_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><IMG NAME="navbar_programs" SRC="/Gif/new_navbar/navbar_programs_f3.gif" WIDTH="130" HEIGHT="43" BORDER="0" ALT="Programs" /></A></TD>
        <TD><A HREF="/programs/rental.html" TARGET="_top"  onclick="MM_nbGroup('down','navbar1','navbar_rentals','/Gif/new_navbar/navbar_rentals_f3.gif',1)"  onmouseover="MM_nbGroup('over','navbar_rentals','/Gif/new_navbar/navbar_rentals_f2.gif','/Gif/new_navbar/navbar_rentals_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><IMG NAME="navbar_rentals" SRC="/Gif/new_navbar/navbar_rentals.gif" WIDTH="152" HEIGHT="43" BORDER="0" ALT="Rent our Facilities" /></A></TD>
        <TD><A HREF="/personal" TARGET="_top"  onclick="MM_nbGroup('down','navbar1','navbar_personal_retreats','/Gif/new_navbar/navbar_personal_retreats_f3.gif',1)"  onmouseover="MM_nbGroup('over','navbar_personal_retreats','/Gif/new_navbar/navbar_personal_retreats_f2.gif','/Gif/new_navbar/navbar_personal_retreats_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><IMG NAME="navbar_personal_retreats" SRC="/Gif/new_navbar/navbar_personal_retreats.gif" WIDTH="149" HEIGHT="43" BORDER="0" ALT="Personal Retreats" /></A></TD>
        <TD><A HREF="/community/index.html" TARGET="_top"  onclick="MM_nbGroup('down','navbar1','navbar_community','/Gif/new_navbar/navbar_community_f3.gif',1)"  onmouseover="MM_nbGroup('over','navbar_community','/Gif/new_navbar/navbar_community_f2.gif','/Gif/new_navbar/navbar_community_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><IMG NAME="navbar_community" SRC="/Gif/new_navbar/navbar_community.gif" WIDTH="110" HEIGHT="43" BORDER="0" ALT="Community" /></A></TD>
        <TD><A HREF="/yoga/index.html" TARGET="_top"  onclick="MM_nbGroup('down','navbar1','navbar_yoga','/Gif/new_navbar/navbar_yoga_f3.gif',1)"  onmouseover="MM_nbGroup('over','navbar_yoga','/Gif/new_navbar/navbar_yoga_f2.gif','/Gif/new_navbar/navbar_yoga_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><IMG NAME="navbar_yoga" SRC="/Gif/new_navbar/navbar_yoga.gif" WIDTH="119" HEIGHT="43" BORDER="0" ALT="Yoga" /></A></TD>
        <TD ROWSPAN="2"><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="32" HEIGHT="75" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="1" HEIGHT="43" BORDER="0" /></TD>
      </TR>
      <TR>
        <TD COLSPAN="5"><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="660" HEIGHT="32" BORDER="0" /></TD>
        <TD><IMG SRC="/Gif/new_navbar/spacer.gif" WIDTH="1" HEIGHT="32" BORDER="0" /></TD>
      </TR>
    </TABLE></TD>
  </TR>
  <TR>
    <TD WIDTH="825"><DIV ALIGN="left">
      <TABLE WIDTH="825" ALIGN="left" CELLPADDING="0" CELLSPACING="0">
        <TR>
          <TD WIDTH="205" ALIGN="left" VALIGN="top">
            <TABLE WIDTH="100%" HEIGHT="100%"  border="0" CELLPADDING="0" CELLSPACING="0">
            <TR>
              <TD><IMG SRC="/Gif/greenbox_upper_left.gif" WIDTH="10" HEIGHT="18" /></TD>
              <TD BACKGROUND="/Gif/greenbox_top.gif">&nbsp;</TD>
              <TD><IMG SRC="/Gif/greenbox_upper_right.gif" WIDTH="10" HEIGHT="18" /></TD>
            </TR>
            <TR>
              <TD BACKGROUND="/Gif/greenbox_left.gif"></TD>
              <TD BGCOLOR="#C3D7D6"><TABLE WIDTH="185 align="LEFT"  cellpadding="10">
                  <TR>
                    <TD  valign="top"><P ALIGN="center"><A HREF="/programs/ysc.html"><IMG SRC="/Gif/ysc_button.gif" ALT="Yoga, Service &amp; Community" WIDTH="130" HEIGHT="130" BORDER="0" /></A></P>
                      <P><SPAN>Interested
                            in a yogic lifestyle? Consider our <A HREF="/programs/ysc.html">Yoga,
                            Service, and Community</A> program, or look at our list
                          of <A HREF="/yoga/index.html#lifestyle">yoga programs</A>. </SPAN></P>
                      <P><IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" />
  </P>
                      <P ALIGN="left" ><B>To register for a program: </B></P>
                      <P> Go to the <A HREF="programs.html">programs
                          calendar</A> and select the program for which you wish
                          to register. Click on the &quot;Register for this program&quot; button,
                          and follow the instructions.</P>                    
                      <TABLE WIDTH="150" ALIGN="center">
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <A HREF="/programs/contactprog.html" >Contacting the Programs
                              Office</A>                          </TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <A HREF="/programs/moreinfo.html" >More info about attending
                              programs</A>                          </TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <A HREF="/programs/rental.html" >Rental Information</A>                          </TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <A HREF="/directions/index.html" >Transportation and Directions</A>                          </TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle">
                              <A HREF="mailto:programs@mountmadonna.org">e-mail
                              the programs department</A>                          </TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="events.html" TARGET="_top" >Calendar
                              of Events</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="/yoga/yoga_classes.html"  >Ongoing
                              Classes</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="/yoga/ytt.html" >Yoga
                              Teacher Training <BR />
        200-hour Certificate Program</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="/yoga/ytt500.html" >Yoga
                              Teacher Training <BR />
        500-hour Certificate Program</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="/projects/kayakalpa/index.html"  >Kaya
                              Kalpa<BR />
        Wellness Center</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="http://www.mountmadonnainstitute.org/ayurveda/ayurveda_world.html"  >The
                              Ayurvedic Store</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="/Gif/Photos/Facilities/index.html"  >Facilities
                              Photos</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="/programs/progfees.html"  >Housing
                              and Fees</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><A HREF="/yoga/ashtanga_yoga.html" TARGET="_top" >Ashtanga
                              Yoga</A></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                        <TR>
                          <TD 
	 align="center" VALIGN="middle"  ><STRONG>CAUTION! <BR />
        Do NOT use Yahoo or MapQuest for Directions to MMC!!</STRONG></TD>
                        </TR>
                        <TR>
                          <TD ALIGN="center" VALIGN="middle"  > <IMG SRC="/Gif/underline.jpg" WIDTH="150" HEIGHT="1" /></TD>
                        </TR>
                      </TABLE>                    
                      </TD>
                  </TR>
              </TABLE></TD>
              <TD BACKGROUND="/Gif/greenbox_right.gif"></TD>
            </TR>
            <TR>
              <TD><IMG SRC="/Gif/greenbox_lower_left.gif" WIDTH="10" HEIGHT="10" /></TD>
              <TD BACKGROUND="/Gif/greenbox_bottom.gif" HEIGHT="10"></TD>
              <TD><IMG SRC="/Gif/greenbox_lower_right.gif" WIDTH="10" HEIGHT="10" /></TD>
            </TR>
            </TABLE></TD>
          <TD WIDTH="620" ALIGN="left" VALIGN="top">            <TABLE WIDTH="100%"  border="0" CELLSPACING="0" CELLPADDING="0"> 
          <TR> 
            <TD><IMG SRC="/Gif/whitebox_upper_left.gif" WIDTH="20" HEIGHT="18" /></TD> 
            <TD HEIGHT="18" BACKGROUND="/Gif/whitebox_top.gif">&nbsp;</TD> 
            <TD><IMG SRC="/Gif/whitebox_upper_right.gif" WIDTH="20" HEIGHT="18" /></TD> 
          </TR> 
          <TR> 
            <TD BACKGROUND="/Gif/whitebox_left.gif">&nbsp;</TD> 
            <TD><TABLE CELLPADDING="6" BGCOLOR="#FFFFFF">
                <TR VALIGN="top">
                  <TD colspan=2>
				  <?php include("/home/mmc/www/banners/rotate_banners.php");?>
				  <H1 ALIGN="center">Upcoming Programs</H1>
                    <H2 ALIGN="center">at Mount Madonna Center</H2>                
                     
   

                    <A NAME="calendar"></A></TD>
                </TR>
			    <!--T programlist -->
                <TR>
                  <TD VALIGN="middle">&nbsp;</TD>
                  <TD VALIGN="top"><P>&nbsp; </P></TD>
                </TR>
                <TR>
                  <TD VALIGN="middle">&nbsp;</TD>
                  <TD VALIGN="top">&nbsp;</TD>
                </TR>
                <TR VALIGN="top">
                  <TD colspan=2><HR />
                      <UL>
						        <LI>Mount Madonna Center program registration
                                      begins at 4:00 pm. </LI>
                                <LI> Dinner is served from 5:30-6:30
                                        on Friday and 5:00-6:00 on other days.</LI>
                                <LI> If you will be arriving late, please
                                      ask us to save a dinner for you.</LI>
                                <LI> Orientation begins at 7:00 pm.</LI>
                                <LI> The program will end about midday
                                      on the final scheduled day.</LI>
                          </UL> </TD></TR>
                <TR VALIGN="top">
                  <TD colspan=2><HR />
                    <SPAN CLASS="barnacles">*</SPAN> These programs have Continuing
                      Education Credit available for nurses<BR />
        <SPAN CLASS="barnacles">**</SPAN> and also for LMFT's and LCSW's.<BR />
<SPAN CLASS="barnacles">&dagger;</SPAN> Fulfills the spiritual practice prerequisite for John F. Kennedy University's
  Graduate School for Holistic Studies. <BR />
<SPAN CLASS="barnacles">&sect;</SPAN> May be used as an elective for YTT 500</TD></TR>
              </TABLE></TD> 
            <TD BACKGROUND="/Gif/whitebox_right.gif">&nbsp;</TD> 
          </TR> 
          <TR> 
            <TD><IMG SRC="/Gif/whitebox_lower_left.gif" WIDTH="20" HEIGHT="18" /></TD> 
            <TD BACKGROUND="/Gif/whitebox_bottom.gif">&nbsp;</TD> 
            <TD><IMG SRC="/Gif/whitebox_lower_right.gif" WIDTH="20" HEIGHT="18" /></TD> 
          </TR> 
            </TABLE></TD>
          <!-- Begin Menu Bar -->
        </TR>
        <TR>
          <TD WIDTH="205" ALIGN="left" VALIGN="top"></TD>
          <TD WIDTH="620" ALIGN="left" VALIGN="top" CLASS="style1">              <BR />
              <CENTER>
          Click on the <A HREF="/index.html"><IMG SRC="/Gif/mmc_logo.gif" WIDTH="45" HEIGHT="32" BORDER="0" ALIGN="middle" /></A> to
          return to the MMC home page
              </CENTER>
                <HR ALIGN="center" WIDTH="80%" NOSHADE />              <CENTER>
                   <P>Mount Madonna Center &bull; 445 Summit Rd, Watsonville, CA 95076<BR />
                    Direct Line to Programs Office: (408) 846-4064 &bull; Phone
            (408) 847-0406 &bull;Fax (408) 847-2683<BR />
            e-mail <A HREF="mailto:programs@mountmadonna.org" CLASS="style2">programs@mountmadonna.org</A><BR />
            Webmaster: <A HREF="mailto:webmaster@mountmadonna.org" CLASS="style2">webmaster@mountmadonna.org</A>
            <BR />
            A Project of<BR />
                    <A HREF="http://www.hanumanfellowship.org" TARGET="_blank"><IMG SRC="/Gif/logoHF.jpg" WIDTH="150" HEIGHT="43" BORDER="0" /></A><BR />
                    Copyright <!-- T current_year -->, Hanuman Fellowship. All rights reserved. &bull; Last updated <!-- T current_date -->
                  </P>
                  <P>&nbsp;                                  </P>
                </CENTER>
            </TD></TR>
      </TABLE>
        </DIV></TD>
  </TR>
</TABLE>
<SCRIPT SRC="http://www.google-analytics.com/urchin.js" TYPE="text/javascript">
</SCRIPT>
<SCRIPT TYPE="text/javascript">
_uacct = "UA-303243-2";
urchinTracker();
</SCRIPT>
</BODY>
</HTML>