<?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/referral.php'); ?> 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML><!-- InstanceBegin template="../Sites/mmc/www/Templates/csstemplate_general.dwt" codeOutsideHTMLIsLocked="false" --><HEAD>

<!-- InstanceBeginEditable name="variables" -->
<?php 
//VARIABLE DECLARATION
$active_navbar = 'programs';//defines which button on the navbar should be down
$sidebar ='programs';//defines which sidebar to use
?>
<!-- InstanceEndEditable -->



<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1" />
<!-- InstanceBeginEditable name="doctitle" -->
<TITLE>Programs at Mount Madonna Center</TITLE>
<!-- InstanceEndEditable -->

<!-- InstanceBeginEditable name="head" -->
<LINK HREF="/styles/reset.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/layout.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/header.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/sidebar.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/text.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/programs.css" REL="stylesheet" TYPE="text/css" />
<!-- InstanceEndEditable -->

<!--[if IE 5]>
<style type="text/css"> 
.twoColFixLtHdr #sidebar1 { margin-right: 7px; }
.twoColFixLtHdr #contentHeader { margin-left: 197px;}
</style>
<![endif]-->
<!--[if IE 6]>
<style type="text/css"> 
.twoColFixLtHdr #sidebar1 { width: 187px; }
.twoColFixLtHdr #contentHeader { margin-left: 197px;}
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.twoColFixLtHdr #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->
</HEAD>

<BODY CLASS="twoColFixLtHdr">


    <DIV ID="container">
        <DIV ID="header"><?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/header.php');?></DIV>
        <DIV ID="mainWrapper">
            <DIV ID="sidebar1"><?php include("/home/mmc/domains/mountmadonna.org/public_html/includes/sidebar_$sidebar.php");?></DIV>
      
            <DIV ID="contentHeader"><!-- put 650 px width image here or leave &nbsp; if no header image-->
                <!-- InstanceBeginEditable name="contentHeader" -->
                
                &nbsp;
                
                <!-- InstanceEndEditable -->
            </DIV><!-- end #contentHeader -->
          
         
            <DIV ID="content">
                <!-- InstanceBeginEditable name="content" -->
                <?php include("/home/mmc/www/banners/rotate_banners2.php");?>
                <TABLE CELLPADDING="6" BGCOLOR="#FFFFFF">
                    <TR VALIGN="top">
                        <TD COLSPAN=2>
                                <H1 ALIGN="center" class="calendar_head">Upcoming Programs<BR>
                                <SPAN CLASS="calendar_subhead">at Mount Madonna Center</SPAN></H1>
                                <p align="center">&gt;&gt; see also <a href="/live/events.html">programs by other organizations renting our facilities</a></p>
                            <A NAME="calendar"></A></TD>
                    </TR>
                    <TR><TD COLSPAN=2 CLASS="past_events">Attended a recent event? Share, connect and keep learning - <A HREF="http://www.facebook.com/MountMadonnaCenter?sk=pe">see our past events on Facebook</A>.</TD></TR>
                    <!--T programlist -->
                    <TR>
                        <TD VALIGN="middle">&nbsp;</TD>
                        <TD VALIGN="top"><P>&nbsp; </P></TD>
                    </TR>
                    <TR>
                        <TD VALIGN="middle">&nbsp;</TD>
                        <TD VALIGN="top">&nbsp;</TD>
                    </TR>
                    <TR VALIGN="top">
                        <TD COLSPAN=2><HR />
                                <UL>
                                    <LI>Mount Madonna Center program registration
                                        begins at 4:00 pm. </LI>
                                    <LI> Dinner is served from 5:30-6:30
                                        on Friday and 5:00-6:00 on other days.</LI>
                                    <LI> If you will be arriving late, please
                                        ask us to save a dinner for you.</LI>
                                    <LI> Orientation begins at 7:00 pm.</LI>
                                    <LI> The program will end about midday
                                        on the final scheduled day.</LI>
                                </UL></TD>
                    </TR>
                    <TR VALIGN="top">
                        <TD COLSPAN=2><HR />
                                <SPAN CLASS="barnacles">*</SPAN> These programs have Continuing
                            Education Credit available for nurses<BR />
                                  <SPAN CLASS="barnacles">**</SPAN> and also for LMFT's and LCSW's.<BR />
                                  <SPAN CLASS="barnacles">&dagger;</SPAN> Fulfills the spiritual practice prerequisite for John F. Kennedy University's
                            Graduate School for Holistic Studies. <BR />
              <SPAN CLASS="barnacles">&sect;</SPAN> May be used as an elective for YTT 500</TD>
                    </TR>
                </TABLE>
                <H1>&nbsp;</H1>
                <!-- InstanceEndEditable -->
             <!-- end #Content --></DIV>
           <DIV ID="contentFooter" CLASS="clearfloat"><!-- end #ContentFooter --></DIV>
        <!-- end #mainWrapper --></DIV>
        

        <DIV ID="footer">
        <?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/footer.php'); ?>
        </DIV><!-- end #footer -->
    </DIV><!-- end #container -->
</BODY>
<!-- InstanceEnd --></HTML>
