<h1>program.title1</h1>
[% program.title1 %]
<h1>program.title2</h1>
[% program.title2 %]
<h1>program.leader_names</h1>
[% program.leader_names %]
<h1>program.title1</h1>
[% program.title1 %]
<h1>program.title2</h1>
[% program.title2 %]
<h1>program.title1</h1>
[% program.title1 %]
<h1>program.title2</h1>
[% program.title2 %]
<h1>program.picture</h1>
[% program.picture %]
<h1>program.dates</h1>
[% program.dates %]
<h1>program.leader_names</h1>
[% program.leader_names %]
<h1>program.id</h1>
[% program.id %]
<h1>program.picture</h1>
[% program.picture %]
<h1>program.firstprog_prevmonth</h1>
[% program.firstprog_prevmonth %]
<h1>program.firstprog_nextmonth</h1>
[% program.firstprog_nextmonth %]
<h1>program.prevprog</h1>
[% program.prevprog %]
<h1>program.nextprog</h1>
[% program.nextprog %]
<h1>program.month_calendar</h1>
[% program.month_calendar %]
<h1>program.facebook_event_id</h1>
[% program.facebook_event_id %]
<h1>program.id</h1>
[% program.id %]
<h1>program.title1</h1>
[% program.title1 %]
<h1>program.title2</h1>
[% program.title2 %]
<h1>program.dates</h1>
[% program.dates %]
<h1>program.reg_link</h1>
[% program.reg_link %]
<h1>program.webdesc</h1>
[% program.webdesc %]

<h1>program.documents</h1>
[% IF program.documents %]
[% FOR d IN  program.documents %]
<h2>d.id</h2>
[% d.id %]
<h2>d.suffix</h2>
[% d.suffix %]
<h2>d.title</h2>
[% d.title %]
[% END %]
[% END %]

<h1>program.weburl</h1>
[% program.weburl %]
[% IF program.leader_bio %]
[% program.leader_bio %]
[% END %]
<h1>program.long_footnotes</h1>
[% program.long_footnotes %]
<h1>program.fee_table</h1>
[% program.fee_table %]
<h1>program.reg_link</h1>
[% program.reg_link %]
<h1>program.deposit</h1>
[% program.deposit %]
<h1>program.cancellation_policy</h1>
[% program.cancellation_policy %]
<h1>program.reg_start_obj</h1>
[% program.reg_start_obj %]
<h1>program.reg_end_obj</h1>
[% program.reg_end_obj %]
<h1>program.prog_start_obj</h1>
[% program.prog_start_obj %]
<h1>program.prog_end_obj</h1>
[% program.prog_end_obj %]
