<?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/referral.php'); ?> 

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>

<?php 
//VARIABLE DECLARATION
$active_navbar = 'programs';//defines which button on the navbar should be down
$sidebar ='template';//defines which sidebar to use
?>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8" />

<TITLE>[% program.title1 %] [% program.title2 %]
</TITLE>



<META NAME="keywords" CONTENT="[% program.leader_names %], [% program.title1 %], [% program.title2 %], bay area yoga, bay area conference center, bay area retreat center, baba hari dass, vegetarian, meditation">

<META PROPERTY="og:title" CONTENT=" [% program.title1 %] - [% program.title2 %]"/>
<META PROPERTY="og:type" CONTENT="other"/>
<META PROPERTY="og:url" CONTENT="<?php 
$string = $_SERVER['REQUEST_URI']; 

$queryLoc = strpos($string,'?');
if ($queryLoc) {
	$result_uri=substr($string,0,$queryLoc);
} else { 
	$result_uri=$string;
} 
echo 'https://www.mountmadonna.org' . $result_uri; 
?>"/>


<META PROPERTY="og:image" CONTENT="<?php $string="[% program.picture %]"; preg_match('/(?<=\').*?(?=\')/', $string, $result); echo 'https://www.mountmadonna.org/live/' . $result[0]; ?>"/>
<META PROPERTY="og:site_name" CONTENT="Mount Madonna Center"/>
<META PROPERTY="fb:admins" CONTENT="507138422"/>
<META PROPERTY="og:description"
          CONTENT="Workshop [% program.dates %] by [% program.leader_names %]"/>

<LINK HREF="/styles/reset.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/layout.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/header.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/sidebar.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/text.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/programs.css" REL="stylesheet" TYPE="text/css" />
<LINK HREF="/styles/facebook.css" REL="stylesheet" TYPE="text/css" />
<link HREF="/styles/tipsy.css" rel="stylesheet" type="text/css" />


<!-- TemplateBeginEditable name="head" --><!-- TemplateEndEditable -->

<!--[if IE 5]>
<style type="text/css"> 
.twoColFixLtHdr #sidebar1 { margin-right: 7px; }
.twoColFixLtHdr #contentHeader { margin-left: 197px;}
</style>
<![endif]-->
<!--[if IE 6]>
<style type="text/css"> 
.twoColFixLtHdr #sidebar1 { width: 187px; }
.twoColFixLtHdr #contentHeader { margin-left: 197px;}
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.twoColFixLtHdr #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->
</HEAD>

<BODY CLASS="twoColFixLtHdr">

    <DIV ID="container">
        <DIV ID="header"><?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/header.php');?></DIV>
        <DIV ID="mainWrapper">
            <DIV ID="sidebar1"><DIV CLASS="sidebarContainer"><DIV CLASS="sidebarTop"><DIV></DIV></DIV>
	<DIV CLASS="sidebarContent" STYLE="margin-right:auto;margin-left:auto;width:170px;">
        <DIV>[% program.picture %]</DIV>

                  
            

  </DIV><DIV CLASS=sidebarBottom><DIV></DIV></DIV></DIV>
  </DIV>
      
            <DIV ID="contentHeader" CLASS="p[% program.id %]"><!-- put 650 px width image here or leave &nbsp; if no header image-->


                <DIV CLASS="ptop">
                    <H1 CLASS="ptitle">[% program.title1 %]</H1>
                    <H2 CLASS="psubtitle">[% program.title2 %]</H2>
                    <P CLASS="pdates">[% program.dates %]</P>
                    <SPAN><A href="https://www.mountmadonna.org/cgi-bin/reg1?id=[% program.id %]&dir=[% program.unlinked_dir %]"><IMG alt="Reserve Housing" src="/Gif/OGS-Button.png" width=147 height=32 border=0></A></SPAN>
                </DIV>
                
            </DIV><!-- end #contentHeader -->
          
         
            <DIV ID="content">
                
                
                
                <DIV CLASS="pdivider"><SPAN STYLE="float:left;"><IMG SRC="/Gif/arrow_programs_right.gif" WIDTH="7" HEIGHT="10" STYLE="margin-right:2px;vertical-align: top;">PROGRAM DESCRIPTION</SPAN><SPAN STYLE="float:right;">&nbsp;</SPAN></DIV>
                
                <DIV CLASS="pdesc">
					[% program.webdesc_plus %]
                    [% IF program.documents %]
                        <ul class=doc_ul>
                        [% FOR d IN  program.documents %]
                            <li><a href="docs/pdoc[% d.id %].[% d.suffix %]">[% d.title %]</a>
                        [% END %]
                    </ul>
                    [% END %]
			    	[% program.weburl %]
                </DIV>
                
                [% IF program.leader_bio %]
                <DIV CLASS="pdivider"><SPAN STYLE="float:left;"><IMG SRC="/Gif/arrow_programs_right.gif" WIDTH="7" HEIGHT="10" STYLE="margin-right:2px;vertical-align: top;">PRESENTER BIO</SPAN><SPAN STYLE="float:right;"><A HREF="#top"><IMG SRC="/Gif/arrow_programs_up.gif" WIDTH="10" HEIGHT="7">top</A></SPAN></DIV>
                <DIV CLASS="pbio">
                    [% program.leader_bio %]
                </DIV>
                [% END %]
                
                <DIV CLASS="pdivider"><SPAN STYLE="float:left;"><IMG SRC="/Gif/arrow_programs_right.gif" WIDTH="7" HEIGHT="10" STYLE="margin-right:2px;vertical-align: top;">REGISTRATION</SPAN><SPAN STYLE="float:right;"><A HREF="#top"><IMG SRC="/Gif/arrow_programs_up.gif" WIDTH="10" HEIGHT="7">top</A></SPAN></DIV>
                
                <DIV CLASS="preg">
                <P STYLE="margin-top:25px;"><STRONG>Cost:</STRONG></P>

                    <CENTER>
                        <UL>
                            [% program.fee_table %]
                        </UL>
                    <P align=center style="margin-top:35px;"><A href="https://www.mountmadonna.org/cgi-bin/reg1?id=[% program.id %]&dir=[% program.unlinked_dir %]"><IMG 
                              alt="Reserve Housing" 
                              src="/Gif/OGS-Button.png" 
                              width=147 height=32 border=0 
                              ></A></P>
                    </CENTER>
                </DIV>
                
                <DIV CLASS="pdivider"><SPAN STYLE="float:left;"><IMG SRC="/Gif/arrow_programs_right.gif" WIDTH="7" HEIGHT="10" STYLE="margin-right:2px;vertical-align: top;">PROGRAM NOTES</SPAN><SPAN STYLE="float:right;"><A HREF="#top"><IMG SRC="/Gif/arrow_programs_up.gif" WIDTH="10" HEIGHT="7">top</A></SPAN></DIV>

                <DIV CLASS="pnotes">
                    <UL>
                      
                        <LI>[% program.cancellation_policy %]</LI>
                        <LI>Registration check-in for this program is from [% program.reg_start_obj %] to [% program.reg_end_obj %].</LI>
                        <LI>Dinner is served from 5:30-6:30 pm on Friday and 5:00-6:00 pm on other days.</LI>
                        <LI>If you will be arriving late, please ask us to save a dinner for you.</LI>
                        <LI>Orientation begins at [% program.prog_start_obj %].</LI>
                        <LI>The program will end at [% program.prog_end_obj %] on the final scheduled day.</LI>
                    </UL>
                </DIV>
                
              
                <P>&nbsp;</P>
             <!-- end #Content --></DIV>
           <DIV ID="contentFooter" CLASS="clearfloat"><!-- end #ContentFooter --></DIV>
        <!-- end #mainWrapper --></DIV>
        

        <DIV ID="footer">
        <?php include('/home/mmc/domains/mountmadonna.org/public_html/includes/footer.php'); ?>
        </DIV><!-- end #footer -->
    </DIV><!-- end #container -->
</BODY>
</HTML>
