.whole {
    margin-left: .3in;
}
.jmptable {
    margin-left: .3in;
}
.details {
    font-family: Verdana;
    margin-left: .3in;
    display: inline;
}
.go {
    font-size: 18pt;
}
.datefld {
    font-family: Verdana;
    margin-left: .3in;
}
.hdr {
    font-weight: bold;
    font-size: 18pt;
    font-family: Verdana;
}
.pr_links {
    text-decoration: none;
    color: black;
}
