body {
    background: #ffffff;
    margin-left: .3in;
    font-size: 13pt;
    font-family: Lucida Grande, Verdana, Helvetica;
}
.jmptable {
    margin-left: .3in;
}
.details {
    font-family: Lucida Grande, Verdana, Helvetica;
    margin-left: .3in;
    display: inline;
}
.go {
    font-size: 18pt;
}
.datefld {
    font-family: Lucida Grande, Verdana, Helvetica;
    margin-left: .3in;
}
.hdr {
    font-weight: bold;
    font-size: 18pt;
    font-family: Lucida Grande, Verdana, Helvetica;
}
.pr_links {
    text-decoration: none;
    color: black;
}
a {
    color: #33a;
    text-decoration: none;
    font-size: 13pt;
}

a:hover {
    color: #fff;
    background: #33a;
    text-decoration: none;
}
.keyed {
    background: #ddeeee;
}
.updated {
    font-size: 10pt;
}
.cal_head {
    font-size: 20pt;
    font-weight: bold;
    margin-top: .5in;
    margin-bottom: .5in;
}
.cal_help {
    font-size: 13pt;
}
.pink {
    background: pink;
}
.me_back {
    background: lightgreen;
}
