body {
    margin: .5in;
    font-size: 16pt;
    font-family: Helvetica;
}
td, th, input, button, textarea {
    font-size: 16pt;
    font-family: Helvetica;
}
.required {
    color: red;
    font-weight: bold;
}
th {
    text-align: right;
}
.lt {
    text-align: left;
}
a {
    text-decoration: none;
    color: blue;
}
h3 {
    color: green;
}
li {
    margin-bottom: 3mm;
}
.space {
    line-height: 8mm;
}
.teal {
    font-size: 16pt;
    background: lightgreen;
}
button {
    background: lightgreen;
}
