<h2>MMI Payment Requests</h2>
<table cellpadding=5>
<tr>
<th align=left>Person</th>
<th align=right>Amount</th>
<th align=left>Program</th>
<th align=left>Requested</th>
</tr>
[% FOREACH p IN payments %]
<tr>
<td><a href=/registration/view/$p.reg_id>$p.person.first $p.person.last</a></td>
<td align=right>$p.amount_disp</td>
<td><a href=/program/view/$p.registration.program_id>$p.registration.program.name</a></td>
<td>$p.the_date_obj</td>
</tr>
[% END %]
</table>
