<h2>Ride Financials since $since</h2>
<ul>
<table cellpadding=5>
<tr>
<th align=left>Driver</th>
<th align=left># Rides</th>
<th align=right>Total</th>
</tr>
[% FOREACH d IN drivers %]
<tr>
<td align=left><a href=/user/view/$d.id>$d.first</a></td>
<td align=right>$d.nrides&nbsp;&nbsp;</td>
<td align=right>$d.total</td>
<td></td>
</tr>
[% END %]
<tr>
<td>&nbsp</td>
<td align=right>Total</td>
<td align=right style="border-top: solid; border-top-width: 1px;">$gtot</td>
</tr>
</table>
</ul>
