<h1>Future <span class=mount_exp>Mountain Experience</span> Registrations</h1>
<style>
.tally {
    color: green;
    text-indent: .4in;
}
</style>
<table cellpadding=5>
[% FOR row IN rows %]
$row
[% END %]
</table>
