<h1><span class=mount_exp>Mountain Experience</span> Registrations <span style="font-weight: normal; font-size: 16pt;">since ${start.format("%D")}</span></h1>
<style>
.tally {
    color: green;
    text-indent: .4in;
}
</style>
<table cellpadding=5>
[% FOR row IN rows %]
$row
[% END %]
</table>
