<h2>Cancellation Policies</h2>
[% IF Catalyst.check_user_roles('prog_admin') %]
<a href="/canpol/create">Create</a>
[% END %]
<ul>
<table cellpadding=3 border=0>

[% FOREACH cp IN canpols %]

<tr>
<td><a href="/canpol/view/[% cp.id %]">[% cp.name %]</a></td>
</tr>

[% END %]
</table>
</ul>
