<h1>Emergency switch</h1>
You should come here only if Kali achieved mahasamadhi.  Did it?
<p class=p2>
<a href=/configuration/switch_do>Sadly, Yes</a>
&nbsp;
&nbsp;
&nbsp;
<a href=/person/search>Gladly, No</a>
</form>
