<h2>Affiliations</h2>
<form action=[% '/affil/' _ form_action %] name=form>
<table cellpadding=3 border=0>
<tr>
<td align=right><span class="required">*</span> Description</span></td>
<td><input type=text name=descrip value="[% affil.descrip %]"></td>
</tr>
</table>
<input type=submit value="Submit">
</form>
<script type="text/javascript">document.form.descrip.focus()</script>
