<a href=/affil/create>Create</a>
<p>
<table cellpadding=5 border=1>
    <tr>
    <th>Description</th>
    <th>Action</th>
    </tr>

    [% FOREACH a IN affil %]
    <tr>
    <td>[% a.descrip %]</td>
    <td>
    <a href="[% '/affil/update/' _ a.id %]">Edit</a>&nbsp;
    <a href="[% '/affil/delete/' _ a.id %]" onclick="return confirm('Okay to Delete [% a.descrip %]?')">Del</a>
    </td>
    </tr>
    [% END -%]
</table>
