<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]

</head>
<body>
[% INCLUDE new_tt2/header.tt2 %]
            <!-- PAGE CONTENT BEGINS HERE -->

<h3>
Greetings $name,
</h3>
<p>
We require that everyone at Mount Madonna Center be fully vaccinated
against COVID-19.
</p>
<form action=/cgi-bin/covid_vax
      name=form
      method=post
      enctype="multipart/form-data"
      class="regs-form"
>
<input type=hidden name=person_id value=$person_id>
Please choose your vaccination card image file here: <input type=file name=card>
<p>
And then press: <button class="sub-button" type=submit>Upload</button>
</form>

<!-- // PAGE CONTENT ENDS HERE -->
[% INCLUDE new_tt2/footer.tt2 %]
</body>
</html>
