<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/new_cgi.css">
</head>
<body>
	<div class="message-box-a">
		<div class="message-box-c">
			<img src='/static/images/mm-legacy-logo.png' width=200>
			<h3>
			Thank you.
			</h3>
		</div>
	</div>
</body>
</html>
