<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/new_cgi.css">

</head>
<body>
	<div class="message-box-a">
		<div class="message-box-c">
			<img src='/static/images/mm-legacy-logo.png' width=250 style="width: 250px; max-height: 160px;">
			[% IF back %]
			<p>Problems were found in the form:</p>
			[% END %]
			<ul>
			$err
			</ul>
			<form>
			[% IF back %]
			    Please <button class="sub-button" type="button" id=back onclick="history.go(-1); return false;">Go Back</button> and correct these things.
			[% END %]
			</form>
		</div>
	</div>


<script type='text/javascript'>
document.getElementById('back').focus();
</script>

</body>
</html>
