<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/new_cgi.css">
</head>
<body>

	<div class="mail-box-a">
		<div class="mail-box-b">
			<img src="https://akash.mountmadonna.org/static/images/mm-legacy-logo.svg" width=200>
			<h3>
			Greetings $rec_fname,
			</h3>
			<p>Your friend has sent you a gift card for meals and lodging at Mount Madonna Center.
			It has a value of \$${amount}.</p>
			<p>
			It was sent to you by $first ${last}.</p>
			<p>
			You can redeem it (in whole or in part) by registering
			for a Personal Retreat (or any other program) at <a target=_blank href='https://www.mountmadonna.org'>mountmadonna.org</a>.</p>
			<p>
			When paying for your registration use this gift card code: <span style="font-size: 15pt">$code</span>
			[% IF personal_note %]
			</p>
			<p>
			${first}'s message to you is this:</p>
			<ul>
			$personal_note_verbose
			</ul>
			[% END %]
			<p>
			You can check on the status of your card with <a href='$cgi/gift_card_status?code=$code'>this link</a>.<br>
			<strong>Thank you</strong>
			</p>
		</div>
	</div>




</body>
</html>
