<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]

</head>
<body>
[% INCLUDE new_tt2/header_gc.tt2 %]

<h2>Thank you!</h2>
<p>Please confirm the following and then choose the Pay Securely button below.</p>
<p>You are sending a gift card for \$$amount for meals and lodging at Mount Madonna Center to:</p>
<h3>Recipient</h3>
<dl>
<dt>Name:</dt>
<dd>$rec_fname $rec_lname</dd>
<dt>Email:</dt>
<dd>$rec_email</dd>
[% IF personal_note_verbose %]
    <dt>Personal Note:</dt>
    <dd>$personal_note_verbose</dd>
[% END %]
</dl>
<h3>Your information</h3>
<dl>
<dt>Name:</dt>
<dd>$first $last</dd>

<dt>Address:</dt>
<dd>$street_addr<br>
$city, $st_prov $zip_post<br>
$country</dd>

<dt>Telephone:</dt>
<dd>$cell</dd>

<dt>Email:</dt>
<dd>$email</dd>
</dl>

<div class="btn-holder">
$stripe_payment
</div>
<!-- // PAGE CONTENT ENDS HERE -->
[% INCLUDE new_tt2/footer.tt2 %]
</body>
</html>
