<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/new_cgi.css">
</head>
<body>
	<div class="message-box-a">
    	<div class="message-box-c">
<img src='/static/images/mm-legacy-logo.png' width=200>
<ul>
<h3>Meal Requests:</h3>

<ul>
$summary
</ul>
<p>
$first $last
<br>$addr1
[% IF addr2 %]
<br>$addr2
[% END %]
<br>$city, $st_prov<br>
$zip_post<br>
$country<br>
$cell<br>
$email1
</p>
<p>
$stripe_payment
</p>
</div>
</div>
</body>
</html>
