<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/new_cgi.css">
</head>
<body>

	<div class="mail-box-a">
    	<div class="mail-box-b">
<img src='https://akash.mountmadonna.org/static/images/mm-legacy-logo.svg' width=200>
<p>
Dear $first ${last},
</p>
<p>
Thank you for your meal request at least 48 hours in advance.<br>
This helps the kitchen plan for your arrival. 
<p>
Your meal request is confirmed for:
<ul>
$display_requests
</ul>
<p>
[% IF message %]
This information will also be sent by email.<br>
It will come From the address 'programs@mountmadonna.org'.
[% END %]
</p>
</div>
</div>
</body>
</html>
