<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/new_cgi.css">
</head>
<body>
	<div class="message-box-a">
		<div class="message-box-c">
<h3>Thank You!</h3>
<p>Your information was received.</p>
</div>
</div>
</body>
</html>
