<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]
<script>
var fields = [
    { id: 'first', regexp: '\\S',
                   err: 'Missing First Name' },
    { id: 'last', regexp: '\\S',
                   err: 'Missing Last Name' },
    { id: 'addr1',  regexp: '\\S',
                      err: 'Missing Street Address' },
    { id: 'city',  regexp: '\\S',
                   err: 'Missing City' },
    { id: 'st_prov',  regexp: '\\S',
                    err: 'Missing State' },
    { id: 'zip_post',  regexp: '\\S',
                  err: 'Missing Zip Code' },
    { id: 'cell',  regexp: '^[0-9 -.()]+\$',
                   err: 'Invalid Phone number' },
    { id: 'email1',  regexp: '^\\s*\\S+[@]\\S+[.]\\S+\\s*\$',
                     err: 'Invalid Email address' },
];
</script>
<script type='text/javascript' src='/static/js/check_fields.js'></script>
<style>
:root {
  --radius: 4px;
  --trans: 250ms;
  --color-file-input: #b1713c;
  --color-file-input-hover: #BB8355;
  --color-file-input-contrast: #2d3436;
  --color-file-input-hover-contrast: #dfe6e9;
  --bg-light: #d1d8e0;
  --bg-dark: #4b6584;
}

[data-grid] {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-auto-rows: 250px;
  gap: 5px;
  padding: 5px;
}
[data-grid] > section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  place-items: center;
  background: var(--bg-light);
}
[data-grid] > section div {
  font-size: 1.5rem;
}

.file-upload {
  border-radius: var(--radius);
}
.file-upload [type=file] {
  display: none;
}
.file-upload span {
  font-weight: 300;
}
.file-upload button {
  all: unset;
  pointer-events: none;
  font-weight: 400;
  background-color: var(--color-file-input);
  border: 1px solid var(--color-file-input);
  color: var(--color-file-input-contrast);
  color: #FFF;
}
.file-upload span,
.file-upload button {
  transition: var(--trans);
  padding: 0.3em 1em;
}
.file-upload:not(:is(.reverse, .column)) button {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.file-upload:not(:is(.reverse, .column)) span {
  border-top: 1px solid var(--color-file-input);
  border-bottom: 1px solid var(--color-file-input);
  border-left: 1px solid var(--color-file-input);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.file-upload.column {
  text-align: center;
}
/*.file-upload.column:not(.reverse) label {
  flex-direction: column;
}
.file-upload.column:not(.reverse) button {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.file-upload.column:not(.reverse) span {
  border-top: 1px solid var(--color-file-input);
  border-left: 1px solid var(--color-file-input);
  border-right: 1px solid var(--color-file-input);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}*/
.file-upload.reverse:not(.column) label {
  flex-direction: row-reverse;
}
.file-upload.reverse:not(.column) button {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.file-upload.reverse:not(.column) span {
  border-top: 1px solid var(--color-file-input);
  border-bottom: 1px solid var(--color-file-input);
  border-right: 1px solid var(--color-file-input);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.file-upload.column.reverse label {
  flex-direction: column-reverse;
}
.file-upload.column.reverse button {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.file-upload.column.reverse span {
  border-left: 1px solid var(--color-file-input);
  border-right: 1px solid var(--color-file-input);
  border-bottom: 1px solid var(--color-file-input);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.file-upload label {
  display: inline-flex;
  cursor: pointer;
  box-sizing: initial;
}
.file-upload label:hover button, .file-upload label:focus-within button {
  background-color: var(--color-file-input-hover);
  border-color: var(--color-file-input-hover);
  color: var(--color-file-input-hover-contrast);
}
.file-upload label:hover span, .file-upload label:focus-within span {
  border-color: var(--color-file-input-hover);
  background: rgba(0, 0, 0, 0.1);
}


</style>
</head>
<body>
  
  <div class="prebody-content">
        <div class="container">
          <h2 class=cent>Hanuman Fellowship Membership</h2>
            <img src='/static/images/hanuman-fellowship-graph.png' style="width: 450px; max-height: 160px;">
        </div>
    </div>


<!-- // HEADER -->
    <div class="body-content">
        <div class="container">

<div class=mission>
<p>The Hanuman Fellowship is organized, as inspired by the example and
teachings of master yogi <a target="_blank" href="https://dev-mountmadonna.pantheonsite.io/about/baba-hari-dass/">Baba Hari Dass</a>,
to promote the principles and practice of yoga by means of sadhana (spiritual practice), karma
yoga (selfless service), and satsang (supportive community), as well
as other spiritual disciplines and learning that foster personal
and spiritual development and wellness and that create an environment
for the attainment of peace.
</p>
</div>
<p>The Hanuman Fellowship (HFS) is a self-supportive community dedicated to
the attainment of peace. In order to attain this mission and carry
forward the teachings of Baba Hari Dass through sadhana, satsang,
and karma yoga, a membership based on commitment and service is
essential.
</p><p>
Members are the strength and foundation of the Fellowship and membership is a way of becoming involved in the service of maintaining and developing the programs and facilities we offer to serve the broader community.
</p><p>
Please review the membership categories and complete the
application form below. Applicants are eligible to receive the benefits
listed in the membership categories upon payment of annual dues.
Eligibility to vote in the annual Board of Directors election is
subject to confirmation by the members at the Annual
General Meeting.
</p>
<p>
In Peace,<br>
The Membership Committee<br>
Hanuman Fellowship Board of Directors<br>
<a href=mailto:memberships@mountmadonna.org>memberships@mountmadonna.org</a>
</p>

<div style="padding: 2.5em 0">

<table cellpadding=10 border=1>
<tr>
<th colspan=2 style="text-align:left">MEMBERSHIP CATEGORIES</th>
<th style="text-align:left">BENEFITS</th>
</tr>


<tr>
<th width=15% style="text-align:left">General</th>
<td>\$$mem_gen_amt Yearly Dues<br>
or<br>
\$$mem_gen_ky_amt Yearly Dues + 20 hours Karma Yoga**
</td>
<td>
<ul>
<li>20% Discount on meals at MMC</li>
<li>Eligibility to vote for the Board of Directors</li>
</ul>
</td>
</tr>

<tr>
<th style="text-align:left">Sponsor</th>
<td>\$$mem_spons_year Yearly Dues</td>
<td>
All above benefits, PLUS:
<ul>
<li>4 free nights lodging at Mount Madonna Center.
<p>
This can be taken:<br>
 As a Personal Retreat, subject to availability.<br>
or<br>
For one of the four annual retreats:<br>
Spring, Liberation, Fall, or
New Year's.
</p>
</ul>
Lodging is a double room w/o private bath, or room/tent of lesser value.
Sponsor dues lead to Lifetime Membership when the accumulated
amount of \$$mem_life_total is reached.
</td>
<tr>
<tr>
<th style="text-align:left">Lifetime</th>
<td>\$12,000 Lifetime Dues</td>
<td>
All above benefits, PLUS:
<ul>
<li>Free tuition, meals, and lodging for one of the four annual
retreats: Spring, Liberation, Fall, or New Year's Retreat.
</ul>
</td>
</tr>
</table>

</div>

<div class=smaller>
<p>** Karma Yoga: Members can be directed toward KY opportunities by the membership committee.
</p>
<p>
Please complete the form below and press Submit at the bottom:
</p>
</div>
<form action='/cgi-bin/new_hfs_member'
      name=form method=post
      enctype="multipart/form-data"
      class="regs-form"
      onSubmit="return check_fields();"
>
<p>
<table cellpadding=5>
<tr>
<th align=right valign=top width=30%>Membership Type</th>
<td>
  <ul>
    <label><input type=radio name=mem_type value=general checked> General - \$$mem_gen_amt annually</label><br>
    <label><input type=radio name=mem_type value=general_ky> General with KY** - \$$mem_gen_ky_amt annually + 20 hours KY</label><br>
    <label><input type=radio name=mem_type value=sponsor> Sponsor - \$$mem_spons_year annually</label>
  </ul>

</td>
</tr>
<tr>
<th align=right><span class=required>*</span> First</th>
<td>
<input type=text size=30 name=first id=first value="$first">
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> Last</th>
<td>
<input type=text size=30 name=last id=last value="$last">
</td>
</tr>
<tr>
<th align=right>Sanskrit</th>
<td>
<input type=text size=30 name=sanskrit id=sanskrit value="$sanskrit">
(optional)
</td>
</tr>
<tr>
<tr>
<th align=right><span class=required>*</span> Street</th>
<td>
<input type=text size=30 name=addr1 id=addr1 value="$addr1">
</td>
</tr>
<tr>
<th align=right></th>
<td>
<input type=text size=30 name=addr2 id=addr2 value="$addr2"> (optional)
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> City</th>
<td>
<input type=text size=30 name=city id=city value="$city">
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> State/Province</th>
<td>
<input type=text size=30 name=st_prov id=st_prov value="$st_prov">
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> Zip/Postal Code</th>
<td>
<input type=text size=30 name=zip_post id=zip_post value="$zip_post">
</td>
</tr>
<tr>
<th align=right>Country
<td>
<input type=text size=30 name=country value="$country"> Defaults to USA
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> Email</th>
<td>
<input type=text size=30 name=email1 id=email1 value="$email1">
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> Phone</th>
<td>
<input type=text size=30 name=cell id=cell value="$cell">
</td>
</tr>
</table>
As an introduction to the rest of the members, please write a few
sentences below explaining what inspired you to become a member of
the Hanuman Fellowship. 
<p>
<textarea name=intro rows=5 cols=50>
</textarea>

<div style="padding: 2em 0;">
<p>
If available, please upload a photograph of yourself for the
purpose of identification at the Annual General Meeting when new
members are elected into the voting body.
</p>

<section>
        
        <div class="file-upload reverse">
            <input id="file-sr" type="file" name="photo" />
            <label for="file-sr">
                <span>Filename</span>
                <button>Choose File</button>
            </label>
        </div>
    </section>

</div>
<p>
** For those choosing the Karma Yoga option: In what areas would you like
to become more involved (or continue your involvement) with HFS in
order to perform your 20 hours of KY? (For example, help during
retreats, on Saturdays after class (kitchen, landscaping, maintenance),
Hanuman temple (tending, parking), and others.)
</p>
<p>
<textarea name=ky rows=5 cols=50>
</textarea>
<p>
<button class="sub-button button tealn" type=submit>Submit</button>
</form>
 </div>
    </div>
<script>
document.getElementById('first').focus({ preventScroll: true });
setTimeout(function() {
    window.scrollTo(0, 0);
}, 50);

//
const finputs = Array.from(
    document.querySelectorAll('.file-upload [type="file"]')
);

finputs.forEach((input) => {
    input.addEventListener("change", (e) => {
        const path = e.target.value;
        const filenameField = e.target.parentElement.querySelector("span");
        const filename = path.split(/\/|\\/).pop();
        if (filename) filenameField.innerText = filename;
        else filenameField.innerText = "Filename";
    });
});

</script>
</body>
</html>

