<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]
</head>
<body>
    <!-- // HEADER -->
    <div class="body-content">
        <div class="container">
<h2>Hanuman Fellowship Membership</h2>
<img src='/static/images/hanuman-fellowship-graph.png' style="width: 450px; max-height: 160px;">
<p>
Verify the following:
<ul>
$first $last<br>
$addr1<br>
[% IF addr2 %]
    $addr2<br>
[% END %]
$city, $st_prov<br>
$zip_post<br>
$country
<p>
$cell<br>
$email1
<p>
[% IF pic_thumb %]
    <img src=$pic_thumb>
[% END %]
</p>
</ul>
You want to enroll as a $Mem_Type in the Hanuman Fellowship.<br>
The $prorated cost is \$${amount}.
[% IF intro %]
    <p>
    Your introduction:
    <ul>
    $intro
    </ul>
[% END %]
[% IF pic %]
    <p>
    Your picture:
</p>
    <p>
    <img src=/static/images/$pic>
[% END %]
[% IF ky %]
    <p>
    Your preferred Karma Yoga areas:
    <ul>
    $ky
    </ul>
[% END %]
<p>
$stripe_payment
</p>
</form>
</div>
</div>
</body>
</html>
