<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]
<style type="text/css">
	dt { padding-top: 2em; }
button {
    line-height: 25px;
    font-size: 18px;
    border: 1px solid #b1713c;
    text-transform: uppercase;
    font-family: 'Marcellus', serif;
    color: #FFF;
    position: relative;
    background-color: #b1713c;
    border-radius: 3px;
    padding: .7em 2em;
    letter-spacing: .2em;
    transition: all 0.25s ease-in-out;
    bottom: 0;
    margin-top: 2em;
}
button:hover {
    box-shadow: 6px 6px 8px 8px rgba(150, 150, 150, 0.1);
    bottom: 3px;
    background-color: #BB8355!important;
}
</style>
</head>
<body>
	<!-- // HEADER -->
    <div class="body-content">
        <div class="container">
[% sans = person.sanskrit %]

<div style="padding-bottom: 2.5em;">
	<img src='/static/images/hanuman-fellowship-graph.png' style="width: 450px; max-height: 160px;">
	<h2>Payment for a $category Membership in the Hanuman Fellowship</h2>
	
</div>

<dl>
<dt>Name:</dt>
<dd>$person.first $person.last [% IF sans %]($sans)[% END %]</dd>

<dt>Address:</dt>
<dd>$addr<br>$person.city, $person.st_prov $person.zip_post<br>$country</dd> 

<dt>Phone:</dt>
<dd>$phone</dd>

<dt>Email:</dt>
<dd>$person.email</dd>

[% IF category == 'Sponsor' %]                       
<dt>Previous Payment:</dt>
<dd>\$$last_amount on $date_payment</dd>

<dt>Total to Date:</dt>
<dd>\$$total_paid</dd>
[% END %]

<dt>Today's Payment:</dt>
<dd>\$$amount</dd>

</dl>

$stripe_payment

</form>
</div>
</div>
</body>
</html>
