<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]
</head>
<body>
	<!-- // HEADER -->
    <div class="body-content">
        <div class="container">
[% sans = person.sanskrit %]

<div ><h3>Payment for a $category Membership in the Hanuman Fellowship</h3>
<img src='/static/images/hanuman-fellowship-graph.png' style="width: 450px; max-height: 160px;">
</div>

<dl>
<dt>Name:</dt>
<dd>$person.first $person.last [% IF sans %]($sans)[% END %]</dd>

<dt>Address:</dt>
<dd>$addr<br>$person.city, $person.st_prov $person.zip_post<br>$country</dd> 

<dt>Phone:</dt>
<dd>$phone</dd>

<dt>Email:</dt>
<dd>$person.email</dd>

[% IF category == 'Sponsor' %]                       
<dt>Previous Payment:</dt>
<dd>\$$last_amount on $date_payment</dd>

<dt>Total to Date:</dt>
<dd>\$$total_paid</dd>
[% END %]

<dt>Today's Payment:</dt>
<dd>\$$amount</dd>

</dl>

$stripe_payment

</form>
</div>
</div>
</body>
</html>
