<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]

<!-- page's JS -->
<script>
var fields = [
    { id: 'first', regexp: '\\S',
                    err: 'Missing First Name' },
    { id: 'last', regexp: '\\S',
                    err: 'Missing Last Name' },
    { id: 'email',  regexp: '^\\s*\\S+[@]\\S+\\s*\$',
                    err: 'Invalid Email address' },
    { id: 'phone',  regexp: '^[0-9 -.()]+\$',
                    err: 'Invalid Phone number' },
    { id: 'group_name',  regexp: '\\S',
                         err: 'Missing Group Name' },
    { id: 'event_name',  regexp: '\\S',
                         err: 'Missing Event Name' },
    { id: 'how_many',  regexp: '\\d+',
                         err: 'Missing Number of Participants' },
    { id: 'radio', name: 'comm', err: 'Phone or Zoom for Discovery Call?' },
    { id: 'dates',  regexp: '\\S',
                    err: 'Missing Dates' },
    { id: 'radio', name: 'flexdates', err: 'Are your dates flexible?' },
    { id: 'radio', name: 'group_type', err: 'What is your Group Type?' },
    { id: 'radio', name: 'retreat_type', err: 'What is the Event Type?' },
    { id: 'radio', name: 'needs', err: 'What are your technical and materials needs?' },
    { id: 'radio', name: 'vegetarian', err: 'Is vegetarian food okay for you?' },
    { id: 'learn',  regexp: '\\S',
                    err: 'How did you learn about Mount Madonna?' },
    { id: 'radio', name: 'mailing_list', err: 'May we add you to our mailing list?' }
];
function check_others() {
    return (
        other_check('gt', 'other_group_type', 'Missing Other Group Type')
        &&
        other_check('rt', 'other_retreat_type', 'Missing Other Event Type')
        &&
        other_check('on', 'other_needs', 'Missing Other Technical Needs')
        &&
        other_check('os', 'other_services', 'Missing Other Services')
        &&
        disable_submit()
    );
}
function disable_submit() {
    document.getElementById('submit').disabled = true;
    return true;
}
function other_check(n1, n2, msg) {
    if (document.getElementById(n1).checked == true) {
        var el = document.getElementById(n2);
        var regexp = new RegExp('\\S');
        if (! regexp.test(el.value)) {
            alert(msg);
            el.focus();
            return false;
        }
    }
    return true;
}
</script>
<script type='text/javascript' src='/static/js/check_fields.js'></script>

<style>
/* body, input, textarea {
    font-family: Calibri, Arial;
}
input, textarea {
    background: #ffffbb;
}
.required {
    color: red;
    font-size: 14pt;
}
.paragraph {
    width: 600px;
}*/
</style>
</head>
<body>
    [% INCLUDE new_tt2/header.tt2 %]
            <!-- PAGE CONTENT BEGINS HERE -->


<h1>Inquiry Form</h1>
<form action='$cgi/program_inquiry.pl'
      method=POST
      class="regs-form"
      onsubmit='return (check_fields() && check_others());'
>
<div class="info-box">
Are you interested in hosting your special event at Mount Madonna
Center? Please share some useful information below so that we can best
field your inquiry and co-create a meaningful and successful program.
</div>
<p>
<span class=required>*</span> indicates fields that are required
</p>
<h2>Contact Information</h2>
First Name <span class=required>*</span><br>
<input type=text size=45 name=first id=first>
<p>
Last Name <span class=required>*</span><br>
<input type=text size=45 name=last id=last>
</p>
<p>
Email <span class=required>*</span><br>
<input type=text size=45 name=email id=email>
</p>
<p>
Your Phone <span class=required>*</span><br>
<input type=text size=45 name=phone id=phone>
</p>
<p>
Organization/Company/Group Name <span class=required>*</span><br>
<input type=text size=45 name=group_name id=group_name>
</p>
<p>
Website URL<br>
<input type=text size=45 name=website id=website>
</p>
<p>
Event Name <span class=required>*</span><br>
<input type=text size=45 name=event_name id=event_name>
</p>
<p>
Number of participants anticipated (15-200) <span class=required>*</span><br>
<input type=text size=45 name=how_many id=how_many>
</p>
<p>
Short description of retreat<br>
<textarea name=description rows=4 cols=48>
</textarea>
</p>

<span id=comm1></span>
<h2>Discovery Call</h2>
<p>
As a next step, we would like to set up a call.<br>
Would you prefer a phone call or Zoom meeting? 
<span class=required>*</span></p>
<ul>
<label><input type=radio name=comm id=comm value='Phone'> Phone</label><br>
<label><input type=radio name=comm id=comm value='Zoom'> Zoom</label><p>
</ul>
<h2>Dates</h2>
<p>
Requested Date(s). Please specify days/month <b style="color: red">and year</b>. <span class=required>*</span><br>
<input type=text size=45 name=dates id=dates>
</p>
<p>
<span id=flexdates1></span>
Are your dates flexible? <span class=required>*</span>
</p>
<ul>
<label><input type=radio name=flexdates id=flexdates value='Yes'> Yes - we may consider alternate dates.</label><br>
<label><input type=radio name=flexdates id=flexdates value='No'> No - these dates are fixed.</label>
</ul>
<p>
Optional Dates & Notes:<br>
<textarea name=optdates rows=4 cols=48>
</textarea>
</p>
<p>
<span id=group_type1></span>
<h2>Group Type <span class=required>*</span></h2>
<ul>
<label><input type=radio name=group_type value='Non-Profit'> Non-Profit</label><br>
<label><input type=radio name=group_type value='BIPOC Organizations'> BIPOC Organizations</label><br>
<label><input type=radio name=group_type value='Educational Institution'> Educational Institution</label><br>
<label><input type=radio name=group_type value='Foundation'> Foundation</label><br>
<label><input type=radio name=group_type value='Business/Corporation'> Business/Corporation</label><br>
<label><input type=radio name=group_type value='Private Group'> Private Group</label><br>
<label><input type=radio name=group_type id=gt value='Other'> Other:</label>
<input type=text size=40 name=other_group_type id=other_group_type onclick="document.getElementById('gt').checked = true;"></label>
<br>
</ul>
<span id=retreat_type1></span>
<h2>Event Type <span class=required>*</span></h2>
<ul>
<label><input type=radio name=retreat_type value='Yoga retreat'> Yoga/Wisdom/Meditation retreat</label><br>
<label><input type=radio name=retreat_type value='Offsite business retreat'> Offsite business retreat</label><br>
<label><input type=radio name=retreat_type value='Educational training'> Educational training</label><br>
<label><input type=radio name=retreat_type value='Training'> Training</label><br>
<label><input type=radio name=retreat_type value='Special Event'> Special Event</label><br>
<label><input type=radio name=retreat_type value='Cultural/Spiritual/Religious event'> Cultural/Spiritual/Religious event</label><br>
<label><input type=radio name=retreat_type id=rt value='Other'> Other:</label>
<input type=text size=40 name=other_retreat_type id=other_retreat_type onclick="document.getElementById('rt').checked = true;">

</ul>

<span id=needs1></span>
<h2>Technical and Materials Needs <span class=required>*</span></h2>
<p>Check all that apply.</p>
<ul>
<label><input type=checkbox name=needs value='High Speed Wifi'> High Speed WiFi</label><br>
<label><input type=checkbox name=needs value='Projector and screen'> Projector and screen</label><br>
<label><input type=checkbox name=needs value='Audio Setup'> Audio Setup</label><br>
<label><input type=checkbox name=needs value='AV Equipment Support'> AV Equipment Support</label><br>
<label><input type=checkbox name=needs value='Hybrid (in-person/remote)'> Hybrid (in-person/remote) set-up</label><br>
<label><input type=checkbox name=needs value='Chairs and Tables'> Chairs and Tables</label><br>
<label><input type=checkbox name=needs value='Easel and Whiteboards'> Easel and Whiteboards</label><br>
<label><input type=checkbox name=needs value='Backjacks (floor chairs)'> Backjacks (floor chairs)</label><br>
<label><input type=checkbox name=needs value='Yoga Props'> Yoga Props</label><br>
<label><input type=checkbox name=needs value='Breakout Rooms'> Breakout Rooms</label><br>
<label><input type=checkbox name=on id='on' value=1> Other:</label> <input type=text size=40 name=other_needs id=other_needs onclick="document.getElementById('on').checked = true;">
</ul>
<h2>Additional Services</h2>
<p>What other services are you interested in? Check all that apply.</p>
<ul>
<label><input type=checkbox name=services value='Elevated coffee service'> Elevated coffee service</label><br>
<label><input type=checkbox name=services value='Guided nature walks'> Guided nature walks</label><br>
<label><input type=checkbox name=services value='Yoga class'> Yoga class</label><br>
<label><input type=checkbox name=services value='Meditation class'> Meditation class</label><br>
<label><input type=checkbox name=services value='Wellness center offerings'> Wellness center offerings</label><br>
<label><input type=checkbox name=os id=os value=1> Other:</label> <input type=text name=other_services id=other_services size=40 onclick="document.getElementById('os').checked = true;">
</ul>
<span id=vegetarian1></span>

<div class="info-box">
Mount Madonna Center is a strict vegetarian community and does not allow
alcohol, except for weddings and limited ceremonial purposes.
Is that okay with you? <span class=required>*</span><br>
</div>

<ul>
<label><input type=radio name=vegetarian value='Yes'> Yes</label><br>
<label><input type=radio name=vegetarian value='No'> No</label><br>
</ul>
<p>
Is there anything else you'd like to tell us about your event?<br>
<textarea name=what_else rows=4 cols=48>
</textarea>
</p>
<p>
How did you learn about Mount Madonna Center? <span class=required>*</span><br>
<input type=text size=45 name=learn id=learn><p>
<span id=mailing_list1></span>
</p>
<p>
May we add you to our mailing list? <span class=required>*</span><br>
Contact info is never sold to a third party.
</p>
<ul>
<label><input type=radio name=mailing_list value='Yes'> Yes</label><br>
<label><input type=radio name=mailing_list value='No'> No</label>
</ul>

<div class="info-box">
Thank you for your interest in hosting your event at Mount Madonna Center! We will review your inquiry form and plan to contact you within 3 business days.
</div>
<p>
<input class="sub-button button tealn" style="" type=submit id=submit value='Submit'>
</p>
</form>
<script>document.getElementById('first').focus();</script>
