<html>
<head>
<meta charset='UTF-8'>
[% IF sending_email %]
    <link rel="stylesheet" href="https://akash.mountmadonna.org/static/cgi.css">
[% ELSE %]
    <link rel="stylesheet" href="https://akash.mountmadonna.org/static/new_cgi.css">
[% END %]
</head>
<body>

<div class="mail-box-a">
    <div class="mail-box-b">
        
<img src='https://akash.mountmadonna.org/static/images/mm-logo.svg' style="width: 200px; max-height: 160px;">

<p>
Thank you, ${first}.
</p>
[% IF amount %]
    <p>
    Your payment has been received.
</p>
[% END %]
<p>
[% IF title == 'Personal Retreat' %]
    [% IF mountain_experience %]
        We have received your online registration for a Mountain Experience
        on ${sdate.format("%A %B %e, %Y")}.
    [% ELSE %]
        We have received your online registration for a Personal Retreat
        from ${sdate.format("%A %B %e, %Y")} to ${edate.format("%A %B %e, %Y")}.
    [% END %]
[% ELSE %]
    We have received your online registration for the
    $title program[% IF leader_names %] with $leader_names[% END %]
    from ${sdate.format("%A %B %e, %Y")} to ${edate.format("%A %B %e, %Y")}.
[% END %]
</p>
[% IF amount %]
    <p>
    Your credit card has been charged <strong> \$${amount} </strong>.<br>
    The id for this transaction is <strong> ${transaction_id} </strong>.
</p>
[% END %]
<p>
[% IF ! sending_email %]
The above information has been sent to you via an email to ${email}.<br>
[% END %]
You will soon receive <i>another</i> letter from programs@mountmadonna.org
with confirmation of your
[% IF mountain_experience || housing_not_needed %]
    registration.
[% ELSE %]
    housing and all the details you will need to know
    prior to coming to Mount Madonna Center.
[% END %]
</p>
<p>
If you do not receive this other letter within 3 days check your
spam/junk email folder.
If it is not there please call us at 408-846-4090.
</p>
[% IF ! housing_not_needed %]
    <p>
    Do <b>not</b> make travel plans until you have received
    your confirmation letter.
</p>
    
    [% IF withwhom_last || withwhom_first %]

        <p>
        You requested to be housed with $withwhom_first ${withwhom_last}.
        They <b>MUST REGISTER SEPARATELY</b>.<br>
        [% IF pid == 0 %]
            Click <a href="$cgi/regPR">HERE</a> to go back to the registration page and register them.</p>
        [% ELSE %]
            Click <a href="$cgi/reg1?id=$pid">HERE</a> to go back to the registration page and register them.</p>
        [% END %]
   
    [% END %]
[% END %]
</div>
</div>

</body>
</html>
