<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]

<!-- page's JS -->
<script type='text/javascript'>
\$(function(){
    \$('.input-group.date').datepicker({
        calendarWeeks: true,
        todayHighlight: true,
        autoclose: true,
        startDate: '$start_date',
        endDate: '$end_date',
        datesDisabled: [ $disabled ],
    });
});
</script>
<!-- // page's JS -->


</head>
<body>
[% INCLUDE new_tt2/header.tt2 %]
            <!-- PAGE CONTENT BEGINS HERE -->

            <h1>Mountain Experience Registration</h1>
            <div class="info-box">
                <p>
                    The cost for the day is \$${ME_cost}.<br>
                    Available only on ${week_days} and some holidays.<br>
                    Reservations must be made at least 48 hours in advance.<br>
                    Mountain Experience bookings cannot be made more than 90 days in advance. Due to other onsite programming, the following dates are not available for Mountain Experience bookings:
                </p>
                <ul>
                    [% FOR d IN noME %]
                        <li>$d</li>
                    [% END %]
                </ul>
            </div>


<form name=form action=reg1 method=get class="regs-form">
<input type=hidden name=id value=0>
<input type=hidden name=dir value=pr>
<input type=hidden name=mountain_experience value=1>
<p style="margin-top: .2in">
<table cellpadding=5>
<tr>
<th>Date</th>
<td>
<span class="input-group date">
  <input type="text" class="form-control" name=arr_date>
  <span class="input-group-addon">
  <i class="glyphicon glyphicon-calendar"></i>
  </span>
</span>
</td>
</tr>
</table>
<p style="margin-top: .2in">
Which meals would you like?
<ul>
<label><input type=checkbox id=lunch name=lunch value='yes'>
Lunch (12:30-1:30 pm weekdays); Brunch (10:00-11:00 am) Saturdays</label><br>
<label><input type=checkbox id=dinner name=dinner value='yes'>
Dinner (5:15-6:15 pm)</label><br>
</ul>
<p>
Which of these activities would you like?
<ul>
<label><input type=checkbox id=yoga_class name=yoga_class value='1'>
Yoga Class (4:00-5:00 pm)</label><br>
<label><input type=checkbox id=guided_hike name=guided_hike value='1'>
Guided Walk (11:30 am-12:30 pm)</label><br>
</ul>
<p>
If you are bringing children enter their names and ages here:<br>
<input type=text size=30 name=children_name_age>
<span style="color: #aaaaaa">&nbsp;For example: Nandini 5, Elliott 8</span>

<!-- added a box for content -->
<div class="info-box">
    <p>
        Children 4 years and under are welcome free of charge;<br>
        for 5-12 years old, fees are discounted 50%.<br>
        Older children should be registered separately.
    </p>
</div>

<!-- ADDED a class to the button -->
<input class="sub-button" type=submit id=submit value='Submit'>
</form>


            <!-- // PAGE CONTENT ENDS HERE -->
[% INCLUDE new_tt2/footer.tt2 %]
</body>
</html>
