<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/cgi.css">

</head>
<body>
	<div class="message-box-a">
		<div class="message-box-c">
			<h3>
			Thank you, ${first}.
			</h3>
			<p>
			Your $type payment of \$$amount has been credited to ${rental_name}.<br>
            The id for this transaction is ${transaction_id}.
			</p>
		</div>
	</div>

</body>
</html>
