<html>
<head>
<link rel="stylesheet" href="https://akash.mountmadonna.org/static/cgi.css">
</head>
<body>
<img src="https://akash.mountmadonna.org/static/images/mmc-teal.png" width=200>
<p>
Thank you, ${first}.
<p>
Your $type payment of \$$amount has been credited to ${rental_name}.<br>
The id for this transaction is ${transaction_id}.
</body>
</html>

