<html>
<head>
<meta charset='UTF-8'>
[% INCLUDE new_tt2/top_css_js.tt2 %]

</head>
<body>
[% INCLUDE new_tt2/header.tt2 %]
            <!-- PAGE CONTENT BEGINS HERE -->

<h3>Payment Request</h3>
<dl>
<dt>Name:</dt>
<dd>$first $last</dd>

<dt>Address:</dt>
<dd>$addr<br>$city, $state $zip<br>$country</dd> 

<dt>Phone:</dt>
<dd>$phone</dd>

<dt>Email:</dt>
<dd>$email</dd>
<dt>Total</dt>
<dd>\$$amount_disp</dd>
<dt>Program</dt>
<dd>$program</dd>
</dl>

$tbl_py_desc

<p>
If you have any question about this request send an <a href='mailto:$quest_email'>email to $signed</a>.
</p>

<div class="btn-holder">
$stripe_payment
</form>
</div>

<!-- // PAGE CONTENT ENDS HERE -->
[% INCLUDE new_tt2/footer.tt2 %]
</body>
</html>
