[% INCLUDE style.tt2 %]
[% message %]Dear [% sanskrit %],
<p>
Thank you for the payment of $[% amount %]
for General Membership in the Hanuman Fellowship
which we received on [% pay_date->format("%D") %].
Your dues are in effect until [% expire_date->format("%D") %]. 
<p>
[% INCLUDE info.tt2 %]
