<html>
<head>
<style>
body {
    width: 80%;
    font-family: Georgia, Times;
    font-size: 12pt;
    margin-left: 6mm;
}
td {
    font-family: Georgia, Times;
    font-size: 12pt;
}
li {
    margin-bottom: 3mm;
}
</style>
</head>
<body>
<img style="margin-left: 6in"
     height=150
     src="http://www.hanumanfellowship.org/files/hanuman.png">
<p>
Dear $sanskrit,
<p>
We are reaching out to you as a former member of the Hanuman Fellowship
to ask you to consider rejoining the Fellowship for the coming year. We
sincerely value our relationship with all members of the Fellowship
satsang and respectfully request your continued commitment and
participation as a member of the Hanuman Fellowship.
<p>
The Hanuman Fellowship is "A thriving community of spiritual practice
that honors our yogic roots and inspires peaceful transformation in
ourselves and the world". Your continued participation  contributes
to the long term sustainability of our mission, our community, and our
ability to ensure the legacy of Baba Hari Dass' teachings. Membership
dues, along with general donations, support a wide variety of needs,
including staff livelihoods, land stewardship, and Hanuman Fellowship
offerings of peace, self-inquiry, and selfless service. We look forward
to welcoming you back as a member of the Hanuman Fellowship!
<p>
While this has been a challenging time for us financially, there is so
much energy and opportunity within the Fellowship. Guests, students and
satsang have returned to Mount Madonna Center and our Temple, children
are thriving at Mount Madonna School, and Mount Madonna Institute is
offering a whole host of programs, all inspired by the life and teachings
of our beloved guru Babaji.
<p>
As you may know, in August 2022, the Hanuman Fellowship Bylaws were
revised creating two broad categories of membership: Statutory (voting)
Members and Supporting (non-voting) Members. As a recent member of
Hanuman Fellowship, we are offering you the option of restarting your
2024 membership as a Statutory (voting) member by paying your membership
dues.
<p>
<b>
If you would like to be included as a voting member and vote for
the HFS Board of Directors at the Annual Meeting, you must renew your
membership by August 30th. Our Annual General Meeting will be held
on Saturday, September 21st, 2024.
</b>
<p>
Please submit your payment of \$50. You can pay your membership dues
securely online by <a href='https://akash.mountmadonna.org/cgi-bin/omp?code=$secure_code'>clicking here</a>.
If you wish to pay with a personal
check, please mail your payment to the address listed below.
In addition to membership dues, we gratefully accept <a href='https://www.mountmadonna.org/donate'>donations</a> of any size.
<p>
Please note:
<ul>
<li>We communicate primarily by email, so please make sure that we have your
current email address and other contact information.
<li>To claim a tax deduction for this donation, you must deduct the value
of any benefits you receive. Our federal tax identification number is
51-0174679. This organization is a 501c (3) tax exempt organization,
IRS Section 170(b (2)(iii) for both federal and state tax purposes.
</ul>
<p>
In Peace,<br>
The Hanuman Fellowship<br>
Membership Secretary<br>
445 Summit Road, Watsonville, CA 95076<br>
<a href='mailto:memberships@mountmadonna.org'>memberships@mountmadonna.org</a>
</body>
</html>
