<html>
<head>
<style>
body {
    width: 80%;
    margin-top: 10mm;
    margin-left: 10mm;
    margin-bottom: 10mm;
    font-size: 14pt;
    font-family: Times;
}
</style>
</head>
<body>
Dear ${rental.coordinator.first},
<p>
We are looking forward to having your program "${rental.name_trimmed}" here on
${rental.sdate_obj.format("%A, %D")} to ${rental.edate_obj.format("%A, %D")}.
We'd like to get started on your program arrangement details.
Please let me know if you are the preferred contact person,
or if you have a different staff member designated to
coordinate the details below.
[% IF rental.program_id %]
<h3>REGISTRATION PROCEDURE</h3>
Here is the web link for registration:
<p>
<ul>
<a target=_blank href='https://akash.mountmadonna.org/cgi-bin/reg1?id=$rental.program_id'>https://akash.mountmadonna.org/cgi-bin/reg1?id=$rental.program_id</a>
</ul>
<p>
Registrants will receive a confirmation letter that confirms
their housing assignment,
provides a gate code for after hours access, and other information about
their stay at Mount Madonna Center.
[% ELSE %]
<h3>HOUSING PROCEDURES</h3>
In order to assist you in the housing process,
we have reserved a block of rooms for you and your
program participants.
The following weblink will be used as an
initial housing grid
where you will fill in the names and emails of
your participants.
<p>
<ul>
<a href='${string.cgi}/grid?code=${rental.grid_code}'>${string.cgi}/grid?code=$rental.grid_code
</a>
<p>
</ul>
<p>
The Web Housing Grid lists the Room
#s and identifies the number of beds
in each room. Please fill in the web
grid with the name and email address for each
participant, but only as they fully commit
to your program.
We recommend you reserve a bed
only when you have either received the
appropriate housing payment from your
participant, or you are committed to
paying for the bed yourself. While
we have agreed to provide lodging
for your "maximum" number of
participants listed in the contract, we
cannot guarantee all lodging preferences.
You can assign up to as many people to a room
as there are beds. Housing rates are
based on how many people are in a room,
not the room itself. Please refer to your contract
for housing rates and payment and cancellation policies.
<p>
The last date we can guarantee housing
for your group is 10 days prior to the
start of your program. If we receive
requests for housing after that date,
we cannot guarantee accommodation, even
if you haven't met your contractual
minimum financial commitment for meals
and accomodations.  Should you have cancellations
or withdrawals after the 10 day mark, you may
still incur a charge for those beds.
<p>
If you have questions about the above, please
contact the Guest Services Director at 408-846-4009.
[% END %]  <!-- if not hybrid -->
<h3>GENERAL INFORMATION/MAPS</h3>
Our Guest Packets (attached) include a campus map, a trail map as well
as a General Information Sheet which lists meal times, amenities, and our
center's services and policies. When you and/or your program coordinator
arrive at the center, please come to the Guest Services Office where
you can pick up your participants' information packets and lanyards.
<h3>GATE CODE</h3>
Our main entrance gate closes at 6:00 pm daily.
For any arrivals after 6:00 pm, the following gate code will
be required to enter the property: #${gate_code}.
The pound sign is part of the code and each key must
be entered without pause. If you have program participants
staying in the Oaks cabins/campgrounds,
the code for the upper gate is 1${gate_code}.
(No pound sign is required)
<h3>IMPORTANT CAMPING INFORMATION</h3>
Also, please inform any of your camping guests that the campgrounds
are a 10-15 minute walk from the central area. If they do not have
a vehicle, and cannot hand-carry their equipment, it may be best
if they request indoor housing.  Cell
phones do not typically get reception
and there is no wireless connectivity
in the campgrounds. MMC does not
currently provide tents for guests.
<h3>SCHEDULE</h3>
Please send us your Program Schedule as soon as you can,
taking into consideration our center's meal times,
Arati, and Orientation.  This will help our staff to be
mindful of when you will be in or out of session.
<ul>
<li><b>Meal times</b>:
Our meal times are fixed.
Breakfast 8:30-9:30 am, lunch 12:30-1:30 pm, and dinner 5:15-6:15 pm
with the following exceptions: On Saturdays brunch is at 10:00-11:00 am
and a light snack is served in your meeting space (no lunch)
around 1:00-2:00 pm.
<li><b>Arati</b> (Ceremony of light): 6:30am and 6:00pm daily at the Temple.
<li><b>Orientation</b>: As part of your schedule, we will arrange a time for one of our staff to give a brief fifteen minute orientation on your start date. The orientation provides valuable information about our center's services, amenities, and policies.
</ul>
<h3>MEETING SPACE ARRANGEMENTS</h3>
Your meeting space will be in the ${rental.meeting_spaces}.
To help us set-up your meeting space, please fill out
the information below.
<p>
Meeting Equipment:<br>
__  Standing Whiteboard with Flipcharts<br>
__  Easels<br>
__  Tables (6 ft long standard folding tables, altar table, presenter side table) Please specify.<br>
__  Backjacks<br>
__  Chairs<br>
__  Pillows<br>
__  Riser platform<br>
__  Lectern<br>
__  Other ____________________________________<br>
<p>
Yoga props:<br>
__ Mats<br>
__ Bolsters<br>
__ Blankets<br>
__ Yoga blocks<br>
__ Straps
<p>
Please indicate how to arrange the items in the room, or if you prefer
us to leave all items stacked on the side of the room for you to arrange.
<p>
Audio/Visual Equipment:<br>
Please share with us any specific audio/visual needs related to your contract.
<p>
________________________________________________________________
<p>
We ask you to be as specific as possible about any
preferences for set-up
and seating so that we may most closely meet your needs.
All requests must be submitted no later than 14 days before
your start date. We cannot guarantee fulfilling any requests
made less than 14 days in advance of your start date,
but we will always do our best.
<h3>FURTHER QUESTIONS</h3>
<ol>
<li>Please provide the names of all staff for your program;
i.e: Presenters, Coordinators, and your
"On-site point of contact".
<li>What time shall we give an orientation to your group?
We recommend this to be held at the beginning of your
first session.
<li>Please let us know any special dietary needs/food allergies
no later than 10 days before the start date of your event.
<li>Brief description of your program.
This can be a sentence or two, or a short paragraph.
We share this with our resident community informing them
of your upcoming program and the work you do.
<li>Signage -  We'd like to welcome your group with signage
around the property. Please let us know how to greet
your program participants.
</ol>
<p>
Please feel free to call or email me with any questions!
Happy to schedule a call, too.
I look forward to working with you in making this event
a success.
<p>
In Service,<br>
$signed
<p>
</body>
</html>
