<html>
<head>
<style>
body {
    width: 700px;
    margin-top: 10mm;
    margin-left: 10mm;
    margin-bottom: 10mm;
    font-size: 14pt;
    font-family: Times;
}
</style>
</head>
<body>
Dear ${rental.coordinator.first},
<p>
We'd like to get started working out the details for your upcoming
'${rental.name_trimmed}' program from ${rental.sdate_obj.format("%A, %D")}
to ${rental.edate_obj.format("%A, %D")} at Mount Madonna Center.
This initial email contains information to help you plan
your program and requests some information from you as well,
to help us with planning.
<p>
When responding to this message, please use the 'Reply All'
feature of your email program so that all staff involved
in preparing for your event can keep up with our correspondence.
<h3>HOUSING PROCEDURES</h3>
(Please refer to your contract for housing rates
and payment and cancellation policies.)
<p> 
As soon as you start getting requests for housing,
let us know so that your guests have a better chance of
getting their first preferences for housing.
Make sure you get a second choice in case first choices
aren't available. While we have agreed to provide lodging
for your maximum number of participants, we don't guarantee
providing lodging preferences.
<p>
Once you have reserved a room for that guest,
you become financially obligated to pay for that space no
matter if the guest attends. You may wish to pass on that
cost to any guest who cancels.  Reserve rooms only when
you are committing to pay for them.
<p>
14 days prior to the start date of your rental is the last date
we can guarantee housing for your group. If we receive requests
for housing after that point, we do not guarantee accommodation,
even if you haven't met your contractual maximum yet.
Of course, we will continue to accommodate requests as we can.
You can assign up to as many people to a room as there are beds
<p>
Any indoor housing reservations made less than one week
before the start date of your program incur a \$${string.rental_late_in} late
charge that you may wish to pass on to your participants.
Outdoor housing reservations incur a similar late charge of \$${string.rental_late_out}.
<p>
In order to assist you in the housing process,
we have provided you with the following weblink
where you can fill in the names of your workshop guests.
This is a preliminary housing grid to get you started,
but you'll need to let us know how many and what types
of additional rooms you would like to reserve as soon
as possible, and we will then add them to the grid
as reservations for your group.
<p>
<ul>
<a href='http://www.mountmadonna.org/cgi-bin/grid?code=${rental.grid_code}'>http://www.mountmadonna.org/cgi-bin/grid?code=$rental.grid_code
</a>
</ul>
<p>
Simply enter your guests' names and then click on the "Submit" link.
Whichever way you arrange housing for your participants,
we need to know 14 days before your arrival the occupancy
of each room you've reserved.
[% IF rental.seminar_house_sleeping %]
<p>
Since your group is meeting in the Seminar House, you are committed
to paying for at least 15 spaces in that building. The Seminar House
has 16 beds and 6 foam mattresses in lofts for a total of 22 spaces.
All the rooms in the Seminar House are included in this preliminary
web grid.
[% END %]
<p>
Please note that for any housing space reserved on your final
web housing grid, you are agreeing to pay for at least one
bed in that space for the duration of your retreat.
<p>
A note about our rooms: You can assign up to as many people to a
room as there are beds (e.g. a 4-bed room can be used as a dorm,
triple, double, or single). We determine cost based on how many
people, not beds, are in the room (i.e., one person in a dorm room
gets the single rate, not the dorm rate.
<p>
Also, please inform any of your camping guests that the campgrounds
are a 5-10 minute walk from the central area. If they do not have
a vehicle, and cannot hand-carry their equipment, it may be best
if they request indoor housing.
<h3>GUEST CONFIRMATION INFORMATION</h3>
We've attached a template document modeled after the confirmation
note that we automatically send to Mount Madonna guests when they
register for our programs and retreats.  You can modify this document
to fill in the gate codes, particular times and dates of your
program, and include it with information that you provide to your
guests when they register with you.
<h3>GATE CODE</h3>
We have a gate that closes each night at 7:00 pm (closed all day on
Sundays). The code to enter the property after hours: #${gate_code}.  The
pound sign is part of the code and each key must be entered without
pause.  If guests are staying in the Oaks cabins/campgrounds behind
the school, the code for the upper gate is 1${gate_code}. No pound sign is
required for entrance into the Oaks area.
<p>
In the confirmation letter template described above, there is a
field for you to enter this gate code so that it will be distributed
to all your guests.
<h3>SCHEDULE</h3>
Please refer to your contract for meal times so that you can schedule
your meeting times accordingly. Saturday's snack is typically served
in your meeting space at 1:00 pm. If your group is having lunch on
Sunday, it will be served at 12:30 pm in the Community Building,
otherwise, a Sunday snack will be served in your meeting space at
12:30 pm.
<p>
As part of your schedule, we need to arrange a time for one of our
staff to give a 25 minute orientation on your start date and a 10
minute wind-up on your end date. The orientation provides valuable
information about our center's services, amenities, and policies.
The wind-up gives additional information as well as an opportunity
to share feedback with us about your experience. How do 7:00 pm and
12:00 pm work for orientation and wind-up, respectively?
<p>
Please send us a schedule of your meeting times, taking into
consideration the items listed above, so that our events staff can
attend to your meeting space at times least disruptive to your
group.
<h3>MEETING SPACE SET-UP</h3>
Your meeting space is in the ${rental.meeting_spaces}.  Please let us know
what equipment you want and any preferences for arrangements. This
includes, but is not limited to, the following:
<p>
<ul>
<li>Backjacks
<li>Chairs
<li>Pillows
<li>Audio/Visual equipment
<li>Flipcharts, whiteboards, easels, markers
<li>Tables (standard folding tables & low alter tables)
<li>Risers, Lecterns
<li>Yoga props
</ul> 
<p>
Please be as specific as possible about any preferences for set-up
and seating so that we may most closely meet your needs. Please
also have all requests in no later than 10 days before your start
date. We cannot guarantee fulfilling any requests made less than
10 days in advance of your start date, but we will always attempt
to.
<h3>SOUND EQUIPMENT</h3>
Would you like a sound system in your meeting space?
If so, what kind of sound equipment would you like us to provide?
<h3>SATURDAY YOGA</h3>
If your group has both the time and inclination to attend our
Saturday morning yoga class from 7:30 am to 9:45 am, please let me
know so that we may secure a space that will accommodate you.
<h3>MAP</h3>
Also attached is a map of our "downtown" area where you can locate
your meeting space. When you and/or your rental coordinator arrive
please come to the Programs Office in the Community Building. We
will provide each of your guests an information packet, which will
include this map as well as an information sheet (also attached for
your reference) that lists meal and yoga times and our center's
services and policies.
<h3>FOOD SERVICE</h3>
Please let me know of any guests with special dietary restrictions
no later than one week before the start date of your event. We
cannot guarantee that we can accommodate specific dietary needs,
but we will do what we can. If we cannot accommodate a dietary need,
we will let you know so that the person with that need can decide
whether or not to attend. The attached "MMC Food" document describes
some options for folks with a restricted diet.
<h3>TRANSPORTATION</h3>
Please refer to the following site on our website for directions
and transportation:
<p>
<ul>
<a href=https://www.mountmadonna.org/transportation-directions>https://www.mountmadonna.org/transportation-directions</a>
</ul>
<h3>BOOKS</h3>
If you have a moment, the bookstore would like to support your
workshop by offering a selection of books featuring topics aligned
with your retreat focus. Are there any titles you would like to
recommend? If yes, please email any book recommendations to our
Oceanview Books and Gifts store. Their email address is:
<ul>
<a href="mailto:oceanview@mountmadonna.org">oceanview@mountmadonna.org</a>
</ul>
<h3>OTHER QUESTIONS</h3>
At what time on ${rental.sdate_obj.format("%A")} do you plan on arriving?
<p>
Please let us know which room(s) your presenter(s)/coordinator(s)
will be staying in as soon as you know.
<p>
Please don't hesitate to call or email me with any questions you
may have. I look forward to working with you and making this event
a success.
<p>
Warm regards,<br>
$user.first $user.last
<p>
</body>
</html>
