<html>
<head>
<style>
body {
    width: 600px;
    font-size: 14pt;
    font-family: Arial;
    background-color: #FFFF99;
    margin-top: 10mm;
    margin-left: 10mm;
}
th, td {
    font-size: 14pt;
    font-family: Arial;
}
</style>
</head>
<body>
<img src='https://www.mountmadonna.org/assets/img/registration/contentHeader_kayakalpa.jpg'>
<p>
Greetings $first,
<p>
Thank you for your interest in receiving a relaxing bodywork
session at Kayakalpa Wellness Center during your stay at Mount Madonna Center.
<p>
We offer a variety of Ayurvedic therapies, traditional massage and other
body therapies to enhance your stay at Mount Madonna Center.
For a detailed list of our services please check out our
<a href='https://www.mountmadonnainstitute.org/health-services/kaya-kalpa'>website</a>.
<p>
Please keep in my mind that it is advised to call us a week
to two weeks in advance to book an appointment.
Weekend appointments tend to get booked quickly.
<p>
Please free to contact us by 
<a href="mailto:kayakalpa@mountmadonna.org?subject=Massage/Bodywork Request during '$program' from $dates">e-mail</a>
if you have any questions about our services or to book your appointment.
You can also book your appointment <a href='https://clients.mindbodyonline.com/classic/ws?studioid=415046&stype=-9'>online</a>.
<p>
We are looking forward to serving you.
<p>
Warmly,
<p>
Kaya Kalpa Wellness Center<br>
408-847-3276<br>
<a href='https://www.mountmadonnainstitute.org/health-services/kaya-kalpa'>www.mountmadonna.org/projects/kayakalpa</a>

<h3>Reservation Policy</h3>
We require a credit card number or gift certificate number to reserve an appointment.
<p>
We kindly request 24 hours notice on cancelling or rescheduling appointments.
If a 24-hour notice is not given, 50% of the price of the service is billed
to the client. A full charge will be applied for a cancellation without notice.

<h3>Late Policy</h3>
If you are late for an appointment, a modified service will be performed
if time permits and will end at the scheduled time. However,
if time does not permit, you will be charged 50% of the services selected.

<h3>Refund Policy</h3>
Without a 24 hr notice, with the exception of emergency situations,
refunds will not be given.
<p>
<table cellpadding=5 border=0>
<tr>
<td>
<img src="https://lh3.googleusercontent.com/Mm2v_ZJ03b854GoGkMU-5UISpbbk6EnCxizrLNXO4w8CsEFTuSoyvB0WL3vbvutWE4-U0l5EtLrC6EFaiy645TSNaEaQiepcJA-2dvx7aWz7P4uCNL1N0mP9FSaOgkXjWoEWRjTE">
</td>
<td>
Kaya Kalpa Wellness Center<br>
445 Summit Rd.<br>
Watsonville, CA 95076<br>
(408) 846-4078<br>
<a href='https://www.mountmadonnainstitute.org/health-services/kaya-kalpa'>www.mountmadonna.org/projects/kayakalpa</a><br>
<a href='https://clients.mindbodyonline.com/classic/ws?studioid=415046&stype=-9'>Book your appointment online</a>
</td>
</tr>
</table>
</body>
</html>
