[% INCLUDE style.tt2 %]
[% message %]Dear [% sanskrit %],
<p>
Your Hanuman Fellowship General Membership expired on [% exp_date %].<br>
[% IF last_amount %]
You last paid $[% last_amount %] on [% last_paid %].
[% END %]
<p>
[% INCLUDE info.tt2 %]
