[% INCLUDE style.tt2 %]
[% message %]Dear [% sanskrit %],
<p>
Your next Sponsor Membership Payment Due date is [% exp_date.format("%D") %].
Your benefits will expire unless your payment is received by then.
[% IF last_amount %]
You last paid $[% last_amount %] on [% last_paid.format("%D") %].
[% END %]
<p>
[% INCLUDE spons.tt2 %]
[% INCLUDE info.tt2 %]
