Dear [% name %],
<p>
Your Hanuman Fellowship [% type %] membership expired on [% exp_date %].<br>
You last paid $[% last_amount %] on [% last_paid %].
<p>
Information about HFS membership can be found <a href="http://hanumanfellowship.org/NEW_HFS_Membership_App.pdf">here</a>.
<p>
Sincerely,<br>
[% mem_admin %]<br>
Membership Administrator<br>
(408) 847-0406 x334<br>
<a href='mailto:memberships@mountmadonna.org'>memberships@mountmadonna.org</a>
