<html>
<head>
<style>
body {
    width: 800px;
    font-family: Georgia, Times;
    font-size: 14pt;
    margin-left: 6mm;
}
td {
    font-family: Georgia, Times;
    font-size: 14pt;
}
li {
    margin-bottom: 2mm;
}
</style>
</head>
<body>
[% IF message %]
<table cellpadding=0 width=100%>
<tr>
<td width=300pt>
${message}
</td>
<td align=right valign=bottom>
<img height=150
     src="http://www.hanumanfellowship.org/images/hanuman_logo.png">
</td>
</tr>
</table>
[% ELSE %]
<img style="margin-left: 6in"
     height=150
     src="http://www.hanumanfellowship.org/images/hanuman_logo.png">
<br>
[% END %]
Dear $sanskrit, 
<p>
Thank you for your on-going generous commitment to the Hanuman Fellowship
over this past year. Your annual General Membership in the Fellowship is
due to expire on December 31, ${exp_year}. We respectfully ask you to renew your
membership and continue to be part of our supportive community.
<p>
The Fellowship is a self-sustaining community dedicated to the
attainment of peace. Your membership dues provide the needed funding
and pledge of support to the projects, inspired by the guidance of Babaji,
which foster this ideal. 
Please reply with your payment of \$$string.mem_gen_amt to continue your
General Membership for another year.
<p>
The HFS Membership application form and information about the levels
of membership can be found <a href=${string.mem_site}>here</a>.
Please return the application form with your payment to renew your membership.
<p>
[% INCLUDE info.tt2 %]
</body>
</html>
