[% INCLUDE style.tt2 %]
[% message %]Dear [% sanskrit %],
<p>
Your Hanuman Fellowship General Membership expired
on [% exp_date.format("%D") %].
Your benefits are no longer in effect.
[% IF last_amount %]
You last paid $[% last_amount %] on [% last_paid.format("%D") %].
[% END %]
<p>
Information about HFS membership can be found <a href='[% string.mem_site %]'>here</a>.
<p>
[% INCLUDE info.tt2 %]
