[% INCLUDE top.tt2 %]
Dear $sanskrit,
<p>
[% INCLUDE middle.tt2 %]
<p>
Please submit your payment of \$$string.mem_gen_amt to continue your
General Membership for another year.
<p>
[% INCLUDE info.tt2 %]
