[% INCLUDE style.tt2 %]
[% message %]Dear [% sanskrit %],
<p>
Your Hanuman Fellowship Sponsor Membership expired on [% exp_date->format("%D") %].<br>
[% IF last_amount %]
You last paid $[% last_amount %] on [% last_paid->format("%D") %].
[% END %]
<p>
[% INCLUDE spons.tt2 %]
<p>
[% INCLUDE info.tt2 %]
