Thank you for your on-going generous commitment to the Hanuman Fellowship.
Your annual HFS General Membership is
due to expire on December 31, ${exp_year}. We respectfully ask you to renew your
membership and continue to be part of the HFS membership community.
<p>
The Hanuman Fellowship is "A thriving community of spiritual practice
that honors our yogic roots and inspires peaceful transformation
in ourselves and the world". Your participation and membership dues
support this vision and the perpetuation of Baba Hari Dass' teachings.
