<html>
   <head>
   <title>Confirmation Letter for $person.name</title>
   <meta name="viewport" content="width=device-width" />
   
      <style>
         .after {
         margin-top: .5in;
         }
         body {
         font-size: 14pt;
         }
         #container {
         max-width: 660px;
         margin: 0 auto;
         }
         .invoice {
         margin-left: 20px;
         }
         .rt {
         text-align: right;
         }
         /* I need to learn more about CSS so I don't have the repetition... */
         .lt2 {
         text-align: left;
         font-size: 14pt;
         }
         .rt2 {
         text-align: right;
         font-size: 14pt;
         }
         img {
         margin: 7px;
         }
         h2 {
         font-size: 16pt;
         margin-bottom: 5px;
         }
         h3 {
         font-size: 14pt;
         margin-bottom: 5px;
         }
         .indent {
         margin-left: 0mm;
         margin-bottom: 5mm;
         }
         p {
         }
         .hours {
         font-size: 12pt;
         text-align: right;
         }
         td {
         font-size: 12pt;
         }
         .logo {
         width: 280px;
         }
         .top {
					padding-bottom: 40px;
					width: 100%;
					margin-bottom: 70px;
					border-bottom: 1px solid rgb(178, 178, 178);
         }
         .column {
        	display: inline-block;
         }
         
         .column img {
         width: 100%;
         max-width: 220px;
         }
         .name {
         font-weight: bold;
         margin-left: .25in;
         }
         .addr {
         font-weight: normal;
         margin-left: .25in;
         color: red;
         }
         .contact {
         font-weight: normal;
         margin-left: .25in;
         margin-bottom: .2in;
         }
         
				@media only screen and (max-width: 480px) {
					#container {
					margin: 20px;			
					}
					.column {
					display: block !important;
					width: 100% !important;
					}
				}
      </style>
      

   </head>
   <body>
      <div id="container">
      
           [% mmi = program.school.mmi %]



      <table class=top width="100%">
         <tr>
					 <td>
            <div width="300" class="column" style="text-align: center;">
							<img class=logo src='https://www.mountmadonna.org/assets/img/press/logos/MMC_Logo_Teal.png'>
            </div>

						<table width="280" class="hours column" align="right">
							<tr>
									<td colspan=2 style="text-align: center;"> <b>Programs Office Hours</b></td>
							 </tr>
							 <tr>
									<td>Monday</td>
									<td class=rt>9:00 am - 5:30 pm</td>
							 </tr>
							 <tr>
									<td>Tuesday</td>
									<td class=rt>9:00 am - 5:30 pm</td>
							 </tr>
							 <tr>
									<td>Wednesday</td>
									<td class=rt>9:00 am - 5:30 pm</td>
							 </tr>
							 <tr>
									<td>Thursday</td>
									<td class=rt>9:00 am - 5:30 pm</td>
							 </tr>
							 <tr>
									<td>Friday</td>
									<td class=rt>10:00 am - 6:00 pm</td>
							 </tr>
							 <tr>
									<td>Saturday</td>
									<td class=rt>10:00 am - 6:00 pm</td>
							 </tr>
							 <tr>
									<td>Sunday</td>
									<td class=rt>10:00 am - 3:30 pm</td>
							 </tr>
							 <tr>
									<td colspan=2 align=center><b>408-846-4090</b></td>
							 </tr>
						</table>
            </td>
         </tr>
      </table>
      
      
      
      
      <div class=indent>
         Dear $person.first,
      </div>
      <div class=indent>
         This message confirms your registration for:
      </div>
         <ul>
            <b>$program.title_trimmed</b> - $reg.att_prog_dates
         </ul>
      <p>
         [% IF    reg.confnote_not_empty
         || program.confnote_not_empty
         %]
         <p>
            [% IF reg.confnote_not_empty %]
            $reg.confnote
         <p>
            [% END %]
            [% IF program.confnote_not_empty %]
            $program.confnote
            [% END %]
        [% END %]    <!-- if Note -->

    Since this is an ONLINE program we will be sending you a link to the ZOOM meeting a few days prior to the start date of the program.

      [% IF cancel_policy %]
      <p>
      $cancel_policy
      [% ELSE %]
      <p>
         If you need to cancel or change your reservation, please refer to our <a target=_blank href='https://www.mountmadonna.org/explore/faqs'>cancellation policy</a> and contact our registrar at 
         [% rem = registrar_email %]
         <a href='mailto:$rem'>$rem</a>.
         [% END %]
         <p>
         If you have any questions please call the Programs Office at 408-846-4090. 
      <div class=indent>
         Sincerely,<br>
         $user.first $user.last<br>
         and the Programs Office team
      </div>
   </body>
</html>
