<html>
<head>
<style type='text/css'>
body {
    width: 600px;
    margin-top: .5in;
    margin-left: .5in;
    font-family: Times;
    font-size: 17pt;
}
.header {
    font-size: 31pt;
    text-align: center;
    margin-bottom: 1mm;
    font-weight: bold;
}
.mmi_header {
    width: 900px;
    text-align: center;
    margin-bottom: 3mm;
}
.addr {
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
    margin-bottom: 4mm;
}
td, th {
    font-size: 17pt;
}
h3 {
    margin-top: 9mm;
    margin-bottom: 2mm;
}
</style>
</head>
<body>
[% pers = reg.person %]
[% prog = reg.program %]
[% mmi = prog.school.mmi %]
[% IF mmi %]
    <div class=mmi_header>
    [% IF print %]
        <img src=/static/images/mmi_logo.png>
    [% ELSE %]
        <img src="https://www.mountmadonna.org/assets/img/external-site-logos/MountMadonnaInstitute.org.png">
    [% END %]
    <br>
    Mount Madonna Institute<br>
    445 Summit Rd Watsonville, CA 95076
    </div>
[% ELSE %]
    [% IF print %]
        <table cellpadding=6>
        <tr>
        <td><img src=/static/images/mmc_logo.gif></td>
        <td class=header>Mount Madonna Center<br>
        <div class=addr>
        445 Summit Rd Watsonville, CA 95076
        </div>
        </td>
        </table>
    [% ELSE %]
        <!-- no good non-white logo on the site anymore? -->
        <img src="https://www.mountmadonna.org/assets/img/MMC_header.png">
        <p class=p2>
    [% END %]
[% END %]
${today.format("%B %e, %Y")}
<p>
<h3>$pers.first $pers.last</h3>
$pers.addr1<br>
$pers.city, $pers.st_prov, $pers.zip_post<br>
$pers.carpool_telephone
<h3>Program</h3>
<table cellpadding=6 border=1>
<tr><th align=right>Title</th><td>$prog.title</td></tr>
[% IF presenter %]
<tr><th align=right>Presenter</th><td>$presenter</td></tr>
[% END %]
<tr><th align=right>Dates</th><td>$reg.receipt_dates</td></tr>
</table>
<p>
<h3>Charges</h3>
<table cellpadding=6 border=1>
<tr align=left>
<th align=right>Amount</th>
<th>Type</th>
</tr>
[% tot = 0 %]
[% FOREACH ch IN reg.charges %]
[% tot = tot + ch.amount %]
<tr>
<td align=right>$ch.amount_disp</td>
<td>$ch.what</td>
</tr>
[% END %]
<tr>
<td align=right>$tot</td><td>Total</td>
</tr>
</table>

<h3>Payments</h3>
<table cellpadding=6 border=1>
<tr valign=bottom align=left>
<th align=right>Amount</th>
<th>Type</th>
<th align=center>Date</th>
<th align=right>Receipt #</th>
<th>What</th>
</tr>
[% IF mmi %]
    [% method = 'mmi_payments' %]
[% ELSE %]
    [% method = 'payments' %]
[% END %]
[% tot = 0 %]
[% FOREACH py IN reg.$method %]
    <tr>
    <td align=right>$py.amount_disp</td>
    [% tot = tot + py.amount %]
    <td>$py.type_sh</td>
    <td>${py.the_date_obj.format("%D")}</td>
    <td align=right>$py.id</td>
    [% IF mmi %]
        <td>$py.note</td>
    [% ELSE %]
        <td>$py.what</td>
    [% END %]
    </tr>
[% END %]
<tr>
<td align=right>$tot</t>
<td>Total</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
</body>
</html>
[% IF print %]
<script>
window.print();
</script>
[% END %]
