Greetings $name,
<p>
You are requested to pay \$$total for the program '$program'.<br>
<p>
You can do this by clicking
<a href='$cgi/req_pay?code=$req_code'>HERE</a>.
<p>
Description of charges:
<ul>
$tbl_py_desc
</ul>
[% IF resending %]
<p>
Please ignore previous payment requests for this program.
<p>
[% END %]
Thank you,<br>
$signed
