Greetings $name,
<p>
You are requested to pay \$$total for the MMI program '$program'.<br>
<p>
You can do this by clicking
<a href=http://www.mountmadonnainstitute.org/cgi-bin/req_mmi?code=$req_code>HERE</a>.
<p>
Description of charges:
<ul>
$tbl_py_desc
</ul>
Thank you,<br>
Brajesh
