The Sponsor Membership is maintained with a
yearly $[% string.mem_spons_pay_6 %] in advance
or monthly dues of $[% string.mem_spons_pay_month %]
per person which should be paid near the beginning of the month.
