<style>
body {
    width: 80%;
    font-family: Georgia, Times;
    font-size: 12pt;
    margin-left: 6mm;
}
td {
    font-family: Georgia, Times;
    font-size: 12pt;
}
li {
    margin-bottom: 3mm;
}
</style>
