[% INCLUDE style.tt2 %]
[% IF message %]
<table cellpadding=0 width=100%>
<tr>
<td width=300pt>
${message}
</td>
<td align=right valign=bottom>
<img height=150
     src="http://akash.mountmadonna.org/static/images/hanuman.png">
</td>
</tr>
</table>
[% ELSE %]
<img style="margin-left: 6in"
     height=150
     src="http://akash.mountmadonna.org/static/images/hanuman.png">
<br>
[% END %]
