body {
    margin-left: .5in;
    margin-top: .5in;
    margin-right: 1in;
    font-family: Verdana;
    width: 750px;
}
body, td {
    font-size: 13pt;
}
quote {
    display: block;
    margin-left: .5in;
    margin-top: .3in;
    margin-bottom: .3in;
}
li {
    margin-top: 1mm;
    margin-bottom: 1mm;
}
h1 {
    font-size: 22pt;
}
h2 {
    color: green;
}
h3 {
    color: blue;
}
dt {
    color: brown;
}
dd {
    color: green;
}
a {
    color: blue;
    text-decoration: none;
}
.red {
    color: red;
}
a:hover {
    color: white;
    background: blue;
}
.code {
    color: blue;
}
.to_schema {
    margin-left: 2in;
    font-size: 14pt;
    font-weight: normal;
}
.covid {
    font-size: 16pt;
    background: black;
    color: white;
}
