<div style="margin-top: .5in; margin-left: .5in">
Sorry.  A fatal error has occured.
<p class=p2>
[% IF error %]
    [% error %]
[% ELSE %]
    Sahadev has been alerted but it would be helpful<br>
    if you sent him an email that explained what you were doing just now.<br>
    Click here: <a href='mailto:jon.bjornstad@gmail.com'>jon.bjornstad@gmail.com</a>
[% END %]
</div>
