<p class=p2>
The following errors were found:
<ul>
[% mess %]
</ul>
[% IF close_window %]
    Close this window.
[% ELSE %]
    Please go <input id='back' type=button value="Back" onclick="history.go(-1)"> and fix them.
    <script type='text/javascript'>document.getElementById('back').focus();</script>
[% END %]
