<style>
body {
    margin-top: 5mm;
    margin-left: 5mm;
}
</style>
<div class=f20b>Reg for MMC</div>
<p class=p2>
A password for the account '${username}' has been sent to ${email}.
<p class=p2>
Return to the <a href=/login>login page</a>.
