/* for tinymce generated text: */
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* other paragraphs */
.p2 {
    margin-top: .1in;
    margin-bottom: .1in;
}
.keyed {
    background: #ddeeee;
}
@media print {
    .noprint {
        display: none;
    }
}
.hdr {
    color: green;
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: .2mm;
    display: block;
}

select {
    font-size: 13pt;
}

input {
    font-size: 13pt;
}
textarea {
    font-size: 13pt;
}

html {
    height: 100%;
}

a {
    color: [% link %];
    text-decoration: none;
    font-size: 13pt;
}

a:hover {
    color: [% bg %];
    background: [% link %];
    text-decoration: none;
}

body { 
    background-color: [% bg %];
    color: [% fg %];
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 13pt;
    font-family: Lucida Grande, Verdana, Helvetica;
}
.larger {
    font-size: 18pt;
    font-weight: bold;
    color: darkgreen;
}
.required {
    color: red;
}
.dow {
    color: red;
    font-weight: bold;
}

#header {
    background-color: [% site.col.head %];
/* no little red line all the way across please.
    border-bottom: 1px solid [% site.col.line %];
*/
}

/* no footer please
#footer {
    background-color: [% site.col.head %];
    text-align: center;
    border-top: 1px solid [% site.col.line %];
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 4px;
}
*/

#content {
    padding: 10px;
/*
  background-color:#ffffff;
    color:#000000;
    margin:0 auto;
    padding:0px 1px;
    width:800px;
*/
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
/*    color: [% site.col.message %]; */
    color: red;
}

.error {
    color: [% site.col.error %];
}

/* fl = fone list */
.fl_row0 {
    background: #FFFFFF
}
.fl_row1 {
    background: #DDDDDD
}
.fl_heading {
    display: block;
    font-size: 15pt;
	font-family: Arial;
    font-weight: bold;
    margin-bottom: 8mm;
    text-align: center;
}

.fl_th {
	font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
}
.fl_name {
	font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
}
.fl_phone {
	font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
	text-align: right;
}
.fl_address {
	font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
	text-align: left;
}
.topbord {
    border-top: solid thin;
}
.highlight {
    background: yellow;
}
