
html {
    height: 100%;
}

body { 
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.required {
    color: red;
}

#header {
    background-color: [% site.col.head %];
/* no little red line all the way across please.
    border-bottom: 1px solid [% site.col.line %];
*/
}

/* no footer please
#footer {
    background-color: [% site.col.head %];
    text-align: center;
    border-top: 1px solid [% site.col.line %];
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 4px;
}
*/

#content {
    padding: 10px;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
/*    color: [% site.col.message %]; */
    color: red;
}

.error {
    color: [% site.col.error %];
}

/* fl = fone list */
.fl_row0 {
    background: #FFFFFF
}
.fl_row1 {
    background: #DDDDDD
}
.fl_heading {
    display: block;
    font-size: 15pt;
	font-family: Arial;
    font-weight: bold;
    margin-bottom: 8mm;
    text-align: center;
}

.fl_th {
	font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
}
.fl_name {
	font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
}
.fl_phone {
	font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
	text-align: right;
}
.fl_address {
	font-family: Arial;
    font-size: 10pt;
    font-weight: normal;
	text-align: left;
}
