<html>
<head>
<style>
body {
    margin: .5in;
    width: 70%;
}
body, input, button, td, th {
    font-size: 16pt;
}
button {
    background: lightgreen;
}
</style>
</head>
<body>
[% IF back %]
Problems were found in the form:
[% END %]
<ul>
$err
</ul>
<form>
[% IF back %]
    Please <button type="button" id=back onclick="history.go(-1); return false;">Go Back</button> and correct these things.
[% END %]
</form>
<script type='text/javascript'>
document.getElementById('back').focus();
</script>	
</body>
</html>
