<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/cgi.css">
<script>
var fields = [
    { id: 'rec_fname', regexp: '\\S',
                   err: 'Missing Recipient First Name' },
    { id: 'rec_lname', regexp: '\\S',
                   err: 'Missing Recipient Last Name' },
    { id: 'rec_email',  regexp: '^\\s*\\S+[@]\\S+[.]\\S+\\s*\$',
                     err: 'Invalid Recipient Email address' },
    { id: 'amount', regexp: '^[0-9]+\$',
                    err: 'Invalid Gift Amount' },
    { id: 'first', regexp: '\\S',
                   err: 'Missing First Name' },
    { id: 'last', regexp: '\\S',
                   err: 'Missing Last Name' },
    { id: 'addr1',  regexp: '\\S',
                      err: 'Missing Street Address' },
    { id: 'city',  regexp: '\\S',
                   err: 'Missing City' },
    { id: 'st_prov',  regexp: '\\S',
                    err: 'Missing State' },
    { id: 'zip_post',  regexp: '\\S',
                  err: 'Missing Zip Code' },
    { id: 'cell',  regexp: '^[0-9 -.()]+\$',
                   err: 'Invalid Phone number' },
    { id: 'email1',  regexp: '^\\s*\\S+[@]\\S+[.]\\S+\\s*\$',
                     err: 'Invalid Email address' },
];
</script>
<script type='text/javascript' src='/static/js/check_fields.js'></script>
<script type='text/javascript' src='/static/js/popup.js'></script>
</head>
<body>
<img src='/static/images/mmc-teal.png' width=200>
<h1>Gift Cards</h1>
It is very kind of you to send your friend the
gift of meals and lodging at Mount Madonna Center.
For a Personal Retreat in $month here are the costs
Per Person Per Day for the various housing options:
<ul>
[% cl_row = 'even' %]
<table cellpadding=3>
<tr>
<th class=lt>Type</th><th align=right>Cost</th>
</tr>
[% FOR ht IN htypes %]
    <tr class=$cl_row>
    <td><a href="javascript:popup('https://akash2.mountmadonna.org/cgi-bin/show_ht/$ht.type/$ht.cost/$housecost_type',650,500);">$ht.short_desc</a></td>
    <td align=right>$ht.cost</td>
    </tr>
    [% IF cl_row == 'even' %]
        [% cl_row = 'odd' %]
    [% ELSE %]
        [% cl_row = 'even' %]
    [% END %]
[% END %]
</table>
</ul>

<form autocomplete="off"
      method=POST
      action="/cgi-bin/gift_card2"
      onSubmit="return check_fields();">

<h3>Gift Recipient Information</h3>  
<table cellpadding=5>

<tr>
<th><span class="required">*</span> First Name:</th>
<td><input type="text" name="rec_fname" id="rec_fname" value='$rec_fname'></td>
</tr>

<tr>
<th><span class="required">*</span> Last Name:</th>
<td><input type="text" name="rec_lname" id="rec_lname" value='$rec_lname'></td>
</tr>

<tr>
<th><span class="required">*</span> Email:</th>
<td><input type="text" name="rec_email" id="rec_email" value='$rec_email' size=35></td>
</tr>

<tr>
<th><span class="required">*</span> Amount:</th>
<td><input type="text" name="amount" id="amount"></td>
</tr>

</table>
<p>
We will be sending your friend an email notifying them of your gift.
If you would like to include a personal note to them, you may write it here:
<p>
<textarea name="personal_note" rows='5' cols='50' font-family: Times;"></textarea>
<h3>Your Information</h3>  

<table cellpadding=5>

<tr>
<th><span class=required>*</span> First Name:</th>
<td><input type="text" size=25 name="first" id="first" value="$first"></td>
</tr>

<tr>
<th><span class=required>*</span> Last Name:</th>
<td><input type="text" size=25 name="last" id="last" value="$last"></td>
</tr>

<tr>
<th><span class=required>*</span> Street 1:</th>
<td><input type="text"
       size=25 name="addr1"
       id="addr1"
       value="$addr1">
</td>
</tr>

<tr>
<th>Street 2:</th>
<td><input type="text" size=25 name="addr2" id="addr2" value="$addr2"></td>
</tr>

<tr>
<th><span class=required>*</span> City:</th>
<td><input type="text" size=25 name="city" id="city" value="$city"/></td>
</tr>

<tr>
<th><span class=required>*</span> State/Province:</th>
<td><input type="text" size=25 name="st_prov" id="st_prov" value="$st_prov"/></td>
</tr>

<tr>
<th><span class=required>*</span> Zip/Postal Code:</th>
<td><input type="text" size=25 name="zip_post" id="zip_post" value="$zip_post"/></td>
</tr>

<tr>
<th>Country:</th>
<td><input type="text" size=25 name="country" id="country" value="$country"/>
<span class=help>Defaults to USA</span>
</td>
</tr>

<tr>
<th><span class="required">*</span> Telephone:</th>
<td><input type="text" size=25 name="cell" id="cell" value="$cell"/></td>
</tr>

<tr>
<th><span class="required">*</span> Email:</th>
<td><input type="text" size=25 name="email1" id="email1" value="$email1"/></td>
</tr>

<tr>
<th>&nbsp;</th><td><button type=submit>Submit</button></td>
</tr>

</table>
<p>

We will be sending you a confirmation email. 
To prevent it from going to your spam folder, 
kindly add the following address to your list
of acceptable emails: <em>programs@mountmadonna.org</em>. </li>
<p>

</form>
</body>
</html>
