<html>
<head>
<link rel="stylesheet" href="https://akash.mountmadonna.org/static/cgi.css">
</head>
<body>
<img src="https://akash.mountmadonna.org/static/images/mmc-teal.png" width=200>
<p>
Greetings $rec_fname,
<p>
Your friend has sent you a gift card for meals and lodging at Mount Madonna Center.
It has a value of \$${amount}.
<p>
It was sent to you by $first ${last}.
<p>
You can redeem it (in whole or in part) by registering
for a Personal Retreat (or any other program) at <a target=_blank href='https://www.mountmadonna.org'>mountmadonna.org</a>.
<p>
When paying for your registration use this gift card code: <span style="font-size: 15pt">$code</span>
[% IF personal_note %]
<p>
${first}'s message to you is this:
<ul>
$personal_note_verbose
</ul>
[% END %]
<p>
You can check on the status of your card with <a href='$cgi/gift_card_status?code=$code'>this link</a>.
<p>
Thank you
</body>
</html>
