<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/cgi.css">
<script>
var fields = [
    { id: 'rec_fname', regexp: '\\S',
                   err: 'Missing Recipient First Name' },
    { id: 'rec_lname', regexp: '\\S',
                   err: 'Missing Recipient Last Name' },
    { id: 'rec_email',  regexp: '^\\s*\\S+[@]\\S+\\s*\$',
                     err: 'Invalid Recipient Email address' },
    { id: 'amount', regexp: '^[0-9]+\$',
                    err: 'Invalid Gift Amount' },
    { id: 'fname', regexp: '\\S',
                   err: 'Missing First Name' },
    { id: 'lname', regexp: '\\S',
                   err: 'Missing Last Name' },
    { id: 'street1',  regexp: '\\S',
                      err: 'Missing Street Address' },
    { id: 'city',  regexp: '\\S',
                   err: 'Missing City' },
    { id: 'state',  regexp: '\\S',
                    err: 'Missing State' },
    { id: 'zip',  regexp: '\\S',
                  err: 'Missing Zip Code' },
    { id: 'cell',  regexp: '^[0-9 -.()]+\$',
                   err: 'Invalid Phone number' },
    { id: 'email1',  regexp: '^\\s*\\S+[@]\\S+\\s*\$',
                     err: 'Invalid Email address' },
];
</script>
<script type='text/javascript' src='/static/js/check_fields.js'></script>
</head>
<body>
<img src='/static/images/mmc-teal.png' width=200>
<h1>Gift Cards</h1>
It is very kind of you to send your friend the
gift of meals and lodging at Mount Madonna Center.
These are the costs Per Day Per Person for the various housing options:
<p>
<table cellpadding=5>
<tr>
<th>Housing Type</th>
<th style="text-align: right">Cost</th>
</tr>
$housing_fees_rows
</table>

<form autocomplete="off"
      method=POST
      action="/cgi-bin/gift_card2"
      onSubmit="return check_fields();">

<h3>Gift Recipient Information</h3>  
<table cellpadding=5>

<tr>
<th><span class="required">*</span> First Name:</th>
<td><input type="text" name="rec_fname" id="rec_fname" value='$rec_fname'></td>
</tr>

<tr>
<th><span class="required">*</span> Last Name:</th>
<td><input type="text" name="rec_lname" id="rec_lname" value='$rec_lname'></td>
</tr>

<tr>
<th><span class="required">*</span> Email:</th>
<td><input type="text" name="rec_email" id="rec_email" value='$rec_email'></td>
</tr>

<tr>
<th><span class="required">*</span> Amount:</th>
<td><input type="text" name="amount" id="amount"></td>
</tr>

</table>
<p>
We will be sending your friend an email notifying them of your gift.
If you would like to include a personal note to them, you may write it here:
<p>
<textarea name="personal_note" rows='3' cols='45' font-family: Times;"></textarea>
<h3>Your Information</h3>  

<table cellpadding=5>

<tr>
<th><span class=required>*</span> First Name:</th>
<td><input type="text" size=25 name="fname" id="fname" value="$fname"></td>
</tr>

<tr>
<th><span class=required>*</span> Last Name:</th>
<td><input type="text" size=25 name="lname" id="lname" value="$lname"></td>
</tr>

<tr>
<th><span class=required>*</span> Street 1:</th>
<td><input type="text"
       size=25 name="street1"
       id="street1"
       value="$street1">
</td>
</tr>

<tr>
<th>Street 2:</th>
<td><input type="text" size=25 name="street2" id="street2" value="$street2"></td>
</tr>

<tr>
<th><span class=required>*</span> City:</th>
<td><input type="text" size=25 name="city" id="city" value="$city"/></td>
</tr>

<tr>
<th><span class=required>*</span> State/Province:</th>
<td><input type="text" size=25 name="state" id="state" value="$state"/></td>
</tr>

<tr>
<th><span class=required>*</span> Zip/Postal Code:</th>
<td><input type="text" size=25 name="zip" id="zip" value="$zip"/></td>
</tr>

<tr>
<th>Country:</th>
<td><input type="text" size=25 name="country" id="country" value="$country"/>
<span class=help>Defaults to USA</span>
</td>
</tr>

<tr>
<th><span class="required">*</span> Telephone:</th>
<td><input type="text" size=25 name="cell" id="cell" value="$cell"/></td>
</tr>

<tr>
<th><span class="required">*</span> Email:</th>
<td><input type="text" size=25 name="email1" id="email1" value="$email1"/></td>
</tr>

</table>

We will be sending you a confirmation email. 
To prevent it from going to your spam folder, 
kindly add the following address to your list
of acceptable emails: <em>programs@mountmadonna.org</em>. </li>
<p>
<input style="background: lightgreen" type=submit id=submit value='Submit'>

</form>
</body>
</html>
<script>document.getElementById('rec_fname').focus()</script>
