<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/cgi.css">
</head>
<body>
<img src='/static/images/mmc-teal.png' width=200>
<p>
Thank you.<br>
Please confirm the following and then choose PAY AMOUNT below.
<p>
You are sending a gift card for meals and lodging at Mount Madonna Center to:
<p>
<dl>
<dt>Name:</dt>
<dd>$rec_fname $rec_lname</dd>
<dt>Email:</dt>
<dd>$rec_email</dd>
<dt>Amount:</dt>
<dd>\$$amount</dd>
[% IF personal_note_verbose %]
    <dt>Personal Note:</dt>
    <dd>$personal_note_verbose</dd>
[% END %]
</dl>
<p>
Your information:
<dl>
<dt>Name:</dt>
<dd>$first $last</dd>

<dt>Address:</dt>
<dd>$street_addr<br>
$city, $st_prov $zip_post<br>
$country</dd>

<dt>Telephone:</dt>
<dd>$cell</dd>

<dt>Email:</dt>
<dd>$email1</dd>
</dl>

<p>
$payment

</form>
</body>
</html>
