<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/cgi.css">
<style>
body {
    font-size: 14pt;
}
</style>
</head>
<body>
<img src='https://akash.mountmadonna.org/static/images/mmc-teal.png' width=200>
<p>
Dear $first ${last},
<p>
Thank you for your meal request at least 72 hours in advance.<br>
This helps the kitchen plan for your arrival. 
<p>
<p>
Your meal request is confirmed for:
<ul>
$display_requests
</ul>
<p>
[% IF message %]
This information will also be sent by email.<br>
<p>
[% END %]
We look forward to seeing you.
<p>
Best regards,<br>
Mount Madonna Guest Services
</body>
</html>
