<html>
<head>
<link rel="stylesheet" href="$url/static/cgi.css">
</head>
<body>
<img src='$url/static/images/hanuman.png' width=100>
<h2>Thank you, ${name}.</h2>
<h3>Your payment has been received.</h3>
<p>
Your credit card has been charged \$${amount}.<br>
The id for this transaction is ${transaction_id}.
<p>
You are now a $Mem_Type member of the Hanuman Fellowship.
</body>
</html>
