<html>
<head>
<style>
body {
    margin-left: .5in;
    margin-top: .5in;
    margin-bottom: .5in;
    font-size: 18pt;
    font-family: Arial;
}
td {
    font-size: 18pt;
}
.ind {
    margin-left: .5in;
}
button {
    background: lightgreen;
    font-size: 18pt;
}
</style>
</head>
<body>
<h2>Hanuman Fellowship Membership</h2>
<img src='https://www.mountmadonna.org/assets/img/hanuman.png' width=100
     style="margin-left: .4in">
<img src='https://www.mountmadonna.org/assets/img/hanuman.png' width=100
     style="margin-left: 1in">
<img src='https://www.mountmadonna.org/assets/img/hanuman.png' width=100
     style="margin-left: 1in">
<p>
Verify the following:
<p>
<table cellpadding=15 class=ind>
<tr><td>
$fname $lname<br>
$street1<br>
[% IF street2 %]
$street2<br>
[% END %]
$city, $state<br>
$zip<br>
$country
<p>
$cell<br>
$email1
</td>
[% IF pic_thumb %]
<td valign=top>
<img src=$pic_thumb>
</td>
[% END %]
</tr>
</table>
<p>
You want to enroll as a $Mem_Type in the Hanuman Fellowship.<br>
The $prorated cost is \$${amount}.
<p>
Your introduction:
<ul>
$intro_disp
</ul>
[% IF ky %]
Your preferred Karma Yoga areas:
<ul>
$ky_disp
</ul>
[% END %]
<form name="authorize"
  action="https://secure.authorize.net/gateway/transact.dll"
  method="POST"
}
$authorize_data
<input type=hidden value="$intro"    name="x_intro">
<input type=hidden value="$ky"       name="x_ky">
<input type=hidden value="$mem_type" name="x_mem_type">
<input type=hidden value="$Mem_Type" name="x_mem_type_disp">
<input type=hidden value="$pic_url"  name="x_pic_url">
<button type="button"
        onclick="history.go(-1); return false;">
Go Back and Make Changes
</button>
<p>
<button type=submit>
Proceed to Payment
</button>
</form>
</body>
</html>
