<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="https://akash.mountmadonna.org/static/cgi.css">
</head>
<body>
New HFS $x_mem_type_disp:
<p>
$x_fname $x_lname [% IF x_aname %](aka $x_aname)[% END %]
<p>
Their introduction:
<ul>
$x_intro
</ul>
[% IF x_pic_url %]
<p>
Their picture:
<ul>
<img src='$x_pic_url'>
</ul>
[% END %]
[% IF x_ky %]
<p>
Their preferred karma yoga:
<ul>
$x_ky
</ul>
[% END %]
</body>
</html>
