<html>
<head>
<meta charset='UTF-8'>
<script>
var fields = [
    { id: 'first', regexp: '\\S',
                   err: 'Missing First Name' },
    { id: 'last', regexp: '\\S',
                   err: 'Missing Last Name' },
    { id: 'addr1',  regexp: '\\S',
                      err: 'Missing Street Address' },
    { id: 'city',  regexp: '\\S',
                   err: 'Missing City' },
    { id: 'st_prov',  regexp: '\\S',
                    err: 'Missing State' },
    { id: 'zip_post',  regexp: '\\S',
                  err: 'Missing Zip Code' },
    { id: 'cell',  regexp: '^[0-9 -.()]+\$',
                   err: 'Invalid Phone number' },
    { id: 'email1',  regexp: '^\\s*\\S+[@]\\S+[.]\\S+\\s*\$',
                     err: 'Invalid Email address' },
];
</script>
<script type='text/javascript' src='/static/js/check_fields.js'></script>
<style>
body {
    width: 800px;
    font-size: 18pt;
    font-family: Arial;
    margin-top: .5in;
    margin-left: .5in;
    margin-bottom: 1in;
}
.mission {
    text-align: center;
    color: green;
}
.cent {
    text-align: center;
}
.required {
    color: red;
    font-style: bold;
}
th, td, textarea, input {
    font-size: 16pt;
    font-family: Arial;
}
.smaller, form {
    font-size: 16pt;
}
button {
    background: lightgreen;
    font-size: 16pt;
}
</style>
</head>
<body>
<h2 class=cent>Hanuman Fellowship Membership</h2>
<div class=cent>
<img src=/static/images/hanuman.png width=100>
<img src=/static/images/hanuman.png width=100 style="margin-left: 20mm">
<img src=/static/images/hanuman.png width=100 style="margin-left: 20mm">
</div>
<p>
<div class=mission>
The Hanuman Fellowship is organized, as inspired by the example and
teachings of master yogi
<a target=_blank href=https://www.mountmadonna.org/baba-hari-dass>Baba Hari Dass</a>,
to promote the principles
and practice of yoga by means of sadhana (spiritual practice), karma
yoga (selfless service), and satsang (supportive community), as well
as other spiritual disciplines and learning that foster personal
and spiritual development and wellness and that create an environment
for the attainment of peace.
<p>
</div>
The Hanuman Fellowship (HFS) is a self-supportive community dedicated to
the attainment of peace. In order to attain this mission and carry
forward the teachings of Baba Hari Dass through sadhana, satsang,
and karma yoga, a membership based on commitment and service is
essential.
<p>
Members are the strength and foundation of the Fellowship and membership is a way of becoming involved in the service of maintaining and developing the programs and facilities we offer to serve the broader community.
<p>
Please review the membership categories and complete the
application form below. Applicants are eligible to receive the benefits
listed in the membership categories upon payment of annual dues.
Eligibility to vote in the annual Board of Directors election is
subject to confirmation by the members at the Annual
General Meeting.
<p>
In Peace,<br>
The Membership Committee<br>
Hanuman Fellowship Board of Directors<br>
<a href=mailto:memberships@mountmadonna.org>memberships@mountmadonna.org</a>
<p>
<table cellpadding=10 border=1 style="width: 900px">
<tr>
<th width=45% colspan=2>MEMBERSHIP CATEGORIES</th>
<th>BENEFITS</th>
</tr>


<tr>
<th width=15%>General</th>
<td>\$$mem_gen_amt Yearly Dues
</td>
<td>
<ul>
<li>20% Discount on meals at MMC
<li>Eligibility to vote for the Board of Directors
</ul>
</td>
</tr>

<tr>
<th>Sponsor</th>
<td>\$$mem_spons_year Yearly Dues</td>
<td>
All above benefits, PLUS:
<ul>
<li>4 free nights lodging at Mount Madonna Center.
<p>
This can be taken:<br>
 As a Personal Retreat, subject to availability.<br>
&nbsp;&nbsp;<b>or</b><br>
For one of the four annual retreats:<br>
Spring, Liberation, Fall, or
New Year's.
</ul>
Lodging is a double room w/o private bath, or room/tent of lesser value.
Sponsor dues lead to Lifetime Membership when the accumulated
amount of \$$mem_life_total is reached.
</td>
<tr>
<tr>
<th>Lifetime</th>
<td>\$12,000 Lifetime Dues</td>
<td>
All above benefits, PLUS:
<ul>
<li>Free tuition, meals, and lodging for one of the four annual
retreats: Spring, Liberation, Fall, or New Year's Retreat.
</ul>
</td>
</tr>
</table>
<p>
<div class=smaller>
<p>
Please complete the form below and press Submit at the bottom:
</div>
<form action='/cgi-bin/new_hfs_member'
      name=form method=post
      enctype="multipart/form-data"
      onSubmit="return check_fields();"
>
<p>
<table cellpadding=5>
<tr>
<th align=right valign=top width=30%>Membership Type</th>
<td>
<input type=radio name=mem_type value=general checked> General - \$$mem_gen_amt annually<p>
<input type=radio name=mem_type value=sponsor> Sponsor - \$$mem_spons_year annually
<br><br>
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> First</th>
<td>
<input type=text size=30 name=first id=first value="$first">
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> Last</th>
<td>
<input type=text size=30 name=last id=last value="$last">
</td>
</tr>
<tr>
<th align=right>Sanskrit</th>
<td>
<input type=text size=30 name=sanskrit id=sanskrit value="$sanskrit">
(optional)
</td>
</tr>
<tr>
<tr>
<th align=right><span class=required>*</span> Street</th>
<td>
<input type=text size=30 name=addr1 id=addr1 value="$addr1">
</td>
</tr>
<tr>
<th align=right></th>
<td>
<input type=text size=30 name=addr2 id=addr2 value="$addr2"> (optional)
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> City</th>
<td>
<input type=text size=30 name=city id=city value="$city">
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> State/Province</th>
<td>
<input type=text size=30 name=st_prov id=st_prov value="$st_prov">
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> Zip/Postal Code</th>
<td>
<input type=text size=30 name=zip_post id=zip_post value="$zip_post">
</td>
</tr>
<tr>
<th align=right>Country
<td>
<input type=text size=30 name=country value="$country"> Defaults to USA
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> Email</th>
<td>
<input type=text size=30 name=email1 id=email1 value="$email1">
</td>
</tr>
<tr>
<th align=right><span class=required>*</span> Phone</th>
<td>
<input type=text size=30 name=cell id=cell value="$cell">
</td>
</tr>
</table>
As an introduction to the rest of the members, please write a few
sentences below explaining what inspired you to become a member of
the Hanuman Fellowship. 
<p>
<textarea name=intro rows=5 cols=50>
</textarea>
<p>
If available, please upload a photograph of yourself for the
purpose of identification at the Annual General Meeting when new
members are elected into the voting body.
<p>
<input type=file name=photo>
<p>
<button type=submit>Submit</button>
</form>
</body>
</html>
<script>
document.getElementById('first').focus({ preventScroll: true });
setTimeout(function() {
    window.scrollTo(0, 0);
}, 50);
</script>
