<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/cgi.css">
</head>
<body>
[% sans = person.sanskrit %]
<img src=/static/images/hanuman.png width=100>        
<div ><h3>Payment for a $category Membership in the Hanuman Fellowship</h3>

<dl>
<dt>Name:</dt>
<dd>$person.first $person.last [% IF sans %]($sans)[% END %]</dd>

<dt>Address:</dt>
<dd>$addr<br>$person.city, $person.state $person.zip<br>$country</dd> 

<dt>Phone:</dt>
<dd>$phone</dd>

<dt>Email:</dt>
<dd>$person.email</dd>

[% IF category == 'Sponsor' %]                       
<dt>Previous Payment:</dt>
<dd>\$$last_amount on $date_payment</dd>
[% END %]

<dt>Total to Date:</dt>
<dd>\$$total_paid</dd>

<dt>Today's Payment:</dt>
<dd>\$$amount</dd>

</dl>

<form name="authorize"
action="https://secure.authorize.net/gateway/transact.dll"
method="POST"
>
<!-- ... -->
<input style="background: lightgreen" type=submit id=submit value='Pay Securely with your Credit Card'>
</form>
</FORM>
</body>
</html>
