<html>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="/static/cgi.css">
</head>
<body>
<img src='/static/images/hanuman.png' width=200>
<p>
Thank you, ${first}.
<p>
We have received your payment of \$$amount<br>
for a $category membership in the Hanuman Fellowship.
</body>
</html>
