<html>
<body>
<div style='font-size: 18pt; margin: .5in; font-family: Arial'>
Thank you for your interest in hosting your event at
Mount Madonna Center.  We will review your inquiry form.
Note that due to high volume, we may not be able to respond to all inquiries.
</div>
</body>
</html>
