<style>
body {
    margin:.5in;
    font-size: 18pt;
}
</style>
$name cannot occupy the Whole RAM 1 Cottage when<br>
there are other people in the RAM 1A or RAM 1B rooms.
<p>
Please go <input id='back' type=button value="Back" onclick="history.go(-1)"> to fix this.
<script type='text/javascript'>document.getElementById('back').focus();</script>
