<html>
<head>
</head>
<body>
[% IF pid == 4815 %]
    [% tuition = ', 3HO Program Fee,' %]
[% END %]

<form autocomplete="off"
      method=POST
      name=reg
      action="/cgi-bin/reg2?id=$pid"
      onSubmit="return confirm();"
      enctype="multipart/form-data"
>

<h3>Program Information</h3>  
[% IF mountain_experience %]
You are registering for a Mountain Experience.
<ul>
Date: ${sdate.format("%A, %B %e, %Y")}<p>
Meals: $meals<br>
Activities: $activities
[% IF children_name_age %]
<br>Children: $children_name_age
[% END %]
<p>
</ul>
<input type=hidden name=meals value='$meals'>
<input type=hidden name=activities value='$activities'>
<input type=hidden name=children_name_age value='$children_name_age'>
[% ELSIF pr %]
    You are registering for a Personal Retreat.
    <p>
    $pr_dates
    [% IF outdoors %]
        <p>Outdoor housing only.
    [% END %]
    [% IF no_center_tents %]
        <p>Center tents are not available.
    [% END %]
[% ELSE %]
    You are registering for:
    <p>
    [% IF two_pics %]
        <img src='$image1'><br>
        <img src='$image2'>
    [% ELSIF one_pic %]
        <img src='$image1'>
    [% END %]
    <dl>
    <dt>Program:</dt>
    <dd>$title</dd>

    <dt>Dates:</dt>
    <dd>$dates</dd>

    [% IF leader_names %]
        <dt>Presenter:</dt>
        <dd>$leader_names</dd>
    [% END %]
    </dl>
[% END %]

[% IF ! housing_not_needed %]
    [% IF type == 'Total' %]
        <p>
        The prices below are the total charges for lodging$tuition
        and all meals.
    [% ELSE %]
        <p>
        The prices below are Per Person Per Day and include
        $bdays night$bdays_pl lodging$tuition and all meals.
    [% END %]
[% END %]

[% IF confnote %]
    <p>
    $confnote
[% END %]
[% IF reg_msg %]
    <p>
    $reg_msg
[% END %]

<input type=hidden value="$test" name=test >
<input type=hidden value="$dir" name=dir>
<input type=hidden value="$title" name=title>
<input type=hidden value="$dates" name=dates>
<input type=hidden value="$leader_names" name=leader_names>
<input type=hidden value="$name" name=name>
<input type=hidden value="$plink" name=plink>
<input type=hidden value="$pid" name=pid>
<input type=hidden value="$mountain_experience" name=mountain_experience>

[% IF pr %]
    <input type=hidden name=sdate value=$sdate>
    <input type=hidden name=edate value=$edate>
[% END %]

[% IF basicfull %]
    Length of Program
    <p>
    <span class="required">*</span>How many days do you want to attend?</p> 
    <ol>
    <li> 
    <input id="progchoice1" name="progchoice" type="radio" value="basic" />  
    <label for="progchoice1">$bdays days from $bdates</label>  
    </li>
    <li> 
    <input id="progchoice2" name="progchoice" type="radio" value="full" />  
    <label for="progchoice2">$fdays days from $fdates</label>  
    </li>
    </ol>
[% ELSE %]
    <input type=hidden name=progchoice value=basic>
[% END %]

<input type=hidden name=covid_vax value=$covid_vax>

[% IF covid_vax %]
    <h3>Covid 19 Protocols</h3>
    <!-- not any more for now ... 2/8/22
    <b>Masks</b>: The Santa Cruz County Health Department recently
    reinstated an indoor mask mandate requiring face coverings
    for everyone regardless of vaccination status.
    <p>
    -->
    <span style="font-weight: bold; color: red;">Covid 19 Vaccinations</span>: 
    Proof of full Covid vaccination is required with registration for all
    guests of MMC.  Note that our Covid policies may change between
    now and the time of your program.
    We will keep you informed of any such changes.
    <!--
    Due to the current escalation of cases of Covid-19 nationwide, we have
    determined the most responsible thing for the safety of all residents
    and guests is that everyone coming to MMC
    <span class=covid_must>must</span> be fully vaccinated.
    -->
    <p>
    Please take a picture of your vaccination card and upload it here:
    <p>
    <span class="required">*</span> <input type=file name=card>
    </div>
[% END %]

<h3>Registrant Information</h3>  
<table cellpadding=5>

<tr>
<th>
<span class="required">*</span> First Name:
</th>
<td><input type="text" name="fname" id="fname"
           value="$fname" placeholder="First Name"/>
</td>
</tr>

<tr>
<th>
<span class="required">*</span> Last Name:
</th>
<td><input type="text" name="lname" id="lname"
           value="$lname" placeholder="Last Name"/>
</td>
</tr>

<tr>
<th>
<span>*</span> Alternate Name:
</th>
<td><input type="text" name="aname" id="aname"
           value="$aname"
           placeholder="Alternate name for name tag (defaults to First"/>
</td>
</tr>

<tr>
<th>
<span class="required">*</span> Gender Identity<br>(for housing purposes):
<br>
<a href="javascript:popup('/registration-help/gender-housing.html', 230, 500)">How does my choice affect my housing?</a>
</th> 
<td>
<input type=radio name="gender" id="gender1" $female value="female"">
<label for="gender1">Woman</label><br> 

<input type=radio name="gender" id="gender2" $male value="male"> 
<label for="gender2">Man</label><br>

<input type=radio name="gender" id="gender4" $trans value="trans"> 
<label for="gender4">Transgender</label><br>

<input type=radio name="gender" id="gender3" $non_binary value="non_binary"> 
<label for="gender3" style='width: 400px'>Non-binary/non-conforming</label><br>

<input type=radio name="gender" id="gender5" $no_resp value="no_resp"> 
<label for="gender5">Prefer not to respond</label><br>
</td>
</tr>

<script>
function pronouns() {
    var w = window.open('', 'pronoun_win', 'width=400 height=200');
    w.document.write("<div style='margin: 10mm'>Please share the preferred pronouns you wish to use such as (in this format):<p>he/him/his, she/her/hers, ze/hir/hirs, or other.<p>More information here: <a style='color: teal; text-decoration: none' target=_blank href='https://pronouns.org/what-and-why'>why pronouns matter</a>.</div>");
    if (window.focus) {
        w.focus();
    }
    w.moveTo(700, 0);
}
</script>

<tr>
<th>
<span class="required">*</span> Preferred Pronouns:
<br><a href="javascript:pronouns();">Why prounouns matter</a>
</th>
<td>
<input type=text name="pronouns" id="pronouns"
       $pronouns value="$pronouns"
       placeholder="To appear on your guest name badge"> 
</td>
</tr>
</table>

</form>
</body>
</html>
