<html>
<head>
<style>
body {
    margin: .5in;
    font-size: 18pt;
}
</style>
</head>
<body>
Leader name: $leader_name<br>
Leader phone: $phone<br>
Leader email: <a href='mailto:$email'>$email</a><br>
Group name: $group_name<br>
Dates: $dates<br>
[% IF description %]
Description:<ul>$description</ul>
[% END %]
How many? $how_many<br>
Vegetarian okay? $vegetarian<br>
[% IF retreat_type %]
Retreat Type: $retreat_type<br>
[% END %]
[% IF needs %]
Needs: $needs<br>
[% END %]
How did you learn about MMC?: $learn<br>
[% IF what_else %]
What else should we know?<ul>$what_else</ul>
[% END %]
