<h2>Housing Costs</h2>
[% IF Catalyst.check_user_roles('prog_admin') %]
<a href="/housecost/create">Add</a>
[% END %]
<ul>
<table cellpadding=3 border=0>
<tr>
</tr>
[% FOREACH hc IN housecosts %]
<tr>
<td><a href="/housecost/view/[% hc.id %]">[% hc.name %]</a> [% IF hc.inactive == 'yes' %]*[% END %]<td>
</tr>
[% END %]
</ul>
