<h3>Reserving Entire Clusters for <a href=/rental/view/$rental.id>$rental.name</a></h3>
<span style="color: red">$houses_occupied</span>
<ul>
<table cellpadding=5>

<tr>
<td align=left valign=top>
<div id=available style="width: 200px">$available_clusters</div>
</td>
<td align=left valign=top>
<div id=reserved style="width: 200px">$reserved_clusters</div>
</td>
</tr>

</table>
</ul>
