<h2>Rentals</h2>
Warning!  Due to the changes you made to <a href="/rental/view/[% rental.id %]">[% rental.name %]</a> ...
<p>
[% IF names %]
These meeting places were deleted:
<p>
<ul>
[% names %]
</ul>
[% END %]
[% IF lunches %]
Any lunches were cleared.
[% END %]
