<h2>Roles</h2>

<ul>
<table cellpadding=3 border=0>

<tr>
<th align=right>Role</th>
<td>[% role.role %]</td>
</tr>

<tr>
<th align=right>Full Name</th>
<td>[% role.fullname %]</td>
</tr>

<tr>
<th align=right valign=top>Description</th>
<td>[% role.descr_br %]</td>
</tr>

</table>
</ul>
