<h2>Clusters</h2>
[% padmin = Catalyst.check_user_roles('prog_admin') %]
[% IF padmin %]
<a href=/cluster/create>Add</a>
[% END %]
<ul>
<table cellpadding=3 border=0>

<tr>
<th align=left>Name</th>
<th align=left>Order</th>
</tr>

[% FOREACH cl IN clusters %]
    <tr>
    <td><a href="/cluster/update/$cl.id">$cl.name</a></td>
    <td>$cl.cl_order</a></td>
    [% IF padmin %]
        <td width=20></td>
    [% END %]
    </tr>
[% END -%]

</table>
</ul>
