<h2>Automatic Mailings for HFS Membership</h2>
Click on the dates to see a sample of the letters that are automatically sent.
<p class=p2>
<ul>
<a target=letters href=/member/dec10gen>December 10 - General Members</a>
<p class=p2>
<a target=letters href=/member/dec10spons>December 10 - Sponsor Members</a>
<p class=p2>
<a target=letters href=/member/dec20>December 20 and February 11 - Lapsed Members</a>
</ul>
