<html>
<head>
<meta name="keywords" content="bay area yoga, bay area conference center, bay area retreat center, baba hari dass, vegetarian, meditation">
<!--
<style type="text/css">
<!--

aa {text-decoration: none; }
.style1 {font-family: Arial, Helvetica, sans-serif}

-->

<meta content="text/html; charset=iso-8859-1">
<title>
<!--T title1 --> <!--T title2 -->
</title>

<link href="/mmc.css" rel="stylesheet" type="text/css">

<meta http-equiv="Content-Type" content="text/html; charset=">

</head>
<!-- Begin Menu Bar -->
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload=
"MM_preloadImages(/Gif/navbar_home_f3.gif,/Gif/navbar_home_f2.gif,/Gif/navbar_programs_f3.gif,/Gif/navbar_programs_f2.gif,/Gif/navbar_rentals_f3.gif,/Gif/navbar_rentals_f2.gif,/Gif/navbar_community_f3.gif,/Gif/navbar_community_f2.gif,/Gif/navbar_yoga_f3.gif,/Gif/navbar_yoga_f2.gif,/Gif/navbar_links_f3.gif,/Gif/navbar_links_f2.gif,'/Gif/new_navbar/navbar_home_f3.gif','/Gif/new_navbar/navbar_home_f2.gif','/Gif/new_navbar/navbar_programs_f3.gif','/Gif/new_navbar/navbar_programs_f2.gif','/Gif/new_navbar/navbar_rentals_f3.gif','/Gif/new_navbar/navbar_rentals_f2.gif','/Gif/new_navbar/navbar_personal_retreats_f3.gif','/Gif/new_navbar/navbar_personal_retreats_f2.gif','/Gif/new_navbar/navbar_community_f3.gif','/Gif/new_navbar/navbar_community_f2.gif','/Gif/new_navbar/navbar_yoga_f3.gif','/Gif/new_navbar/navbar_yoga_f2.gif')">
<table width="825" align="center" cellpadding="0">
  <tr>
    <td><table border="0" cellpadding="0" cellspacing="0" width="825">
      <!-- fwtable fwsrc="navbar.png" fwbase="navbar_new.gif" -->
      <tr>
        <td><img src="/Gif/new_navbar/spacer.gif" width="133" height="1" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="130" height="1" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="152" height="1" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="149" height="1" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="110" height="1" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="119" height="1" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="32" height="1" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="1" height="1" border="0"></td>
      </tr>
      <tr>
        <td rowspan="3"><div align="right"><a href="/index.html" target="_top" onClick="MM_nbGroup(down,navbar1,navbar_home,/Gif/navbar_home_f3.gif,1);" onmouseover=
"MM_nbGroup(over,navbar_home,/Gif/navbar_home_f2.gif,/Gif/navbar_home_f3.gif,1);" onMouseOut="MM_nbGroup(out);"><img name="navbar_home" src="/Gif/navbar_home.gif" width="133" height="111"
border="0"></a></div></td>
        <td colspan="6"><img src="/Gif/new_navbar/spacer.gif" width="692" height="36" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="1" height="36" border="0"></td>
      </tr>
      <tr>
        <td><a href="/live/programs.html" target="_top"  onClick="MM_nbGroup('down','navbar1','navbar_programs','/Gif/new_navbar/navbar_programs_f3.gif',1)"  onMouseOver="MM_nbGroup('over','navbar_programs','/Gif/new_navbar/navbar_programs_f2.gif','/Gif/new_navbar/navbar_programs_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><img name="navbar_programs" src="/Gif/new_navbar/navbar_programs_f3.gif" width="130" height="43" border="0" alt="Programs"></a></td>
        <td><a href="/programs/rental.html" target="_top"  onClick="MM_nbGroup('down','navbar1','navbar_rentals','/Gif/new_navbar/navbar_rentals_f3.gif',1)"  onMouseOver="MM_nbGroup('over','navbar_rentals','/Gif/new_navbar/navbar_rentals_f2.gif','/Gif/new_navbar/navbar_rentals_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><img name="navbar_rentals" src="/Gif/new_navbar/navbar_rentals.gif" width="152" height="43" border="0" alt="Rent our Facilities"></a></td>
        <td><a href="/personal" target="_top"  onClick="MM_nbGroup('down','navbar1','navbar_personal_retreats','/Gif/new_navbar/navbar_personal_retreats_f3.gif',1)"  onMouseOver="MM_nbGroup('over','navbar_personal_retreats','/Gif/new_navbar/navbar_personal_retreats_f2.gif','/Gif/new_navbar/navbar_personal_retreats_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><img name="navbar_personal_retreats" src="/Gif/new_navbar/navbar_personal_retreats.gif" width="149" height="43" border="0" alt="Personal Retreats"></a></td>
        <td><a href="/community/index.html" target="_top"  onClick="MM_nbGroup('down','navbar1','navbar_community','/Gif/new_navbar/navbar_community_f3.gif',1)"  onMouseOver="MM_nbGroup('over','navbar_community','/Gif/new_navbar/navbar_community_f2.gif','/Gif/new_navbar/navbar_community_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><img name="navbar_community" src="/Gif/new_navbar/navbar_community.gif" width="110" height="43" border="0" alt="Community"></a></td>
        <td><a href="/yoga/index.html" target="_top"  onClick="MM_nbGroup('down','navbar1','navbar_yoga','/Gif/new_navbar/navbar_yoga_f3.gif',1)"  onMouseOver="MM_nbGroup('over','navbar_yoga','/Gif/new_navbar/navbar_yoga_f2.gif','/Gif/new_navbar/navbar_yoga_f3.gif',1)" onMouseOut="MM_nbGroup('out');" ><img name="navbar_yoga" src="/Gif/new_navbar/navbar_yoga.gif" width="119" height="43" border="0" alt="Yoga"></a></td>
        <td rowspan="2"><img src="/Gif/new_navbar/spacer.gif" width="32" height="75" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="1" height="43" border="0"></td>
      </tr>
      <tr>
        <td colspan="5"><img src="/Gif/new_navbar/spacer.gif" width="660" height="32" border="0"></td>
        <td><img src="/Gif/new_navbar/spacer.gif" width="1" height="32" border="0"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="825"><div align="left">
      <table width="825" align="left" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left" valign="top"><!-- InstanceBeginEditable name="Sidebar" -->
            <TABLE cellSpacing=0 cellPadding=0 border=0>
              <TBODY>
              <TR>
                <TD><IMG height=18 
                  src="/Gif/greenbox_upper_left.gif" width=10></TD>
                <TD background=/Gif/greenbox_top.gif>&nbsp;</TD>
                <TD><IMG height=18 
                  src="/Gif/greenbox_upper_right.gif" width=10></TD></TR>
              <TR>
                <TD background=/Gif/greenbox_left.gif></TD>
                <TD bgColor=#c3d7d6>
                  <TABLE width="100%" align=center cellPadding=10>
                    <TBODY>
                    <TR>
                      <TD vAlign=top><center><!--T picture --></center></TD>
                    </TR></TBODY></TABLE></TD>
                <TD background=/Gif/greenbox_right.gif></TD></TR>
              <TR>
                <TD><IMG height=10 
                  src="/Gif/greenbox_lower_left.gif" width=10></TD>
                <TD background=/Gif/greenbox_bottom.gif 
                height=10></TD>
                <TD><IMG height=10 
                  src="/Gif/greenbox_lower_right.gif" 
              width=10></TD></TR></TBODY></TABLE><!-- InstanceEndEditable --></td>
          <td width="620" align="left" valign="top"><!-- #BeginEditable "body" -->
            <TABLE cellSpacing=0 cellPadding=0>
              <TBODY>
              <TR>
                <TD vAlign=top>&nbsp; </TD>
                <TD vAlign=top width="100%">
                  <TABLE cellSpacing=0 cellPadding=0>
                    <TBODY>
                    <TR>
                      <TD vAlign=top></TD>
                      <TD vAlign=top width="100%">
                        <TABLE cellSpacing=0 cellPadding=0 
border=0>
                          <TBODY>
                          <TR>
                            <TD><IMG height=18 
                              src="/Gif/whitebox_upper_left.gif" 
                              width=20></TD>
                            <TD background=/Gif/whitebox_top.gif 
                            height=18>&nbsp;</TD>
                            <TD><IMG height=18 
                              src="/Gif/whitebox_upper_right.gif" 
                              width=20></TD></TR>
                          <TR>
                            <TD 
                            background=/Gif/whitebox_left.gif>&nbsp;</TD>
                            <TD bgColor=#ffffff>
                              <p>
							  <span class="ptitle"><!--T title1 --></span>:<br>
                              <span class="psubtitle"><!--T title2 --></span><br>
							  <span class="pdates"><!--T dates --></span>
							  </P>
                              <p><A 
                              href="http://www.mountmadonna.org/cgi-bin/dreg1?test=1&prognum=<!--T prognum -->"><IMG 
                              alt="Reserve Housing" 
src="/Gif/OGS-Button.png" width=147 height=32 border=0></A></P>
			      <!--T webdesc_plus -->
			      <!--T weburl -->
			      <!--T leader_bio -->
			     <ul><!--T fee_table --></ul>
                              <P align=left>
<A href="http://www.mountmadonna.org/cgi-bin/dreg1?test=1&prognum=<!--T prognum -->"><IMG 
                              alt="Reserve Housing" 
                              src="/Gif/OGS-Button.png" 
                              width=147 height=32 border=0 
                              ></A></P>
<ul>
<li><!-- T cancellation_policy -->
<li>Retreat registration is from 3:00-5:00 the first day.
<li>Dinner is served from 5:30-6:30 on Friday and 5:00-6:00 on other days.
<li>If you will be arriving late, please ask us to save a dinner for you.
<li>Orientation begins at 6:30 pm.
<li>The program will end about midday on the final scheduled day.
</ul>
                            <TD 
                            background=/Gif/whitebox_right.gif>&nbsp;</TD></TR>
                          <TR>
                            <TD><IMG height=18 
                              src="/Gif/whitebox_lower_left.gif" 
                              width=20></TD>
                            <TD 
                            background=/Gif/whitebox_bottom.gif>&nbsp;</TD>
                            <TD><IMG height=18 
                              src="/Gif/whitebox_lower_right.gif" 
                              width=20></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
							  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-303243-2";
urchinTracker();
</script>
<!-- #EndEditable --></td>
          <!-- Begin Menu Bar -->
        </tr>
        <tr>
          <td align="left" valign="top"></td>
          <td width="620" align="left" valign="top" class="style1">              <br>
              <center>
          Click on the <a href="/index.html"><img src="/Gif/mmc_logo.gif" width="45" height="32" border="0" align="middle"></a> to
          return to the MMC home page
              </center>
                <hr align="center" width="80%" noshade>              <center>
          Mount Madonna Center &bull; 445 Summit Rd, Watsonville, CA 95076 &bull; Phone
          (408) 847-0406 &bull; Fax (408) 847-2683<br>
          e-mail <a href="mailto:programs@mountmadonna.org" class="style2">programs@mountmadonna.org</a><br>
          Webmaster: <a href="mailto:webmaster@mountmadonna.org" class="style2">webmaster@mountmadonna.org</a>
          <br>
          A Project of<br>
                  <a href="http://www.hanumanfellowship.org" target="_blank"><img src="/Gif/logoHF.jpg" width="150" height="43" border="0"></a><br>
                  Copyright <!-- T current_year -->, Hanuman Fellowship. All rights reserved. &bull; Last updated <!-- T current_date -->
                  <br>
</center>
            </td></tr>
      </table>
        </div></td>
  </tr>
</table>
</body>
</html>
