-cancellation_policy <!--T cancellation_policy --><br>
-dates <!--T dates --><br>
-dates_tr <!--T dates_tr --><br>
-dates_tr2 <!--T dates_tr2 --><br>
-desc <!--X desc --><br>
-email <!--X email --><br>
-eventlist <!--X eventlist --><br>
-fee_table <!--T fee_table --><br>
-firstprog_nextmonth <!--T firstprog_nextmonth --><br>
-firstprog_prevmonth <!--T  firstprog_prevmonth--><br>
-fname <!--T fname --><br>
-prognum <!--T prognum --><br>
-leader_bio <!--T leader_bio --><br>
-leader_names <!--T leader_names --><br>
-month_calendar <!--T month_calendar --><br>
-nextprog <!--T nextprog --><br>
-phone <!--X phone --><br>
-picture <!--T picture --><br>
-prevprog <!--T prevprog --><br>
-prog_dates_style <!--T prog_dates_style --><br>
-title1 <!--T title1 --><br>
-title1_barnacles <!--T title1_barnacles --><br>
-title2 <!--T title2 --><br>
-title2_barnacles <!--T title2_barnacles --><br>
-webdesc_plus <!--T webdesc_plus --><br>
-weburl <!--T weburl --><br>
